[2016-01-06 21:16] mikermcneil commented on #3273
@robertd @robgrimball  looking into this today, thanks for the ping

[2016-01-07 00:06] sgress454 commented on #3454
@vagnernascimento `keepResponseErrors` is a feature introduced in the upcoming v0.12 release--apparently it mistakenly made its way into the docs early.  Sorry about that!

The good news is that we just published a new version of the generator module that creates those response files, and since v0.11.x uses the same generator you should be able to get the newest code.  You'll need to re-install Sa

[2016-01-07 00:06] #3454 closed

[2016-01-07 00:40] sgress454 commented on #3450
You're misunderstanding how `execArgv` works here--it's an easy mistake to make.  `process.execArgv` contains the command-line options of the _parent process_.  In the case of Sails, that's Node itself.  So if you started your app with:

[code]

then `process.execArgv` would be `['harmony']` (notice the absence of `silly`).  That's what would then be passed down to the Node executable when it fork

[2016-01-07 00:40] #3450 closed

[2016-01-07 00:44] sgress454 commented on #3449
@j0h The policies should absolutely be applied in the order in which they are listed, not backwards.  I just tried this myself on a fresh project and it worked as expected.  Do you have a global `*` policy setting that might be running before the `Todocontroller.*` block?

[2016-01-07 00:46] sgress454 commented on #3446
HI @sriducati, thanks for using Sails!

This forum is for reporting bugs in the Sails core.  For questions like this, please try our [Google Group](https://groups.google.com/forum/#!forum/sailsjs), [live chat](https://gitter.im/balderdashy/sails?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) or [StackOverflow](http://stackoverflow.com).

[2016-01-07 00:46] #3446 closed

[2016-01-07 00:48] sgress454 commented on #3401
This has been updated to 1.4.0.  Thanks!

[2016-01-07 00:48] #3401 closed

[2016-01-07 02:35] #3451 closed

[2016-01-07 02:36] mikermcneil commented on #3451
@chenweiyj if you wouldn't mind posting a link back here when you post that issue, it'll automatically create a back-reference here for anyone who might be arriving at this issue via search engine.

Thanks!

[2016-01-07 03:33] mikermcneil commented on #3343
@tarlepp @weyert agreed on all counts. And @irobayna, thanks for the data point

@hellowin are you seeing issues w/ Node 5.x?

@mahtuag we keep a set of build lights [here](https://github.com/balderdashy/sails/blob/master/CONTRIBUTING.md#installing-different-versions-of-sails) which show the status of edge vs. beta (rc) vs. our stable release.

[2016-01-07 03:35] chenweiyj commented on #3451
I have solved this problem. Because the 'string' is 'varchar(255)' in mysql, and I use utf8mb4 encoding, the unique index will exceed 767 bytes. This causes the problem.

[2016-01-07 03:43] udanpe commented on #3460
Josebaseba was right. or you write hooks for use sails with express 4 or change express for other core or sails will be dead.
As long as the version of Express we're using meets that standard, we're not that inclined to upgrade - its nor ruby way

[2016-01-07 04:21] mikermcneil commented on #3460
@udanpe I'm sorry, I think all the different posts have made this kind of confusing.  To be clear, **I am not against this kind of an upgrade**-- however I don't agree that we should upgrade for no reason.  I really appreciate @josebaba's work, and I wish we could have communicated about it beforehand to further discuss the approach that @dougwilson and I discussed.

First of all, I'll reiterate:

[2016-01-07 04:27] mikermcneil commented on #3464
:+1: @sgress454 :droplet:  :zap:

To add a bit more color:  As @sgress454 pointed out, with the exception of the socket.io-client thing (which @rauchg is on top of) the remaining vulnerabilities not addressed by 0.11.4 are from grunt-contrib-watch (which is only used in development) and express-handlebars (for which we've added a warning).

I'll leave this issue open until the socket.io-client dep

[2016-01-07 04:33] mikermcneil commented on #1684
@garysui if you're still experiencing compatibility issues, would you mind elaborating in a new issue with some specifics?

@gfaceless @damonYuan @JemiloII @carloscarcamo Hey guys, appreciate your feedback.  I just clarified the reasoning for our approach here:  https://github.com/balderdashy/sails/issues/3460#issuecomment-169545356

@andyhu using the dependencies of express 5 directly as discusse

[2016-01-07 04:41] mikermcneil commented on #3451
@chenweiyj appreciate you taking the time to post back here-- it'll help other folks in the future if they run into a similar problem.  If you think of a useful addition to the docs that would have saved you time, please feel free to submit a PR to sails-docs.  Thanks!

[2016-01-07 04:45] mikermcneil commented on #3452
Hi and welcome, @super-iterator.  StackOverflow would be a better platform for a question like this- would you mind picking it up there?

I will say that the only thing that can block V8's event loop is synchronous logic-- and there's nothing inherently bad about that.  While `createReadStream()` is synchronous, so is addition (`+`). The dangerous thing is when operations that should be asynchrono

[2016-01-07 04:47] mikermcneil commented on #1238
@silenceisgolden @internalfx @kristianmandrup see https://github.com/balderdashy/sails/issues/1684#issuecomment-169547093

[2016-01-07 05:30] #3452 closed

[2016-01-07 05:34] mikermcneil commented on #3456
@aars thank you!

@umair321 the config approach works great for these sorts of credentials but as @aars, it's usually not the best idea to check in credentials such as these into your repository (unless you're fine with everyone with access, and everyone who might ever have access, being able to see them-- which is ok sometimes too.)

[2016-01-07 05:48] mikermcneil commented on #3362
@AshKyd @alexandrubau @wulfsolter @aug70 @FuzzySockets Thanks everyone.  If you think of a clean way to explain this warning in our docs for other folks stumbling upon this from search results in the future, would you mind sending a pull request to sails-docs?

It wouldn't be a bad idea to add a new folder and page (perhaps under http://sailsjs.org/documentation/concepts/models-and-orm) which incl

[2016-01-07 05:50] mikermcneil commented on #3416
Great answer, @japel.

[2016-01-07 06:05] #3416 closed

[2016-01-07 06:46] umair321 commented on #3456
I am agree with both of you and will take care about it from my next projects.

[2016-01-07 06:46] mikermcneil commented on #3273
see https://github.com/balderdashy/sails/pull/3462#issuecomment-169570569

[2016-01-07 06:56] mikermcneil commented on #2938
@nikhiljohn10 The rest of the core team and I spent a lot of time analyzing this and other memory concerns earlier this year when we were first scaling the production deployment of Treeline.  What we learned is that the 140-160MB RAM usage in development is probably due to the Grunt child process running in the background, along with the fact that Sails has more dependencies than Express.  We've n

[2016-01-07 06:57] mikermcneil commented on #2938
@huguangju re: upgrading Express, see https://github.com/balderdashy/sails/issues/3460#issuecomment-169545356 for our plans.

[2016-01-07 09:09] j0h commented on #3449
Yes, I do. It is set to `false`.

This should provide a complete (working) example:
[code]

I did not expect the global policy to influence the iteration order.

[2016-01-07 09:50] AlexanderKozhevin commented on #1649
I didn't found a way to configure request on client side to search by object property.
LIke "about.rank": 500.

It works on server side

sails.models.hack.find({'about.rank': 600}).exec(function(err, found){
res.json(found)
})

But I can't figure out how to form url.

[2016-01-07 10:09] megakoresh opened #3466 "Dependency upgrade?"
Hi, I don't really know what all that fuss about Express 4 was (not even gonna link it), but I have recently been very frustrated with how out of date many of Sails dependencies are(particularly lodash). And I am not sure sticking to those old versions is actually necessary.

For example I forced lodash v3.1.0 and everything worked totally fine (using sails-azuretables and sails-disk adapters). An

[2016-01-07 10:21] AlexanderKozhevin opened #3467 "How to set up query params to search in object properties?"
I can create my own method to search items by object property. Like  this.
[code]
And it works great. But I didn't find the way to set up ***get*** params.
I tried to make it via url encoding, like this
[code]
And tried without ***where***
[code]
[code]

[2016-01-07 11:34] japel commented on #3467
@AlexanderKozhevin
The right way to query subobject attributes is same as mongodb, you have to pass them as dot-notated strings:
so your get request would look like this:
http://95.213.199.70/api/hack/find?where={"about.rank":500}
check if that solves your issue.

[2016-01-07 11:36] japel commented on #3467
btw. your api is publicly accessible, do you really want that?

[2016-01-07 11:45] japel commented on #3466
@megakoresh I somewhat agree with you... but then again not... dependency management is no easy task, and although something seems to work at first glance, it does not mean that it really works as espected, unless there are tests that cover it.
But then, again, the longer you wait the more challenging it gets to update to the latest stable version of a package, specially if there were big api chan

[2016-01-07 12:26] AlexanderKozhevin commented on #3467
@japel Thanx.
Yeap. That's good. Strange, it doesn't with url encoded.
Yes, the server is public right now. But i'm using it just for minor test.

[2016-01-07 12:26] #3467 closed

[2016-01-07 13:54] AlexanderKozhevin opened #3468 "Grunt memory issue."
I got a tiny server with 512Mb of memory, so I noticed issue about grunt.
After running the sails app Grunt is left in processes and uses 27% of memory which is about 140Mb.
I killed it  and server continued to work fine. What's the point to run grunt after build is finished?
Is there an easy way to fix it?

![screen shot 2016-01-07 at 16 49 48](https://cloud.githubusercontent.com/assets/4464561/1

[2016-01-07 14:39] megakoresh commented on #3466
Some already have. I just want to bring this issue to light so to speak.

[2016-01-07 14:42] japel commented on #3466
:+1:

[2016-01-07 15:36] devnomad commented on #1684
@mikermcneil hapi is great to use. It features strong validations (joi) and its architecture is modular. It also is battle-tested; see who's using it (http://hapijs.com/community). After the recent events (I'm averse to politics), I decided to switch from sails to hapi... (it was easy because I was using sails as an api backend). I've looked at Koa; it's great, but it looks like you could use hapi

[2016-01-07 16:11] garrettjoecox commented on #3441
Still not able to get this working, tried the solutions above and on the docs.. Frustrating..

[2016-01-07 16:17] chenweiyj opened #3469 "how to make my sails app to use local js and css dependencies in dev and cdn in prod?"
I want to use cdn for something like bootstrap, jquery in production mode. But in local development, I still want to use auto inject js and css dependencies. How can I do it automatically?

[2016-01-07 16:51] justincy commented on #3367
I hit this too. Spent much time on it. This ought to be bug.

[2016-01-07 16:58] mikermcneil commented on #3469
Sorry for all the tagging. Using GitHub labels on your phone is like using a microscope with your thumbs!

What I'd suggest is an EJS if..then that shows one script tag if sails.environment==='production' and a different script tag otherwise.

[2016-01-07 17:00] chenweiyj commented on #3451
@mikermcneil thank you for mentioning me to submit a PR to sails-docs. It is done by PR #612

[2016-01-07 17:12] mikermcneil commented on #3451
Thanks @chenweiyj!

[2016-01-07 17:17] #3469 closed

[2016-01-07 17:32] mikermcneil commented on #3469
[code]

[2016-01-07 17:43] glemiere opened #3471 "GET - /User?where={"userSettings.role": "Admin"}"
Hi !
I come here to know if there is a way to make a get request with the parameter "where" using a sub object to filter results by an associated model.

Example : I want to list every administrators, the data used to store this information is userSettings.role (userSettings and User are linked by a one to one relationship). is their a way to do something like :

GET -  /User?where={"userSettings.

[2016-01-07 17:43] ksylvan commented on #3423
Ha ha ha! <3

[2016-01-07 17:52] jasalazar commented on #3464
Hello everyone, i am starting the Sails way and it's awesome!

How can i update to this release on my current Sails project?

Thanks a lot!

[2016-01-07 18:09] japel commented on #3423
<3

[2016-01-07 18:27] parkeragee opened #3472 "Error: Cannot find module 'buffer-crc32' on Sails install"
Missing a module on a clean Sails install.

`Error: Cannot find module 'buffer-crc32'`

[2016-01-07 19:28] shamasis commented on #3460
@mikermcneil +1 - I agree on not upgrading for the sake of version number

[2016-01-07 19:44] robgrimball commented on #3273
I've been experiencing some PC issues today, but hopefully they are clearing up and I will try to get this tested out tomorrow (Fri 1/8) to let you know!  Thanks!

[2016-01-07 19:59] AlexanderKozhevin commented on #3471
The solution is here. I had the same problem.
https://github.com/balderdashy/sails/issues/3467

[2016-01-07 22:42] udanpe commented on #3460
I understand what you mean but... For example. I create project and use passportjs. Now its work but after 1 month passport will updates (express 3 is deprecated) so new passport support only 4 version. After 2 month we have security bug in old version passportjs or change oauth or something else. Why is fault passport or sails?

[2016-01-07 22:55] mikermcneil commented on #3472
@parkeragee looking into it-- 0.11.4?

[2016-01-07 22:58] mikermcneil commented on #3460
@udanpe is there a security bug you're experiencing currently?  If so, please let us know immediately and we'll address it.

[2016-01-07 22:59] mikermcneil commented on #3460
Actually, I think I may have misunderstood you- sorry.  Do you mean that @jaredhanson is planning on making Passport no longer work with Express 3?

[2016-01-07 23:04] mikermcneil commented on #3466
Hi @megakoresh- sorry to hear you've been frustrated by the deprecation messages in the logs when you install Sails in a new project.  We've spent a considerable amount of effort running our automated tests and performing manual tests (lifting existing apps and being sure Grunt picks up changes, deleted files, etc.) and locked our dependencies to versions that we consider production-ready.

If you

[2016-01-07 23:05] mikermcneil commented on #3464
@jasalazar you can update by running `npm install sails@latest --force --save`.  Hope that helps!

[2016-01-07 23:15] mikermcneil commented on #3472
@parkeragee ran this test on different machines in different locations on different versions of Node and NPM and couldn't replicate this exact problem.  However there do seem to be some anomalies going on with NPM at the moment (we noticed other issues that were intermittent).

[2016-01-07 23:22] mikermcneil commented on #3472
@parkeragee would you mind trying again and letting us know if you still see the issue?

[2016-01-07 23:30] udanpe commented on #3460
I don't know what will happen in future. I Want sleep free of worry. I don't use sails now but i see this project sometimes. If you update all dependence, write new features, change site design i think you will have more users. Now project doesn't look seriously. Maybe it's only my mind. I am afraid to use the older dependency and don't want every day rewrite Projects

[2016-01-07 23:36] mikermcneil commented on #3469
@chenweiyj see also http://sailsjs.org/documentation/reference/configuration/sails-config#?sailsconfigenvironment

[2016-01-07 23:41] mikermcneil commented on #3459
@fernandolguevara looks neat!

@ksylvan What we normally do is take care of this in a custom action.  I'm working on better documentation for this today (and re: https://github.com/balderdashy/sails/pull/3462) so I can write up an example if that would be helpful.

[2016-01-07 23:55] #3273 closed

[2016-01-08 02:12] chenweiyj commented on #3469
@mikermcneil not all the inject js is for development. I only want those vendor's scripts to be injected for development. But my custom scripts like angular controllers should be injected for both production and development.

[2016-01-08 07:13] unagi2020 opened #3473 "Validation for navtive updates and creates"
I have switched to native using sails-mongo and my validation are not getting honored. I read in few places that native skips model validations along with before and after methods . I am wrapping native method using Promises and following is sample code

    return new Promise(function (resolve, reject) {
      User.native(function(err, collection) {
        collection.insert(userdata, function (e

[2016-01-08 08:14] mikermcneil commented on #2695
@gotmikhail @stensrud @joshuamarquez @rh0dium thanks for the help guys!

@bberry6 @felixmc as @gotmikhail pointed out above, there's some additional points covered in https://github.com/balderdashy/captains-log/issues/16 that might be helpful.  Specifically, https://github.com/balderdashy/captains-log/issues/16#issuecomment-169890710 is a pretty thorough example of another way to completely overri

[2016-01-08 11:25] udanpe opened #3474 "Rewrite .editorconfig"
Change [ * ] to [ *.js ] in .editorconfig
2 space: 403.ejs 404.ejs 500.ejs
4 space: homepage.ejs layout.ejs
Maybe write for [ *.ejs ] too?

[2016-01-08 11:57] #3474 closed

[2016-01-08 12:04] mikermcneil commented on #3473
Hi @unagi2020- when you drop down to using native for a particular query, you circumvent Waterline's lifecycle callbacks and validations.  I'd suggest wrapping any calls to `.native()` or `.query()` in your apps in a [machine](http://node-machine.org/implementing/Your-First-Machine) or [service](http://sailsjs.org/documentation/concepts/services) function, and also implementing validation and data

[2016-01-08 12:09] udanpe commented on #3474
So, you will change [ * ] to [ *.js ] in .editorconfig or we must change this every times when installing new project? use difference spaces in ejs file not seriously too.

[2016-01-08 12:11] #3473 closed

[2016-01-08 12:17] mikermcneil commented on #3444
@crh3675 wonderful advice.  Nothing against passport-- I've just found it's easier in reality to use policies and the session directly.

@robertoandres24 for some conceptual background, you might check out https://github.com/sails101/basic-login

[2016-01-08 12:18] mikermcneil commented on #3407
We'll be sticking with EJS.

[2016-01-08 12:18] #3407 closed

[2016-01-08 12:23] niallobrien commented on #3407
@mikermcneil Why? Clearly people would like to see Sails move to a templating language that's relevant in today's market, is supported (Bitovi have archived EJS from what I can see) and have it be the default with Sails out of the box. Yes, changing templating languages is easy, but if if the first thing the majority do is change the templating language, then that's surely an indication of frictio

[2016-01-08 12:38] mikermcneil commented on #3429
To bring some closure to this issue: the rest of the core team and I are as committed as ever to the continued development and support of Sails and Waterline.  If you have questions or concerns about our team, what we're working on, or where we're headed, please don't hesitate to [reach out to me directly](mailto:mission@treeline.io).

[2016-01-08 12:39] udanpe commented on #3474
Directories images js style need rename to img js css because it's standart or images javascripts styles (but if i don't use pluralize it's look strange) I understand that this is not so important but...

[2016-01-08 12:47] mikermcneil commented on #3444
@robertoandres24 by the way, in case this helps: for your particular use case here, I'd recommend writing [a custom action](https://github.com/balderdashy/activity-overlord-2-preview/blob/master/api/controllers/PageController.js#L18).

If you could use some help getting going with that, beyond the tutorial in the repo I linked to above, you might also find Irl's [Activity Overlord 2.0](https://git

[2016-01-08 12:53] #3409 closed

[2016-01-08 12:53] #3444 closed

[2016-01-08 12:55] mikermcneil commented on #3409
@RomainLanz @crh3675 Thanks guys.

@LeonardoGentile Howdy!  You're on the right track-- have a go with `globalId`.  For future reference, this property is added in the [`orm` hook](https://github.com/balderdashy/sails/blob/master/lib/hooks/orm/load-user-modules.js#L16) which calls out to Sails' `moduleloader` using `sails.modules.loadModules()` (this is where the `globalId` comes from).  Hope that

[2016-01-08 13:00] mikermcneil commented on #3343
@mahtuag forgot to mention you can view build status of all of our core modules, as well as some community adapters, in [MODULES.md](https://github.com/balderdashy/sails/blob/master/MODULES.md#core-modules).

[2016-01-08 13:06] mikermcneil commented on #3468
@AlexanderKozhevin Hmm, are you running your app in development?  That's the only reason the Grunt child process should be hanging around if you're using the default asset pipeline (because of the Grunt watch task).  Be warned: your mileage may vary (completely depends on what Grunt tasks you're using).

I recently did a relatively thorough pass at documenting the Grunt hook in case that's helpful

[2016-01-08 13:10] mikermcneil commented on #3468
Here's where the grunt hook handles the "exit" event from the Grunt child process if you're running your app in production mode: https://github.com/balderdashy/sails/blob/master/lib/hooks/grunt/index.js#L272

In development, the hook's [initialize callback](https://github.com/balderdashy/sails/blob/master/lib/hooks/grunt/index.js#L79) is triggered almost immediately after the child process _fires

[2016-01-08 13:16] mikermcneil commented on #3432
@slavafomin I've definitely run into problems like this in the past... only to realize they were timing issues in my app level code :sheep:.  However, as @kevinburkeshyp @wulfsolter and @particlebanana pointed out, this sort of thing oftentimes comes from `migrate: 'alter'` too.  Realistically, it's hard to say until you have some more diagnostics on the weird queries you're seeing, etc.  Thanks f

[2016-01-08 13:21] mikermcneil commented on #3367
@JoaoCnh @justincy sorry to hear that- what version of Sails are you seeing this on?  We're currently developing using JST templates in Treeline using the latest Sails from master, but we're also using v0.11.x in prod and haven't run into this particular issue.

@obj63mc @psdao1102 thanks for posting your solutions!

[2016-01-08 13:25] mikermcneil commented on #3425
@mikaelcom :boom:  :banana:  is on the case

[2016-01-08 13:30] japel commented on #3412
@sgress454 I see, thank you for clarifying.

[2016-01-08 13:31] mikermcneil commented on #3449
@j0h I think I see what's going on here-- the policies don't cascade; they override.  Does that make sense? You can read more info on that in the [policy](http://sailsjs.org/documentation/concepts/policies#?to-apply-a-policy-to-an-entire-controller) conceptual docs on sailsjs.org.  Hope that helps!

@shamasis @sgress454 and thanks for the help guys :ear: :smiley: :ear:

[2016-01-08 13:33] mikermcneil commented on #3343
I did https://github.com/balderdashy/sails/commit/18b295b2a91fff5d80b5a4b6099d7adc507dc552#diff-354f30a63fb0907d4ad57269548329e3 and then got https://travis-ci.org/balderdashy/sails/builds/101059128.  :+1:

[2016-01-08 13:36] mahtuag commented on #3343
@mikermcneil a link from README.md would probably make it a lot more visible!

[2016-01-08 13:44] mikermcneil commented on #3343
@mahtuag appreciate your feedback, and I don't mean to offend. I've posted more details about my reasoning [here](https://github.com/balderdashy/sails/pull/3410#issuecomment-169576453) if you're curious.

Back to Sails on Node v4 and v5.  From the latest master branch, just confirmed that:
+ @tarlepp [all tests are passing on Node 4.2.4](https://travis-ci.org/balderdashy/sails/jobs/101061203)
+ @h

[2016-01-08 13:44] #3343 closed

[2016-01-08 13:50] mikermcneil commented on #3423
@ksylvan @japel @shamasis thanks for the feedback guys.  I'll let @sailsbot end this one with a bang for old time's sake.

[2016-01-08 13:51] mikermcneil commented on #2178
@RWOverdijk I see this as a broader issue beyond Sails and with dep. management in general.  Personally, I'm a big fan of CJS, but I know that it's not everyone's favorite.

[2016-01-08 13:57] j0h commented on #3449
If they would cascade, I had no access to the controller, thus overriding is intended on my side. Still I would expect the policy I mentioned to look like this:
[code]

If I get @sgress454 right, then

[code]
is a working example. Saying working I mean the iteration order being a natural ascending one.

Thank you all for your answers! :-)

[2016-01-08 13:57] mikermcneil commented on #3339
@harindaka Nope!  You're right on target.  Sails core is implemented almost entirely as hooks-- it's the recommended way to go about customizations like this.  When I've done this sort of thing in the past (usually on the front-end, since personally I'm a fan of CJS), I've implemented it by first building a dependency graph, then using that graph to wire up actual references.

These days, we use [

[2016-01-08 13:58] mikermcneil commented on #3339
One more thing to add, in case this helps for your hook, @harindaka:  http://requirejs.org/docs/node.html

[2016-01-08 14:01] #3339 closed

[2016-01-08 14:01] #3423 closed

[2016-01-08 14:01] mikermcneil commented on #3471
@glemiere welcome :)
@AlexanderKozhevin thanks for posting your solution!

[2016-01-08 14:05] mikermcneil commented on #3461
@serjrd please keep us posted-- if you continue to see these error messages and can't pin it down to a userland bug after trying the approaches above, definitely open another issue and we'll help you get to the bottom of it.

[2016-01-08 14:07] mikermcneil commented on #3449
@j0h ah I see-- and no problem :)

[2016-01-08 14:10] mikermcneil commented on #3402
@niallobrien stewing in the old noggin at the moment-- was hoping to get some feedback on the proposal there.  Whatcha think?

[2016-01-08 14:12] RWOverdijk commented on #3407
@niallobrien Sails isn't married to ejs. If you don't like it, use something else? I don't use server-side templating _at all_, because that's not "relevant to today's market".

[2016-01-08 14:16] RWOverdijk commented on #2178
@mikermcneil But specifically for sails it could help a lot to use the service pattern. Right now, I have to loop through my services on bootstrap to call "init" because services are loaded too early.

[2016-01-08 14:16] #3449 closed

[2016-01-08 14:16] #3461 closed

[2016-01-08 14:16] #3471 closed

[2016-01-08 14:20] mikermcneil commented on #3464
Update: Guillermo patched [`socket.io-client`](https://www.npmjs.com/package/socket.io-client) and [`socket.io`](https://www.npmjs.com/package/socket.io) for everyone last night. We'll bump the generators today, and the do another patch to sails-hook-sockets to bump the deps once we've had a chance to do some more in-depth testing (likely tomorrow or Monday -- the only thing that will be affected

[2016-01-08 14:33] mikermcneil commented on #2178
Here's an example of how you might factor that out as a hook:

[code]

But honestly, better yet, I'd recommend just writing those services using `init` functions as hooks (using the built-in `initialize` function instead).  That's pretty much exactly the problem hooks and events have solved for Sails core from the beginning, so I think you might find it useful for that sort of stuff.  Just my 2¢.

[2016-01-08 14:43] justincy commented on #3367
I'm using v0.11.3

[2016-01-08 14:48] mikermcneil commented on #3407
@niallobrien It's not just because I'm a big fuddy duddy and it's what we use in all our projects (but that is also true)-- it's just that I believe it's the most practical approach.  This is actually one of the things I covered in one of [my first talks about Sails](http://video.nodepdx.org/video/14/intro-to-sailsjs), and one of the things that's still most relevant today.  The reason why I made

[2016-01-08 14:59] zivc opened #3475 "Packaging a build"
Hi,

Are there any guides to deploying sails in production, without having to deploy all dependencies and other modules - essentially removing grunt from the whole entire task?

Idea is to build all assets and then deploy the sails package that just runs without having to do any grunt tasks?

Cheers,

Ash

[2016-01-08 15:00] AlexanderKozhevin commented on #3468
Yes, you right. My fault. I was running app in ***development*** env.
In ***production*** grunt exits right after build.
@mikermcneil , Thanx a lot!

[2016-01-08 15:00] #3468 closed

[2016-01-08 15:47] particlebanana commented on #3475
@zivc sure! There are a few different ways, the easiest is to turn off Grunt in the sailsrc file. You can do that like so:

[code]

The other option and the way I like is to have Grunt work in development mode and turn itself off in production. To do this I edit the `app.js` file to check the environment and modify the hooks accordingly. It looks a bit like this:

[code]

Then you can run grunt ma

[2016-01-08 15:47] #3475 closed

[2016-01-08 15:56] serjrd commented on #3461
@mikermcneil
Yup, I do keep seeing those errors. And unfortunately I still don't know what causes it and how to reproduce it.

Here's my current understanding of what's going on. Please correct me if you think I'm wrong.

Requests like `GET /socket.io/?__sails_io_sdk_version=0.11.0&__sails_io_sdk_platform=browser&__sails_io_sdk_language=javascript&EIO=3&transport=polling&t=1452263236852-7&sid=LsKp

[2016-01-08 15:58] mikermcneil commented on #3407
To bring some closure to the discussion earlier on in this issue, re:

@RomainLanz @niallobrien @mirago @randallmeeker Statements like these have been causing some major confusion in our community.  I've posted more about this in the [Status of Sails](https://github.com/balderdashy/sails/issues/3429#issuecomment-168801414) issue, but heres a quick recap:

+ Trails is not affiliated with Sails or o

[2016-01-08 17:01] mikermcneil commented on #3474
Hey @udanpe, you might want to check out [custom generators](https://github.com/balderdashy/sails-generate-generator) in Sails.  Our docs on the subject aren't great, but Irl has put together a great early in-depth [tutorial here](https://github.com/irlnathan/s-generators-docs/blob/master/generator-overview.md).  Hope that helps!

[2016-01-08 17:08] niallobrien commented on #3402
@mikermcneil I'm liking it, though the view helpers would need to follow pretty quickly imo. @RomainLanz What's your opinion?

[2016-01-08 17:28] ksylvan commented on #3459
@mikermcneil Yes, an example would be great.

[2016-01-08 17:36] ksylvan commented on #3459
I ended up doing this in my UserController action, but if there's a way to do it that is more elegant, I would love that:

      User.create(
        {
          email: params.email,
          password: params.password
        })
      .then(function (createdUser) {
        sails.log.debug('Created user', createdUser);
        [...]
      })
      .catch(function (err) {
         if (err.invalidAt

[2016-01-08 17:44] particlebanana commented on #3425
Yup so the types aren't namespaced in any way. They are all merged together just due to the way Anchor is built. When the validations get loaded each custom rule is added to the rule definition list and in this case the last one in overrides the previous defined ones.

This would be solved by moving to a different validation library such as [JOI](https://github.com/hapijs/joi) in the future or re-

[2016-01-08 18:27] zaiddag opened #3477 "Issue with middleware?"
I'm pretty sure this is just a docs problem or something, but I added morgan logging middleware, and the middleware is never hit

I added the middleware funcs to config.http.middleware and added their keys to middleware.order

[code]

[2016-01-08 19:16] justincy commented on #3367
@psdao1102 I'm not convinced that is the best solution. I have to save my template files twice to refresh the compiled JST template.

[2016-01-08 19:38] justincy commented on #3367
The solution @obj63mc shared didn't work for me. I kept the change recommended by @psdao1102 and also changed `/tasks/register/syncAssets.js` to add `copy:dev` before `jst:dev` so that the files get copied before being compiled in the watch task (as happens in the initial build).

[2016-01-08 20:24] angeldeejay commented on #715
+1 for sails new projectname --coffee

[2016-01-08 22:57] mikermcneil commented on #3468
@AlexanderKozhevin :+1:  no problem at all- been there myself.

[2016-01-08 22:57] mikermcneil commented on #3477
Hey @zaiddag, we'll take a look at this asap.

[2016-01-08 23:28] mikermcneil commented on #3459
Hey @ksylvan, you're right on target!  Appreciate you saving me the time and putting this together.

Just for familiarity/reference for those folks who might be landing here from google, here's more or less the same thing written up using the style we've been using in the book (i.e. `.exec()`, bcrypt via mp-passwords, and lodash for data scrambling to avoid accidentally throwing in callbacks):

[c

[2016-01-08 23:35] mikermcneil commented on #3464
update https://github.com/socketio/socket.io/releases/tag/1.4.3 should do the trick

[2016-01-09 00:16] sgress454 commented on #3464
We're all set with sails-hook-sockets, sails.io.js and sails-generate-sails.io.js updated to use the latest versions of socket.io and socket.io-client (v1.4.3).  I've left the dependencies as `~1.4.3` ranges in case any more updates are pushed out.  Thanks everyone for the support on this!  We're subscribed to the Github issue for the express-handlebars update, so when that's patched (hopefully so

[2016-01-09 00:16] #3464 closed

[2016-01-09 00:18] mikermcneil commented on #3477
@zaiddag Update: I wasn't able to replicate any issue with middleware itself on the latest stable release (v0.11.4) using a simplified acceptance test (i.e. it logged once per request):

[code]

[2016-01-09 00:19] sgress454 commented on #3477
Hi @zaiddag, anything you put after `404` in the `order` array is unlikely to be run.  The `404` middleware catches all requests that don't match anything else.

[2016-01-09 00:19] austinmao commented on #1004
FYI this is doable. See https://github.com/austinmao/sails-es6-mongoose-react-boilerplate. In particular, you can reference:

* https://github.com/austinmao/sails-es6-mongoose-react-boilerplate/blob/master/config/bootstrap.js

[2016-01-09 00:19] mikermcneil commented on #3477
@zaiddag taking a closer look though, it appears that you have this after your final handler middleware--- ah @sgress454 beat me to it

[2016-01-09 00:20] sgress454 commented on #3477
:clap: tag team!

[2016-01-09 00:20] #3477 closed

[2016-01-09 00:24] sgress454 commented on #3466
Re: dependencies in general, see my comment on [this thread](https://github.com/balderdashy/sails/pull/3180#issuecomment-167150161) (and the entire thread if you feel like reading a long discussion about dependencies).

Upgrading Lodash actually breaks Sails, but that's been the case for a while now, so I'm going to look into fixing it so we can move to a newer version.

[2016-01-09 00:29] mikermcneil commented on #3477
@sgress454 :house:  :bread:

@zaiddag if you you try moving morgan up to where `myRequestLogger` is, I think you'll get the desired effect.

More docs available here:
+ http://sailsjs.org/documentation/concepts/middleware
+ http://sailsjs.org/documentation/reference/configuration/sails-config-http#?properties

@zaiddag ^^ however I noticed after looking over those docs that none of them really pro

[2016-01-09 00:31] udanpe commented on #3474
Oh. Robert Martin and Steve Jobs will cry when they see sails
I can change code, i can use generations, i can write my own code, i can do more... But i and other 13100 users, want nice and powerful nodejs framework and if world want something it's will happen. You can be part of this. But now sails look as child toy. Bad code, many bugs, deprecated modules and nothing changes
Why i can use sails g

[2016-01-09 00:43] mikermcneil commented on #3477
@zaiddag One other quick example to help clarify what the `order` config is really doing (going with the `order` shown in the docs [here])(http://sailsjs.org/documentation/concepts/middleware#?adding-or-overriding-http-middleware):

When an HTTP request comes in, first Sails takes a snapshot of the current `new Date()` and stores it on the [snowballing](http://prezibase.com/wp-content/uploads/2015

[2016-01-09 02:28] japel commented on #3466
Damn those lodash devs!!!!11eleven

:)

[2016-01-09 02:38] mikermcneil commented on #3474
Hi again, @udanpe.  From your comment:

I gathered you were suggesting that we change the `.editorconfig` file in newly generated Sails apps in order to apply 2 spaces to some EJS files and 4 spaces to others.  As you probably agree, this seemed like a pretty strange request.  But I spent about 30 minutes trying my best to figure out what was going on here, and I now understand that I misunderstoo

[2016-01-09 03:14] zaiddag commented on #3477
Wow lol I'm retarded ty :)

[2016-01-09 07:50] ksylvan commented on #3459
:+1: Thanks.

Any reason to prefer the `.exec(function(err, data) { ... }` style over the `.then(function(data) {...})...catch(function(err) { ... })` style?

[2016-01-09 07:58] megakoresh commented on #3466
Well I forked the repo and tried to run your tests without any dependency changes and it failed anyway:
![windows powershell](https://cloud.githubusercontent.com/assets/5512531/12215110/fcc50ae8-b6b6-11e5-9c25-d1979c9e5d21.png)

This happens regardless of whether I run `npm test` from root of the sails repo or test folder.

[2016-01-09 08:05] sgress454 commented on #3466
@megakoresh Hm, what version of Windows/Node/NPM 3 are you on?  Tests pass a-okay here and on [Travis](https://travis-ci.org/balderdashy/sails) for Node 0.10, 0.12, 4 and 5.

[2016-01-09 10:45] megakoresh commented on #3466
Node 5
NPM 3.3.6

[2016-01-09 12:56] RWOverdijk commented on #2178
Sounds good to me :) Hope this _does_ work with the reload hook

[2016-01-09 13:12] glemiere commented on #3471
Hi! Thank you very much for your help!
I just tested what you told me, but I got the following error :
<code>
error: Sending 500 ("Server Error") response:
 Error (E_UNKNOWN) :: Encountered an unexpected error
: ER_BAD_FIELD_ERROR: Unknown column 'user.userSettings.role' in 'where clause'
</code>

Any idea ?

[2016-01-09 15:53] AlexanderKozhevin commented on #3471
Very probably because of DB.
Do you use mongoDB? Did you set adapter the right way?

[2016-01-09 16:04] Bamieh commented on #3450
@sgress454 ahh indeed this is what i am currently doing, however there is no way to get the passed parameters through lifting sails?

[2016-01-09 17:52] Durindo commented on #3317
The issue has been resolved on master (0.12.x I believe), but is there any plan to resolve it on stable (0.11.x) ?

[2016-01-09 19:01] RaedsLab commented on #2691
Have the same issue when pushing to heroku, tried the fix suggested by @sgress454 but still fails.

[2016-01-09 19:18] sgress454 commented on #2691
@RaedsLab try the fix suggested [here](https://github.com/balderdashy/sails/issues/2403#issuecomment-107298419) for Heroku.  It moves the Grunt tasks into the Heroku app startup phase, rather than having them occur during `sails lift`.

[2016-01-09 21:14] mikermcneil commented on #3464
To add to this, the `express-handlebars` dependency is only actually used in Sails core if you change the default view engine from ejs to handlebars (it's included to make it easier for folks using handlebars to [take advantage of layouts and partials](https://github.com/ericf/express-handlebars#goals--design)).

[2016-01-09 22:42] RaedsLab commented on #2691
@sgress454 Thank you this solved it

[2016-01-10 12:19] Verdier opened #3478 "Who is behind Sails?"
Hi, looks like there is some trouble concerning Balderdash?! I see in many recent commits that copyright move from Balderdash to @mikermcneil. What is http://balderdash.co/ vs http://balderdash.io/ and who is @tjwebb and what is trails?

We use sails in production and we would be a bit reassured if we could understand the actual situation.

Thanks!

[2016-01-10 13:47] RomainLanz commented on #3402
Seems good to me.

[2016-01-10 15:49] t1djani opened #3479 "coffeescript support"
Is there a way to work with coffeescript in sails ? i've tried [#sails-generate-new-coffee](https://www.npmjs.com/package/sails-generate-new-coffee) but it not seem to work for me for compiling my coffeescript controllers and models.

Any Issue ?

[2016-01-10 20:23] RWOverdijk commented on #3478
@Verdier I'm not going to share the specifics, as it's not my place. I'm sure @mikermcneil will do that.

What I can tell you, is that sails is sails. I was in doubt for a while, too. But I got reassured and I'm still here. There was a minor misunderstanding with a short-term sails contributor (that's where @tjwebb comes in), who then decided to start trails (which isn't affiliated to, and has not

[2016-01-10 20:53] mikermcneil commented on #3478
Thanks @RWOverdijk!
@Verdier see also https://github.com/balderdashy/sails/issues/3429#issuecomment-168801414

[2016-01-10 20:59] mikermcneil commented on #3479
Hi @t1djani, we'll dig into this as soon as possible.  In the mean time, have a look at https://github.com/balderdashy/sails/issues/2262 if you haven't already.  Thanks!

[2016-01-10 20:59] mikermcneil commented on #3479
(see also https://github.com/balderdashy/sails/issues/1544)

[2016-01-11 00:19] skstudios commented on #2136
If you are using sockets you also need to populate it on the socket update:
(This was a chunk i used.. i don't see your full code )

function onSave(socket, doc, cb) {
  Calendar.populate(doc, {path:'provider',select:'name'}, function(err, calendar) {
      socket.emit('calendar:save', doc);
  });
}

[2016-01-11 00:53] mikermcneil commented on #3478
@Verdier also, to answer your question directly, `balderdash.io` is a domain owned by Travis Webb.  It is not affiliated with Balderdash, Treeline, or [our team](https://github.com/balderdashy/sails#team).  Unfortunately, misleading statements have been made about the Trails fork which caused some major confusion in our community. The updates I've made recently to our README and contribution guide

[2016-01-11 00:53] #3478 closed

[2016-01-11 02:39] Zaggen commented on #2524
Same here, using node 4.2.4 and sails 0.11.3, switching to `req.allParams()` works though...

[2016-01-11 02:57] mikermcneil commented on #3402
@RomainLanz @niallobrien K added here: https://github.com/balderdashy/sails/blob/master/ROADMAP.md#backlog

It occurred to me that we still haven't clarified a few exit conditions:

1. **invalid usage** - e.g. if no `target` key is provided, or it is provided as a non-string  (the obvious thing to do is to throw here, but it's important to call that out specifically-- we do not want that to fail s

[2016-01-11 03:00] mikermcneil commented on #3402
By the way, just for the record, the new contribution guide I'm going to post this week would have us carrying out this discussion in a PR.  Rather than disrupting everything in this issue and moving the discussion, I think it's best we just finish up in here.  But just wanted to clarify that for anyone who runs across this and wonders to themselves "Hey, wait a minute!" -- and also to avoid makin

[2016-01-11 03:08] mikermcneil commented on #3479
@konstantinzolotarev I know you were [working on this](https://github.com/balderdashy/sails-generate-new/commit/f791f9a6660c3836befe31682b1ce896ae36ff5f) in `sails-generate-new` -- would you mind chiming in on the current status?  I know this was working previously, but as @sgress454 has pointed out in the past, since we're not actively using CoffeeScript ourselves, we don't have an everyday test

[2016-01-11 04:36] sgress454 commented on #3402
Implementation-wise, it would be good to coordinate this with #2659 if we still want to include that as well.

[2016-01-11 05:16] leosuncin commented on #3479
Hello @t1djani, I use Coffeescript for write code for my controllers, models, services, etc. I will tell you how in your project do the next steps:
 1. Install locally coffeescript and save it in your package.json
 ```npm install --save coffee-script```
 2. Install generators for coffeescript (optional)
 ```npm install --save-dev sails-generate-controller-coffee sails-generate-model-coffee```

Tha

[2016-01-11 07:32] hemedani opened #3481 "how can retrieve multi-file from skipper-gridfs"
for getting 1 file from gridfs we should do this in sails.js:
[code]
think we have the model named file and save some property like file name and type, how can handle getting all(or multi) file(in fact image) from database ?

[code]
with the above code we throw into this error:
[code]

[2016-01-11 08:13] mikermcneil commented on #3008
Definitely need to do this-- for both `.emit()` and `.subscribers()`.  I can check with @rauchg on the intended behavior here, but I think this analysis is correct.  I believe the resourceful pubsub method docs are fine, but we should definitely give the direct `sails.sockets.*` methods a thorough pass, determine any that _might_ fail in a multi-node environment, then provide a prominent explanati

[2016-01-11 08:50] mikermcneil commented on #3466
@megakoresh thanks!  What version of Windows are you using?

[2016-01-11 08:55] mikermcneil commented on #3367
Thanks for the follow-up @justincy.

Hmm- I haven't seen anything like this anywhere in any of the 0.11.x releases, so I'm assuming something may be going on here with either (a) versions of grunt dependencies locally installed in the actual sails project or (b) there's something I'm missing about the problem.

@ those of you experiencing this issue:

re: (a) -- would you mind pasting the dependen

[2016-01-11 08:57] #3481 closed

[2016-01-11 09:01] mikermcneil commented on #3481
Hi @hellojwilde - two quick suggestions:

1. Make sure you always handle your errors at the top of callbacks: so e.g
[code]

This helps avoid race conditions in your code and is a general best practice you'll want to use throughout all of your node projects, IMHO.

2. Don't make asynchronous calls in a synchronous control structure:
What I mean by that is that you're using `while() {}`, but inside

[2016-01-11 09:04] mikermcneil commented on #3481
btw, re: synchronous control structure: what I usually recommend for others (and also what I use myself) is `async.whilst()`  (https://github.com/caolan/async#whilsttest-fn-callback)

[2016-01-11 09:09] mikermcneil commented on #3481
^^although in the use case above, I can't quite tell what the `allpics` action is supposed to do:  e.g. did you want it to bundle the pictures up into a zip file and then download that?  Or e.g. you might want to concatenate the images into one big image, like a filmstrip.  For the first thing, I'd suggest checking out the `archiver` package on NPM.  For the second, I'd check out an imagemagick wr

[2016-01-11 09:09] hemedani commented on #3481
Tank's very clear reply, excuse  for the dummy question...

[2016-01-11 09:14] mikermcneil commented on #3383
@Josebaseba @shamasis thanks for the follow up y'all

[2016-01-11 09:21] mikermcneil commented on #1944
@dottodot yup exactly right-- seen this a couple of times too.  Upgrading to newer versions of grunt deps  in your local project yields a slightly better error message at least, but certainly doesn't solve the problem.  (I _think_ it was either `grunt` or `grunt-contrib-watch` that caused the change in my experimenta couple of months ago).  I believe this is related to an issue in grunt where file

[2016-01-11 09:32] hemedani commented on #3481
the purpose of allpic is to send the list of image to client then admin selected some of them to create associate for a topic.

[2016-01-11 10:53] ram-you commented on #1852
The latest connect-mongo 1.1.0 doesn't work.
Switching to "connect-mongo": "^0.8.2"    works.

Sails : v 0.11.4

[2016-01-11 13:30] megakoresh commented on #3466
Windows 10. I will see about that registry key thing, but I don't think that is the problem because I can manually do the whole `./bin/sails.js -bla -bla -bla` thing and it is recognized as a command.

[2016-01-11 15:47] mikermcneil commented on #3425
@mikaelcom thanks for bringing this up. Is there any particular spot in the Sails documentation you reckon we could improve to help save time for others running into this problem in the future?

I figure the best place to include a note about this is under Custom Validation Rules.

[2016-01-11 16:45] sgress454 commented on #3466
Thanks @megakoresh.  I looked into this some and it looks like those tests are not Windows-friendly (using `/` in paths instead of `path.sep` or just `path.resolve` for the whole thing).  I only have Windows 8 to test with but it looked like the exact same issue.  I'll hack on this some more today--we'd certainly like our Windows brethren to be able to contribute!

[2016-01-11 16:59] sgress454 commented on #3466
I'm going to open a separate issue for fixing the tests on Windows.

As for the original issue here, except for `win-spawn`, all of those dependency warnings are coming from _sub-dependencies_ that we're using the latest versions of (things like `grunt-contrib-jst`).  It's definitely worth looking at those projects and pinging the maintainers to see if they can bump their deps, but it's not someth

[2016-01-11 17:08] sgress454 opened #3482 "Tests calling the Sails binary directly fail on Windows"
Originally from https://github.com/balderdashy/sails/issues/3466#issuecomment-170208166

Calls like `exec(sailsBin + ' new ' + appName, ...)` where `sailsBin` is `'./bin/sails.js'` fail on Windows due to the use of the forward slash, as well as the inconsistent association of `.js` files with the Node executable (the shebang a the top of `sails.js` obviously doesn't work on Windows).

Probably bes

[2016-01-11 17:19] fc7 opened #3483 "npm install fails when updating from 0.11.0 to 0.11.4"
sails 0.11.0 is already installed under /usr/local/lib/node_modules (on a Mac).
Running `npm install sails -g` ends up with this error:
[code]

After uninstalling 0.11.0 the installation of 0.11.4 went fine. Probably this is a npm issue?

[2016-01-11 18:55] megakoresh commented on #3466
In that case I will try to do that.

[2016-01-11 18:55] #3466 closed

[2016-01-11 19:19] vikeen commented on #3308
@Garethderioth I ran into this issue and I made a small workaround for the problem. My assumption is that we should just hook into the sails pipeline. God knows I don't want to recreate it for a 1% problem.

My problem is that I want to leverage npm for all dependencies. Anything less is unacceptable for me. The same could be said for bower, but I just prefer npm. In order to do this I'm going to

[2016-01-11 20:38] mikaelcom commented on #3425
Is there any workaround? Do you have a one or we just have to avoid such an usage?

I think it would be good under the Custom Validation Rules section yes,

thx anyway

[2016-01-11 21:51] justincy commented on #3367
Yes, I'm using the default setup.

package.json:

[code]

npm ls:

[code]

[2016-01-11 23:35] sgress454 commented on #3483
@fc7 glad you got it worked out.  Hard to say for sure what the issue was, and it doesn't sound like you'll be able to reproduce it now.  In the future, I suggest always doing clean installs with:

[code]

Starting from a clean slate gives NPM the highest likelihood of success!

[2016-01-11 23:35] #3483 closed

[2016-01-11 23:58] #3482 closed

[2016-01-12 09:47] frutality commented on #1852
@ram-you +1
I have exactly same situation. Thanks for the fix. 0.8.2 works.

[2016-01-12 18:41] dottodot opened #3485 "[Getter/Setter]"
I basically trying to merge 2 collections to do a nested populate as per below.

[code]

but when I do `console.dir(items[0]);` the `design_options` attribute prints as `[Getter/Setter]`

If I then do `console.dir(items[0].design_options);` I can see all the attributes but a the end I have

[code]
How can I prevent this from happening?

[2016-01-12 18:47] mikermcneil commented on #3460
@monkeymon Posted some more info on this at https://github.com/balderdashy/sails/issues/3429#issuecomment-168801414.

Let's pick up any other discussion in that thread (going to lock this issue so that we funnel all future discussion into that PR so it's easier to track)

[2016-01-12 18:48] mikermcneil commented on #1684
@devnomad @JemiloII @damonYuan @garysui @gfaceless @carloscarcamo @loicsaintroch @GeekMode @suprMax Posted some more info on this at https://github.com/balderdashy/sails/issues/3429#issuecomment-168801414.
Let's pick up any other discussion in that thread ^^

Thanks y'all.

[2016-01-12 18:52] mikermcneil commented on #1684
@devnomad glad to hear Sails has been helpful for you and best of luck :)

To clarify what's going on w/ Express 3, here's a relevant quote from the discussion in the link above:

There's more discussion on why we've made the decisions we have w/ Express 4, what's going on w/ Express 5, and our plans for jshttp/pillar in the linked PR.

[2016-01-12 18:55] mikermcneil commented on #2938
(locking this issue to funnel future discussion into the linked PR so it's easier to track)

[2016-01-12 19:36] mikermcneil commented on #3485
Hi @dottodot,

For future reference, since this is a question rather than a bug report, StackOverflow would be a better platform.  To set you off on the right foot, what you're logging there is a variable containing [populated values](http://sailsjs.org/documentation/reference/waterline-orm/populated-values).

Also, if you can think of ways we could improve the docs here to help clarify this, _ple

[2016-01-12 19:39] mikermcneil commented on #3479
Thanks for posting your solution, @leosuncin.  If you have a moment, would you mind adding a "Notes" section to http://sailsjs.org/documentation/reference/command-line-interface/sails-generate via a PR editing this page in [sails-docs](https://github.com/balderdashy/sails-docs/blob/master/concepts/0home/0home.md)?  I think this would be a great addition to the official documentation.

[2016-01-12 19:53] #3485 closed

[2016-01-12 20:11] mikermcneil commented on #3459
@ksylvan Great question!

A couple of years ago I probably would have told you something like:

But since then, I've learned a lot from reading issues, SO questions, and tutorials about promises in Sails, using them myself (particularly in Angular and JQuery), and watching other developers on our team.  My opinion has changed somewhat.

I have no problem with promises (in some cases I use them too

[2016-01-12 21:11] commandline opened #3486 "[0.11] Error using connect-mongo as session adapter"
With v0.11.4, getting this on lifting:
[code]
connect-mongo is installed, version 1.1.0. The problem seems to stem from lib/hooks/session/index.js where it is loading the package file for connect-mongo then attempting a path.resolve on the ```main``` property on that require. ```main``` is undefined.

Looking at master, the session code looks different so apologies if this is/will be resolved in v

[2016-01-12 21:26] leosuncin commented on #3479
Added pull request https://github.com/balderdashy/sails-docs/pull/617

[2016-01-12 23:27] mikermcneil commented on #3486
Thanks for the detailed notes @commandline - looking into it now.

[2016-01-12 23:34] mikermcneil commented on #3312
@angel1st agreed- it would be nice to reuse Waterline adapters in lieu of connect session stores, and this is something I'm still interested in exploring in the future.  It's not an _incredibly_ difficult project, but it is quite time consuming.  It involves first determining the appropriate connect session adapter interface for our version of express.  After that, a mapping would need to be built

[2016-01-12 23:36] mikermcneil commented on #2815
@SyntaxRules @Salakar if you guys would like to open up a feature proposal as a pull request changing ROADMAP.md (see updated contribution guide), I think this is definitely something that's worth looking into further.

[2016-01-12 23:51] mikermcneil commented on #3486
Ok, so after chatting with @sgress454 about https://github.com/balderdashy/sails/commit/72fb1d6b5e7ee4604ef15df2a2f8a490150f5b9d, we're pretty sure what you're seeing is because the new version of connect-mongo does not have a `main` in its package.json file.

In the mean time, I'll update http://sailsjs.org/documentation/reference/configuration/sails-config-session for the docs currently online s

[2016-01-13 00:05] mikermcneil commented on #3486
Sorry! Just realized I didn't even clarify the most important part in my comment- **yes** this is fixed in 0.12.  @commandline would you mind giving this a go with the latest release candidate of Sails, v0.12.0-rc5 (`npm install sails@beta`), to verify that this works w/ connect-mongo 1.1.0 for you?

[2016-01-13 00:18] ksylvan commented on #3459
:+1: Nice reference to "Promises, Promises" :-)

Thanks for the detailed explanation. I tend to agree with you.

My rule of thumb is to write it in whatever style promotes clarity, because I'll probably look at my own code in a week or two and if it requires me to  *think* at all to figure out what is happening, then I am screwed. ;-)

[2016-01-13 00:34] mikermcneil commented on #3486
I just updated the [session config docs](https://github.com/balderdashy/sails-docs/commit/fdad9983f9cd1300886b66f4facb67af18a93fb0), and we'll merge and deploy to the Sails website in the next few hours.  @commandline I believe we're ready to close this issue if/when we hear back from you confirming that everything is ship-shape in the 0.12 prerelease release I published earlier (rc5).  Thank you!

[2016-01-13 00:52] mikermcneil commented on #3479
@leobudima thank you!  :+1:

[2016-01-13 01:19] mikermcneil commented on #3312
@alexanderzeillinger @bakeruk @angel1st Actually, re what I just said, check out @dmarcelino's work on [connect-waterline](https://github.com/dmarcelino/connect-waterline)

[2016-01-13 11:16] rasapetter opened #3487 "Inconsistencies in publishAdd() function vs. documentation"
It's unclear whether the published messages will/should include the added model instance or not.

Looking at the [code](https://github.com/balderdashy/sails/blob/master/lib/hooks/pubsub/index.js#L878) we can see that the function accepts (as the third argument) either a complete model instance or its pk value. If a model instance is provided, it will be included in its entirety in the published me

[2016-01-13 12:33] robgrimball commented on #3273
Mike,

I finally got my PC issues resolved enough to test this out.

This fix seems to be very close.  In fact, it is a little odd what I am seeing, but now there is both a _e attribute with the raw error info in it, and an originalError with the raw error info in it, but no "raw" attribute with the raw error info in it like before.  Either _e or originalError are both sufficient for my purposes a

[2016-01-13 13:35] acis opened #3488 "i18n hook should exposes __n() as well, not just __()"
This is an issue when rendering server side templates from ajax calls.

Currently we're wrapping the call to jade's renderFile function and sending the request.__() and the locale in the options parameter.

[code]
 Seeing as the __n() function in not exposed in the i18n hook, it takes the default locale, which is undesirable.

[2016-01-13 16:24] commandline commented on #3486
I will try to get you feedback on a test with connect-mongo@1.1.0 and sails@0.12.0-rc5 later today. Thanks for the quick response!

[2016-01-13 16:25] commandline commented on #3486
Oh, and any ETA on 0.12.0 going live? We'll need to keep connect-mongo pinned regardless of the fix as we don't use beta, even rc code, in production. Would be nice to have a sense when we can update both packages.

[2016-01-14 04:31] mikermcneil commented on #3486
@commandline we cracked into some work on the sockets hook and we want to make sure gets done before releasing 0.12, but I'd say it's still almost certainly looking like it'll be before the end of the month.  And don't worry, definitely wouldn't suggest using any -rc in production!  Just good to have some outside verification to rule out any issues we're missing on this side.  Appreciate your help

[2016-01-14 10:56] nanyaks commented on #3351
I had the same issue when I upgraded node to 5.4.1. The project I was working at the time kept failing with the error shown above.
I solved it by running ```npm install waterline``` in '<project_root>/node_modules/sails'.

Hope it helps.

[2016-01-14 12:15] mikermcneil commented on #3487
Hey @rasapetter, thanks for bringing this up; and especially for taking the time to put together these links.  The pubsub docs are perhaps the most badly in need of help out of all of our reference docs (both from a content/consistency perspective as well as formatting-- i.e. we've since shifted many of the other doc pages to use the [new layout for method reference pages](http://sailsjs.org/docum

[2016-01-14 12:36] mikermcneil commented on #3402
@RomainLanz @mirago @niallobrien ok so after getting a start on implementing this, it seems to me that we'd be best off with two methods:

+ `sails.getRouteAddress()` (specced exactly as above-- the lower-level API for accessing information)
+ `sails.getUrlFor()` (exactly as above, except it returns only the URL-- useful primarily for getting hrefs or form actions in views and redirect urls in act

[2016-01-14 12:39] mikermcneil commented on #3402
@RomainLanz @mirago @niallobrien I'd also suggest that both methods support simplified usage as a shortcut, e.g.:

As a shortcut for:
[code]

you could write:

[code]

[2016-01-14 12:45] rasapetter commented on #3487
Splendid. Thanks!

[2016-01-14 13:23] mikermcneil commented on #3402
Stubbed implementation and added some basic tests here: https://github.com/balderdashy/sails/commit/9992c37dab0accc51931abcf533806ebd86fadaf

Still needs:
- the implementation (trivial-- I'll add that in a bit)
- tests added for the other exit conditions mentioned above (ensuring that a usage error is thrown with bad usage, ensuring that an unrecognized target error is thrown if no matches are fou

[2016-01-14 14:02] mikermcneil commented on #3402
Just ran across one more edge case:

- If route address has no HTTP method (i.e. it routes requests the conventional HTTP methods), then set `method` property of the result from `getRouteFor()` to empty string ('').  Otherwise, just include the HTTP method as configured in the route config.

[2016-01-14 15:38] parkeragee commented on #1852
The 0.8.2 fix crashes Heroku apps:

[code]

[2016-01-14 16:32] robgrimball opened #3490 "sails 0.12.0-rc6 not working with https?"
I have not tested this for previous to 0.12.0-rc5.

But..  Basically I generated a default sails app from 0.12.0-rc5 under node 5.4.1

I ran the app under http, worked fine.  I ran the app under https, it fails with a no cipher match on all browsers.

Exact same configuration, only I "rm -rf node_modules ~/.npm ~/.node-gyp", change package.json to use sails 0.11.4, and run under http, works fine,

[2016-01-14 16:52] robgrimball commented on #3490
Quick comment, while I generated the app under rc5, I realized after that rc6 was released, so I tested both on rc5 & rc6 (though with same rc5 generated app, hopefully that didn't change much!)

[2016-01-14 16:57] robgrimball commented on #3490
Further info.  This is a sslscan running against the app using 0.12.0-rc6 :

[root@localhost]# sslscan localhost:1445
                   _
           ___ ___| |___  ___ __ _ _ __
          / __/ __| / __|/ __/ _` | '_ \
          \__ \__ \ \__ \ (_| (_| | | | |
          |___/___/_|___/\___\__,_|_| |_|

                sslscan version 1.10.2
                OpenSSL 1.0.1e-fips 11 Feb 2013

Testing

[2016-01-14 16:59] robgrimball commented on #3490
This is a SSL scan of the app while running with sails 0.11.4 :

[root@localhost]# sslscan --no-failed localhost:1337
                   _
           ___ ___| |___  ___ __ _ _ __
          / __/ __| / __|/ __/ _` | '_ \
          \__ \__ \ \__ \ (_| (_| | | | |
          |___/___/_|___/\___\__,_|_| |_|

                sslscan version 1.10.2
                OpenSSL 1.0.1e-fips 11 Feb 2013

Testing

[2016-01-14 21:40] mikermcneil commented on #3490
Thanks for the details @robgrimball, looking into it.

[2016-01-14 21:59] commandline commented on #3486
Yeah, we have two projects, one already uses npm-lockdown for exactly this reason. The other we just haven't had the time, so we don't have to manually pin each dependency, we can just local an entire graph based on a known good set.

[2016-01-14 22:01] mikermcneil commented on #3367
Thanks @justincy. re: @psdao1102's suggestion of putting `copy` before `jst`, I did a little looking into what's up here.  We're currently using the default asset pipeline and haven't noticed any issues with JST.  Our `compileAssets` task looks like so:

[code]

I'll follow up momentarily with the grunt dep versions we're using so if they're different, you can try those out make sure there aren't

[2016-01-14 22:01] mikermcneil commented on #3367
@psdao1102 would you provide some more info about the advantages to the approach?  I'm happy to make that happen asap as the default convention in the upcoming 0.12 release if you can help me understand more of the details and ensure there aren't associated downsides.  Luckily, changing this would be pretty easy -- i.e. since it's all in generators, it doesn't add a migration burden for existing S

[2016-01-14 22:15] mikermcneil commented on #3490
@robgrimball would you mind posting the configuration you're using to set up SSL? (minus any sensitive information that might be inline of course!)  There was a minor change to the way config is parsed added to master since the most recent 0.11 release which is probably causing this, but being able to see the specific config you're using would help me track this down faster. Thanks man.

[2016-01-14 22:17] mikermcneil commented on #3490
@robgrimball seems weird that this would cause any issues though...  https://github.com/balderdashy/sails/commit/23e4d4df1293e00d63b2c46f1a1b87d77631c4e1#diff-b6a9d24b106300f5b5fda5b3eb4d093aR34

[2016-01-14 22:23] commandline commented on #3486
I am having some npm caching issues that clearing the cache isn't solving. I will try to get the latest rc installed, tomorrow, and get you that feedback.

[2016-01-14 23:40] odnarb opened #3491 "sails.sockets.broadcast() causes pingTimeout on SSL sockets"
I've tested this with nginx SSL termination as well as normal/native sails.js SSL.

Server
-------------------
ubuntu 14.04
node: v5.3.0
npm: v3.3.12
Clean install of sails@0.11.4
Nginx proxy setup with ip_hash defined in upstream app and with
    location / {
        client_max_body_size 1000M;
        proxy_buffering off;
        proxy_request_buffering off;
        proxy_set_header Upgrade $htt

[2016-01-15 00:16] mikermcneil commented on #3491
@odnarb thanks for the detailed info.  Looping in @sgress454 on this since he's currently working on the sockets hook.  In the mean time, to troubleshoot a bit here: have you had any issues with this on older versions of Sails, or is 0.11.4 the first version in which you've tried this?  No worries either way, but it'll help to know.  Thanks!

[2016-01-15 00:18] mikermcneil commented on #3491
@odnarb also, which `transports` do you have configured?

[2016-01-15 00:20] rasekar2000 opened #3492 "sails@0.12.0-rc6 plus sails-mongo@0.11.5 causes Error: The connection o specified in model_menu does not exist!"
in sails model

      module.exports = {
	   schema : true,
	   connection: 'mongoDB',
	   attributes: {
	   	user_id: 'string',
           }
      }

in config/connections.js

    mongoDB: {
    adapter: 'sails-mongo',
    host: process.env.MONGO_DB_HOST ||'localhost',
    port: process.env.MONGO_DB_PORT || 27701,
    user: process.env.MONGO_DB_USER ||'',
    password: process.env.MONGO_DB_PWD ||

[2016-01-15 00:25] mikermcneil commented on #3492
Hi @rasekar2000 - thanks for taking the time to test w/ both versions and reproduce the issue in an isolated way, that helps a lot.  Looking into it.

[2016-01-15 00:31] mikermcneil commented on #3492
@rasekar2000 would you mind trying this out with the versions pinned to sails `0.12.0-rc6` and sails-mongo `0.11.2`  (i.e. no `^` or `~`)?  That'll help figure out whether the issue you're seeing is coming from sails-mongo, sails, or an interaction of both.

(btw, I just added some updated info for troubleshooting / doing sanity checks on versions from npm installs [here](https://github.com/balder

[2016-01-15 00:33] mikermcneil commented on #3492
Just took a look, and while there was a minimum patch release bump of the Waterline dep between [rc3](https://github.com/balderdashy/sails/blob/v0.12.0-rc3/package.json#L82) and [rc6](https://github.com/balderdashy/sails/blob/v0.12.0-rc6/package.json#L82), since the semver range in Sails' package.json was using `~`, the same version of Waterline _should_ be getting npm installed regardless.  So ba

[2016-01-15 00:47] sgress454 commented on #3491
@odnarb Just to clarify, are you only seeing this issue after doing a broadcast?

[2016-01-15 00:48] mikermcneil commented on #3491
@odnarb one more thing (sorry to blow up your inbox!) to help in your debugging efforts:

We [default the `pingTimeout` to 60s](https://github.com/balderdashy/sails-hook-sockets/blob/master/lib/defaults.js#L95) which is also the [implicit default for engine.io](https://github.com/socketio/engine.io#methods-1).  Assuming this is happening even on a single instance using built-in sails/express/socke

[2016-01-15 01:17] rasekar2000 commented on #3492
@mikermcneil  Let me review.

[2016-01-15 02:03] rasekar2000 commented on #3492
Testing with **sails 0.12.0-rc3** & **sails-mongo@0.11.5** as it was released few months back .. This installs **waterline@0.10.30** and it **worked fine** .. more details below..

in package.json

        "sails": "0.12.0-rc3",
        "sails-disk": "0.10.7",
        "sails-hook-autoreload": "^0.11.5",
        "sails-hook-winston": "^0.2.0",
        "sails-mongo": "0.11.5",
        "sails-redis":

[2016-01-15 02:23] mikermcneil commented on #3486
@commandline thanks for the help! There are some tips on busting the npm cache to get a clean dep. install in the [new contribution guide](https://github.com/balderdashy/sails/blob/master/CONTRIBUTING.md#opening-an-issue).

Beyond what's there, I've had to go and delete modules from `usr/local/lib/**` and `~/.npm/**` in the past to solve caching issues related to different npm versions (especially

[2016-01-15 02:26] mikermcneil commented on #1852
@ram-you @frutality more info re: connect-mongo and the latest version of Sails here: https://github.com/balderdashy/sails/issues/3486

@parkeragee hmm - I'd suggest clearing the Heroku NPM cache (it looks like something could be going on with npm 3 and flattened deps, since it's trying to access a lodash method which doesn't exist, indicating it might be using a different version)  If you continu

[2016-01-15 02:26] mikermcneil commented on #3472
https://twitter.com/parkeragee/status/687814979882500096

[2016-01-15 02:26] #3472 closed

[2016-01-15 02:27] mikermcneil commented on #3492
:+1:

[2016-01-15 02:30] rasekar2000 commented on #3492
This time with **sails@0.12.rc6** , **sails-mongo@0.11.5** with **waterline@0.10.30**

        sails-mongo@0.11.5 node_modules/sails-mongo
	├── waterline-errors@0.10.1
	├── async@1.4.2
	├── validator@4.5.0
	├── waterline-cursor@0.0.6 (async@0.9.2, lodash@2.4.2)
	└── mongodb@2.1.4 (es6-promise@3.0.2, readable-stream@1.0.31, kerberos@0.0.17, mongodb-core@1.2.32)

	sails@0.12.0-rc6 node_modules/sails

[2016-01-15 02:42] mikermcneil commented on #3492
Thanks @rasekar2000.  @particlebanana or I will look into this asap and determine whether this is an issue in the ORM hook or in Waterline/sails-mongo.

[2016-01-15 03:04] #3479 closed

[2016-01-15 03:20] niallobrien commented on #3402
Great work @mikermcneil - looking good!

[2016-01-15 03:22] mikermcneil commented on #3425
@mikaelcom This is just my opinion, but in practice, I've found it more flexible and consistent to write complex custom validations using services or machines and calling those helper functions before updating or creating models (this is since inevitably as an app matures, you almost always end up setting up validations which you want to see observed for _some_ updates and creates, but not others)

[2016-01-15 05:18] rasekar2000 commented on #3492
Thanks

[2016-01-15 08:17] mikaelcom commented on #3425
What a speech! :+1:

As I'm not an expert, I'll be glad to to it the right way. So I understand well what you're saying, I should implement my own validation rules in the beforeCreate/beforeUpdate/etc. hooks instead of using custom validations rules? If so, I'll do! If not, teach me :wink:,

Thx for all.

[2016-01-15 09:43] ram-you commented on #1852
Hi @mikermcneil , in the update https://github.com/balderdashy/sails-docs/commit/fdad9983f9cd1300886b66f4facb67af18a93fb0
you saied :

But there are neither `0.8.4` version of `connect-mongo` nor of `sails-mongo`

Thanks.

[2016-01-15 10:29] chrizz1001 opened #3494 "Sockets: `sails.sockets.subscribers()` returns unexpected results when using socket.io-redis"
I build up a socket connection between server and client (website). The Socket gets up and running, communication is ok. When I try to join a user to a room, the room gets created but remains empty (no users inside). Broadcasting global works.

config:

[code]

Controller Action:
[code]

I am using:

    "sails": "~0.11.4",
    "sails-redis": "^0.10.6",

on a CentOS 7.2 mashine running node 5.4.1

[2016-01-15 10:35] DaRo0 commented on #3494
This solved my problem!!! Thank you, now i can sleep quiet!!

[2016-01-15 15:13] waynejuckts commented on #3362
"kerberos": "~0.0.17", in package works for me ;)

[2016-01-15 15:32] chrizz1001 commented on #3494
Would be awsome if someone can confirm this! Still trying to get to work with redis, because shipping everything out to memory is not the best solution with hundreds of thousands of sockets...

[2016-01-15 15:45] odnarb commented on #3491
Thank you for the replies!

Addressing them in order:
@mikermcneil I will have to confirm if this issue is on any older versions of sails. I just did an upgrade on a branch to sails v0.11.4. The earliest I can go back to since there really weren't any changes to my codebase pertaining to this functionality is about 9-10 months. That might be in the 0.10.x stack. Not sure. If that helps I will be h

[2016-01-15 16:29] mikermcneil commented on #3425
@mikaelcom thanks for being flexible.  So yep, that would work- although I'd suggest that you might even go a step further and pull them out into a service method that you can call yourself manually (I've found that we sometimes end up browserifying that code down the line and using it for client-side validations, for example).  So that way, whether it's from your lifecycle callbacks (e.g. beforeC

[2016-01-15 16:35] mikermcneil commented on #3494
@chrizz1001 @DaRo0 Hmm.. you shouldn't need sails-redis (that's a waterline adapter for using Redis for one or more of your models).  Two other things to note:
- you should be sure and send a response from that controller action, eg. with res.ok()
- you should use the `sails.sockets.id(req)` method to parse the socket id (or better yet, just pass in req).

Are you seeing different behavior than wh

[2016-01-15 17:25] sgress454 commented on #3491
@odnarb re: using other methods, I was more wondering whether the server disconnects the socket after timeout regardless of whether _any_ communication has taken place.  That is, if you have a client connection and you just let it sit there for 60 seconds and don't do _anything_, does it stay connected or does it disconnect?  Trying to determine whether this actually has anything to do with socket

[2016-01-15 17:35] particlebanana commented on #3492
@rasekar2000 submitted a PR that patches this in master

[2016-01-15 17:51] odnarb commented on #3491
This is definitely only happening after the fact something is sent. If I just let it stay there, the connection is stable and stays open.

[2016-01-15 18:00] ryanwilliamquinn opened #3496 "Issues with sails-hook-sockets and 0.12.0-rc6"
When I run my tests I get this error:
[code]
If I install sails-hook-sockets at 0.12.x instead of 0.13.x, everything works fine.

[2016-01-15 18:04] chrizz1001 commented on #3494
@mikermcneil Thanks for your advice! Actually I do send a response. I will later put the user in other rooms, so I return a JSON response with room names. The app will later run in cluster mode with 8 workers and a lot (A LOT) of users connetced to it. they will run all on the same mashine for the beginning, so I try to avoid using the memory storage... sails doc sais I should be able to use redis

[2016-01-15 18:42] sgress454 commented on #3496
Thanks @ryanwilliamquinn -- can you try installing v0.13.4 and confirm that the issue is fixed?

[2016-01-15 18:55] justincy commented on #3367
Yes.

I never tested production mode. This was happening to me in development mode.

[2016-01-15 19:24] leejt489 commented on #1829
+1 I think it's a good feature request.  My solution was to write an ActionUtilityService as a wrapper.  In that service, `var actionUtil = require('../../node_modules/sails/lib/hooks/blueprints/actionUtil')`, and then expose the methods I need.  I use the wrapper because I don't like to have references to file structure within node_module dependencies (maintainers of modules are allowed to change

[2016-01-15 20:14] mikaelcom commented on #3425
Thanks again, I created lots of services already so I totally see your concerns and your ponit of view that I'll try apply even more.

Keep the good work anyway that has saved me a lot of time already too.

[2016-01-15 20:44] parkeragee commented on #3472
Installing the package solves the issue. Not sure if it was a Sails issue or El Capitan upgrade issue.

[2016-01-15 20:52] kentongray commented on #3425
thanks for the shout out! :blush:

[2016-01-15 21:25] rasekar2000 commented on #3492
:thumbsup:

[2016-01-16 01:04] odnarb commented on #3491
Well, I tracked it down to some bad code on my end. Thanks for the replies, they were very helpful.

I really thought this was an issue since I thought I had tested my previous code thoroughly.

[2016-01-16 01:04] #3491 closed

[2016-01-16 18:48] sgress454 commented on #3491
@odnarb Glad you worked it out. Feel free to post any relevant details if you think someone else might encounter a similar issue!

[2016-01-16 23:50] psdao1102 commented on #3367
Thanks for responding mikermcneil. I cannot say for sure but it seems to me that the jst task checks the public files for templates and not the ones in the assets folder. But to be fair the only reason why I have made this assumption was that my suggestion from fresh installed worked. If i had a little more time i would verify my findings

As for the other comment It happens in both production and

[2016-01-17 03:13] mikermcneil commented on #3496
@ryanwilliamquinn

[code]

[2016-01-17 03:43] mikermcneil commented on #3311
@artyomtrityak thanks for posting that article!

@Mirodil I'm working on an example override and core hook documentation as part of v0.12 release at the end of this month.  A lot of folks have asked for this, and I think it provides some much needed flexibility and comfort.  Plus, even when you are using Waterline, it is helpful to be able to try out different versions of the ORM or experimental f

[2016-01-17 03:54] mikermcneil commented on #3137
@crh3675 thanks for the vote of confidence :)

@listepo I appreciate your point here, and it's something I've considered a lot ever since @colinwren [suggested it](https://github.com/balderdashy/sails/pull/283#issuecomment-15939336) years ago.  In reality, it just has never been a priority because it hasn't caused any major issues and doesn't really take that much longer to install.  Hooks, howeve

[2016-01-17 04:02] arcseldon opened #3497 "feature request - way to explicitly generate the default blueprints CRUD ops into new Controller"
Hi. Apologies in advance if raising an issue for a feature request isn't the way to raise a feature request.

Very briefly, I have been using SailsJS since v0.10.x Great framework, and easy way to get up and running fast. Can't wait to see treeline asap either.

Anyhow, with 2 years experience, one feature that I feel is blatantly missing is the ability to do something like  "**sails generate api/

[2016-01-17 04:32] mikermcneil commented on #3137
@listepo @crh3675 created the [`sails-cli`](https://www.npmjs.com/package/sails-cli) and [`sails-core`](https://www.npmjs.com/package/sails-core) packages as placeholders (mainly to prevent having to bother isaacs about it later in case anyone tries to [homestead](https://www.npmjs.com/~waterlinejs) the package names -_- )

However, I was also curious which dependencies would actually be pulled ou

[2016-01-17 04:56] mikermcneil commented on #3497
Hi @arcseldon!  We just updated the contribution guide last week actually-- would you please give the [new process for proposals](https://github.com/balderdashy/sails/blob/master/CONTRIBUTING.md#v-proposing-features-and-enhancements) a read and follow the instructions there? Thank you!

[2016-01-17 04:56] #3497 closed

[2016-01-17 05:01] mikermcneil commented on #3492
Thanks again for your help in getting to the bottom of this @rasekar2000.  We'll get a new RC out with this patch some time before this coming Tuesday (hoping to include a few other tweaks as well).  Reopening this issue in the mean time (if you merge a PR that mentions an issue, GH just closes the issue automatically)

cc @sgress454 (so we're on the same page)

@rasekar2000 if you need to get thi

[2016-01-17 05:04] mikermcneil commented on #3488
https://github.com/balderdashy/sails/pull/3489#issuecomment-171812260

[2016-01-17 05:04] #3488 closed

[2016-01-17 05:23] mikermcneil commented on #3432
@slavafomin I'm going to go ahead and close this issue to stay organized.  If you experience unexpected behavior from Waterline or sails-postgresql in the future, please @particlebanana or I know by [opening an issue](https://github.com/balderdashy/sails/blob/master/CONTRIBUTING.md) in either [waterline](https://github.com/balderdashy/waterline) or [sails-postgresql](https://github.com/balderdashy

[2016-01-17 05:23] #3432 closed

[2016-01-17 06:25] mikermcneil commented on #3402
@niallobrien @RomainLanz just pushed up a version that should do the trick (as well as docs [on the 0.12 branch](https://github.com/balderdashy/sails-docs/commit/aa3d56bfec184c4a1968ebca23261bfcccf8d7aa)).  There are a few more tests I'd like to write, but this is usable now as specced here on master, afaik.  One minor change is that, rather than returning null, if no matching route is found, we t

[2016-01-17 07:02] mikermcneil commented on #3402
I'm going to go ahead and close this issue --- tests finished in https://github.com/balderdashy/sails/commit/c39cce2c1bc4edc84a132eef4c5c1ee101e74019.  Thanks for your help guys!(and please open a new issue if you notice any problems after you've had a chance to take this for a spin).

[2016-01-17 07:02] #3402 closed

[2016-01-17 08:31] rasekar2000 commented on #3492
@mikermcneil  & @particlebanana , Thank you very much for quick response and fix. Will test tomorrow.

[2016-01-17 14:20] slavafomin commented on #3432
Thanks Mike! I've decided to switch to Sequelize for now.

Why by the way aren't you using it in Sails? It takes a lot of effort to create yet another ORM especially when there's a decent one already.

[2016-01-17 21:43] mikermcneil commented on #3311
@Mirodil @artyomtrityak OK!  Took me longer than expected, but at last here we are.  Here is an override of the ORM hook that uses Mongoose:  https://github.com/mikermcneil/sails-hook-orm-mongoose  The README file has install instructions, and at the bottom, there's a link to a really simple example app in a separate repo that uses the hook.

[2016-01-17 21:51] mikermcneil commented on #2665
@natecavanaugh [sorry about that](https://github.com/balderdashy/sails/issues/3478)!  I just stumbled across this issue- sorry for the slow reply.

@natecavanaugh I appreciate you taking the time to get to the bottom of what's breaking.  Could you provide more details about your use case?  In order to make a change like this, it's helpful to know more about how you're using your services (see    h

[2016-01-17 21:53] mikermcneil commented on #644
@mikedevita @ktkaushik super late follow up here, but posting this in case it helps you or anyone finding this issue from search engines: https://github.com/mikermcneil/sails-hook-orm-mongoose

[2016-01-17 21:53] mikermcneil commented on #1173
@lykmapipo thanks for the link!

[2016-01-17 22:05] mikermcneil commented on #2665
@natecavanaugh By the way, to give my question some more context-- my hope is that this is something we can address via a configuration option (philosophically, you should be able to tell Sails to leave your services alone, but binding is also useful in the general case).  What I'm looking for is stuff like "Where are you calling your service from?" , "What is the function that's getting its winge

[2016-01-18 01:00] luislobo commented on #3402
Just a simple addition, that might be not that hard to add: what about supporting controllers without the "Controller" word, just like when you define 'Me.login' instead of 'MeController.login'

[2016-01-18 04:15] sgress454 commented on #2665
Not sure why this got closed either.  The reasoning behind binding module methods to the module is to make sure they have access to the Sails instance they're running in, even if globals are turned off.  This allows Sails apps to be included as dependencies (and just allows you to turn `sails.config.globals` off if you need to).

The flipside is that if you have a Sails service like:

[code]

and

[2016-01-18 05:01] dniccum opened #3499 "Receiving "Must contain an `adapter` key referencing the adapter to use." errors during Heroku deployment"
I am in the process of deploying a basic SailsJS application to Heroku. I have done this a few times before without any hiccups; which leads me to believe this might be a documentation or deprecation issue.

When I deploy the application, this is the error that I am getting over and over:

[code]

I am currently using the following versions:

[code]

Now, I can confirm that have the `sails-mongo`

[2016-01-18 09:18] chrizz1001 commented on #3494
Ok, checked everything and changed accordingly. With adapter "memory" it is working. not with "redis". The thing is, if the server restarts and the client is not connecting to exactly the same worker, it loses its socket. I can reconnect all rooms to make it work but in case the client connects to the same worker like before, my client events get triggered twice.... So I think I really need redis

[2016-01-18 13:40] mikermcneil commented on #2665
@sgress454 Good points!

@natecavanaugh for the record, this is what Sails core does internally in many cases.

[2016-01-18 14:01] megakoresh opened #3500 "Locals are not being overridden when passed via req.options.locals"
I have encountered a very weird bug. I have a policy that runs before every request generating a quick navigation list for the site's content. The nav list is basically a nested categorized list of the format
[code]
And so on...
The policy creates the list under the `req.options.locals.navlist`. The problem is that when I change a category of something, it will still show up in it's old category a

[2016-01-18 14:33] japel commented on #3499
are you able to lift locally? if so, can you lift in console mode and do a console.log(sails.config.connections); and post the output?
also console.log(sails.config.connections); and post the output?

[2016-01-18 14:42] mikermcneil commented on #3499
@japel great questions
@dniccum you might already know this, but please be very, very careful using `migrate: alter` in production!  Part 2 of [this](https://courses.platzi.com/courses/develop-apps-sails-js/) covers doing a deployment to Heroku and might be helpful here.

[2016-01-18 15:16] dniccum commented on #3499
@japel I can lift in my local environment using `sails lift`, however when I use `sails lift --prod`, this is the error that I get:

[code]

I am assuming this is normal since I am not running MongoDB locally. I am using my localDiskDB.db.

@mikermcneil noted!

[2016-01-18 15:28] japel commented on #3499
@dniccum your local mongodb is running on the specified host and port? (127.0.0.1:27017)

[2016-01-18 15:31] japel commented on #3499
@dniccum yeah, thats normal... try lifting locally in console mode with localDiskDB and do those console.log() I wrote, just to check if those are defined

[2016-01-18 15:41] dniccum commented on #3499
@japel This is what is returned when I run the `console.log(sails.config.connections)` command:

[code]

Once again, I'm assuming that the reason why the url attribute is undefined is because the environment variable has not been defined. As for the `console.log(sails.config.environment)` command, this is what I get:

[code]

[2016-01-18 15:48] mikermcneil commented on #3499
@dniccum how do things look if you start up your Sails app using:

[code]

[2016-01-18 15:50] dniccum commented on #3499
@mikermcneil Nothing happens.

[2016-01-18 15:55] mikermcneil commented on #3459
:+1:

[2016-01-18 16:01] ryanwilliamquinn commented on #3496
Thanks for the replies, this is working now as of this fix in sails-hook-sockets (0.13.4):
https://github.com/balderdashy/sails-hook-sockets/commit/14210dc8d81e638f198493e05dda5eb8651f0e8f

[2016-01-18 16:01] #3496 closed

[2016-01-18 16:24] japel commented on #3499
@dniccum which operating system are you using?

[2016-01-18 16:24] dniccum commented on #3499
OSX El Capitan.

[2016-01-18 17:36] japel commented on #3499
@dniccum and what do you mean with nothing happens?
what is the output of your terminal when doing
NODE_ENV=production node app.js
?

[2016-01-18 19:19] dniccum commented on #3499
Yes when I enter this into my terminal, I receive no response or additional
messages.

On Mon, Jan 18, 2016 at 11:37 AM Jan Viktor Apel <notifications@github.com>
wrote:

--
Doug Niccum

Sent from my iPhone. Sorry if I have fat fingers.

[2016-01-18 19:45] megakoresh commented on #3500
No, sailsbot, I do not think it would be helpful, since the issue has to do with passing variables around, and switching the view engine does not do anything. But have it anyway:
Sails: v0.12-rc5
NPM: v3.3.6
Node: 5.0.0
View engine: Jade

[2016-01-18 19:48] mikermcneil commented on #3499
@dniccum Would you mind setting up a repo that reproduces this in a new sails app real quick?  I think that'd be the easiest way to see what's going on.

e.g.:
[code]

Thanks man!

[2016-01-18 19:54] dniccum commented on #3499
After some toying around, I have determined that the problem had to do with the version of redis-connect that I was using. Once I reduced it to lock in version 1.4.5, the application works just fine. Sorry for wasting your time.

[2016-01-18 19:54] #3499 closed

[2016-01-18 19:59] mikermcneil commented on #3499
@dniccum Not at all - sorry for the confusion with versions.  I tried my best w/ the error messages, but it's sort of an uphill battle with the peer dependencies.  Luckily, I think we've got session store dependency versioning [more or less figured out](https://github.com/balderdashy/sails/issues/3486#issuecomment-171111185) for the upcoming v0.12 release, so getting the right version should get e

[2016-01-18 20:48] commandline commented on #3486
The original problem does not recur with connect-mongo@1.1.0 and sails@beta (which at time of testing was rc6.) I am running into a problem with one of my models later on in the start up, though, but I think that is separate from what I original reported here.

[2016-01-18 21:02] mikermcneil commented on #3494
Thanks for the detailed follow-up, @chrizz1001!

We're currently using socket.io-redis in production, and I haven't been able to replicate any problems associated with this locally.  Would you set up a repo that reproduces this in a new sails app real quick?

e.g.:
[code]

On a separate note, I updated the title of this issue to help keep better track of it-- see the [updated contribution guide](h

[2016-01-18 21:03] mikermcneil commented on #3494
re: subscribers() in particular -- we did notice some issues using this cross-instance in Socket.io-- see https://github.com/balderdashy/sails-hook-sockets/issues/19

[2016-01-18 21:22] mikermcneil commented on #3500
Hey @megakoresh- different view engines interpret locals differently.  For example, EJS allows you to provide configuration for the view engine itself by passing them amongst the locals (believe it or not x_x).  Anyways, just worth pointing out that in some cases, this can make a huge difference.  Would you post your version of Jade in this issue just for future reference?  Part of the reason for

[2016-01-18 22:13] megakoresh commented on #3500
As a matter of fact it isn't messed up. When I enter that in console it doesn't return the navlist at all - only the globally available locals (and before you ask - yes, I did try removing them to no effect). Logging `req.options.locals.navlist` right after policy reconstructs it shows the correct list. Logging the `navlist` from a view shows the messed up list with new and old entries. Logging `r

[2016-01-19 09:37] twhtanghk commented on #3154
Another way by not exposing defined models as global variables with "config/globals.coffee" below.
[code]

[2016-01-19 09:44] chenweiyj opened #3501 "How to test variables passed to res.view?"
I has a test using supertest and should.js as follows.

[code]

And I want to test the variables queried from the database, which is passed as the second parameter to `res.view`. However, I cannot get the variables in `res` in testing. The variables is a json such as

[code]

[2016-01-19 11:41] lennym opened #3502 "Sails apps cannot use hooks published to npm as namespaced modules"
I was trying to load a custom hook from my own npm namespace by installing it from npm from `@lennym/sails-hook-sockets`, but because this installs into `./node_modules/@lennym/sails-hook-sockets` it is ignored by Sails.

I'd propose swapping some of this code (https://github.com/balderdashy/sails/blob/master/lib/hooks/moduleloader/index.js#L399-L407) for something that instead reads the app's pac

[2016-01-19 14:36] lennym commented on #3502
Note: workaround is obviously to put the following in ./api/hooks/sockets.js:

[code]

It's just a little bit of a hack, and it's be nicer if it "just worked".

[2016-01-19 15:34] revic1993 opened #3503 "Unable to add timestamps in join table having many to many relation."
I am developing an api for my android application and was wondering if there is a way I could add timestamps to the join table in sailsjs in many to many association.I want to know when a particular user joined a particular group.

I tried adding timestamps fields like :
<code>
<pre>
groups:{
			collection:'group',
			via:'users',
			time_stamp: {
				type: 'datetime',
				defaultsTo: function (){

[2016-01-19 16:33] dniccum commented on #3499
@mikermcneil thanks for letting me know and all of your help.

[2016-01-19 19:24] ksylvan commented on #3459
http://www.commitstrip.com/en/2016/01/18/what-idiot-wrote-this-code/

[2016-01-19 21:53] fidian opened #3505 "Websockets, Amazon's ELBs and Proxy Protocol support"
I have an environment running in Amazon's AWS.  They support load balancers (ELBs) that are happy to forward web traffic and inject a header into the request so you know the originating IP.  One flaw is that the ELBs don't support websockets when operating in HTTP/HTTPS mode.  In order for an HTTP stream to be upgraded to a socket connection you must switch the ELB to TCP/SSL mode and forward the

[2016-01-19 23:38] mikermcneil commented on #3505
Hi @fidian, thanks for posting, and in particular for providing so much information your use case (it's very helpful).  To add a feature like this to the http hook, we would need to make relevant changes to the documentation. Would you please have a read of our [contribution guide](https://github.com/balderdashy/sails/blob/master/CONTRIBUTING.md) and then close this issue and submit it as a propos

[2016-01-19 23:45] mikermcneil commented on #3500
@megakoresh hmm, perhaps a global leak?  If `sails.config.views.locals` wasn't getting messed up, it doesn't seem likely to be coming from Sails core -- of course you never know.  I'd suggest creating a new sails app real quick and attempting to reproduce the error there.  If you can get it reproduced that way, please let me know and I'll dive in.

(Leaving this open to remind us to update the doc

[2016-01-19 23:50] mikermcneil commented on #3502
Thanks for the heads up @lennym- and for posting the workaround.  I was just looking at a similar issue re: adapters in the orm hook.  We'll look at it for hooks asap.  If anyone has time to submit a PR for this, that'd be awesome.

:+1:

[2016-01-19 23:59] mikermcneil commented on #3501
@chenweiyj In the past, we've set up content negotiation in those endpoints (i.e. expose what you normally send as locals as json if `req.wantsJSON`).  That changes your app though.

Another (potentially better) approach that would work is to mock the `res.view` function by initializing a hook override or an additional hook when you lift sails programmatically for your tests - e.g.

[code]

Then d

[2016-01-20 00:04] #3501 closed

[2016-01-20 00:05] mikermcneil commented on #3402
@luislobo definitely- occurred to me to do that and I just hadn't gotten around to it yet.  Would be glad to merge a PR on this if anyone has time to get to it.

[2016-01-20 00:07] mikermcneil commented on #2669
@bradshja  hmm... is blueprint routing enabled?

[2016-01-20 00:14] mikermcneil commented on #3425
@mikaelcom awesome, sounds like you're on the right track :)

@kentongray haha no problem- sorry for blowing up your inbox!

[2016-01-20 00:14] #3425 closed

[2016-01-20 04:14] mikermcneil commented on #3425
@mikaelcom spent this afternoon doing a pass at improving our validation docs:  https://github.com/balderdashy/sails-docs/blob/master/concepts/ORM/Validations.md    The validations table in particular could still use some work, but the rest of it is looking a lot better I think. I added some additional content re: ["When to Use Validations"](https://github.com/balderdashy/sails-docs/commit/ddd2ab6

[2016-01-20 04:43] mikermcneil commented on #3425
Btw if anyone is interested in sending a PR finishing the job, I added a new column "Attribute Type" to the table to represent the attribute `type`s that are compatible with each of the various validations.  The rows I updated in the "What It Checks" column are those which start with `Ensure the incoming value...`  (I'd like to emulate that for the others if possible).  Thanks!

[2016-01-20 05:26] mikermcneil commented on #3503
Hey @revic1993, meant to respond to this earlier day and ended up going on a hunt for where I'd set up an example of this a few days ago.  My bad! (I also never found the example x_x)

The short answer to your question is that when you want to add additional information to a bidirectional collection association like this (aka "many to many"), you're best off setting up an intermediate model.  For

[2016-01-20 05:33] mikermcneil commented on #3486
@commandline ok, great to hear (mostly!)  Really appreciate the follow-up.

btw still paused on the docs redeploy to sailsjs.org for a bit longer (we're about halfway through fixing the formatting on the conceptual overview for generators) but hoping to get them up soon.  Sorry about the delay (updating GitHub in the mean time).

[2016-01-20 05:39] #3503 closed

[2016-01-20 06:12] mikermcneil commented on #3321
@arnthorsnaer as strange as this sounds, I think this might be related to Grunt.  Not exactly sure what would have been going on re: the timing, but just wanted to add that in case it helps anyone.  (could also be complete coincidence).

If anyone sees something like this again, please open a new issue and I'll take a closer look.

[2016-01-20 08:22] revic1993 commented on #3503
Thanks @mikermcneil

[2016-01-20 09:52] lennym commented on #3502
Thanks. I'll see if I can put together a PR today if I get some time.

[2016-01-20 11:24] chrizz1001 commented on #3494
@mikermcneil  Thanks for the note, that is exactly my case! reading over the other thread...

[2016-01-20 11:24] #3494 closed

[2016-01-20 12:57] fidian commented on #3505
I've attempted to submit a pull request that follows the contribution guide.  Closing this issue.

[2016-01-20 12:57] #3505 closed

[2016-01-20 15:08] odnarb commented on #2669
Fwiw I have 58 controllers + 88 models. With blueprints enabled, it takes ~7-9 seconds to load on start.

With blueprints off it takes about half that time. It's a nice improvement. On load, does it wait for db connections to load up?

Still, applying 750+ models for an app sounds pretty insane..as in an edge case. :/

[2016-01-20 15:14] mikermcneil commented on #1133
This will be a core part of Sails in v0.12:  https://github.com/balderdashy/sails/issues/3402

[2016-01-20 16:17] mikermcneil commented on #3402
Hey @luislobo, I went ahead and added TODO stubs for this-- but it made me realize that the right way to do this is probably to make an addition to the hook spec.  Not sure on the details yet, but it could be something like this:

- hooks may choose to define a `checkAreRouteTargetsEquivalent()` function which receives two arguments, each of which is a route target.  If the hook recognizes both ro

[2016-01-20 16:20] luislobo commented on #3402
@mikermcneil OK, thanks! I was already developing a solution for this, I'll check your additions and adjust accordingly

[2016-01-20 18:05] Salakar commented on #3502
@mikermcneil  @lennym  - I believe it's just the regex [here](https://github.com/balderdashy/sails/blob/master/lib/hooks/moduleloader/index.js#L436) that needs changing to:

[code]

Here's a regex101 of it: https://regex101.com/r/lC8sM4/1

[2016-01-20 18:18] japel commented on #3492
@mikermcneil & @particlebanana I tested this here: https://github.com/balderdashy/waterline/issues/1282
and can confirm that in sails master this is solved.

[2016-01-21 00:40] Sathras opened #3509 "Feature Request .populate() and .populateAll() functions available on create()"
Is it somehow possible to make the populate() and populateAll() functions available on create()? Would be very helpful and save an extra step.
Great Framework btw.! :)

[2016-01-21 01:22] ggiacomo opened #3510 "Little bug in page documentation - locales"
At this page,
http://sailsjs.org/documentation/concepts/internationalization/locales
at the end, there's a little display bug.
Best regards

*moved to sails-doc repo https://github.com/balderdashy/sails-docs/issues/622

[2016-01-21 05:50] rasekar2000 commented on #3492
sails@0.12.0-rc6 node_modules/sails
├── cookie-signature@1.0.6
├── cookie@0.1.2
├── grunt-contrib-copy@0.5.0
├── mock-req@0.2.0
├── connect-flash@0.1.1
├── pluralize@1.2.1
├── mock-res@0.3.0
├── consolidate@0.12.1
├── colors@1.1.2
├── uid-safe@1.1.0 (native-or-bluebird@1.1.2)
├── commander@2.9.0 (graceful-readlink@1.0.1)
├── walk@2.3.9 (foreachasync@3.0.0)
├── semver@5.1.0
├── async@1.5.0
├── rc@1

[2016-01-21 06:41] bhanuV opened #3511 "Can routes for each contoller be specified in separate files?"
Hello,

I want to have routes for each controller in its own route file in sails.
For now we give for the routes explicitly in config/routes.js which will contain all the routes of the sails project.
Can we split up into number of files that is having a folder called 'routes' in the config and the 'routes' folder has all the files which contains routes for every controller.
If this case possible,

[2016-01-21 08:57] RWOverdijk commented on #3510
@ggiacomo Could you close this issue?

[2016-01-21 09:13] #3510 closed

[2016-01-21 09:54] RWOverdijk commented on #3511
@bhanuV I have no idea why you would even want to do that.

But you can just create a directory called routes, require them in routes.js and export that.

[2016-01-21 10:01] lennym commented on #3502
@Salakar That does not match my understanding from reading the code, which is that the code point you linked to will not be reached at all, because the module in question will never be recursed over, since it does not sit directly in a child directory of `./node_modules` with a package.json file at `./node_modules/<modulename>/package.json`. I will admit to not having debugged the code fully yet t

[2016-01-21 11:26] japel commented on #3492
@rasekar2000 yeah, thats because npm install sails@0.12.0-rc6 does not install master, if you wanted to install master you would have to:
npm install git+https://github.com/balderdashy/sails

[2016-01-21 11:56] lennym commented on #3502
@Salakar I've tested this at both `sails@0.11.4` and `sails@0.12.0-rc6` and neither return user-scoped modules with the [results from the node_modules directory traversal here](https://github.com/balderdashy/sails/blob/master/lib/hooks/moduleloader/index.js#L407)

[2016-01-21 13:22] robgrimball commented on #3490
Sorry it took a while to get back to you Mike.  I just did a "sails new testnode5app" and created a local.js file in config/local.js that did the following changes :

[code]

Obviously I have the appropriate files in the ssl folder as well (ssl.key, ssl.crt, ca.crt).

That is literally all I did to get the above results.  In looking at the changes you listed I admit I don't see off hand how they c

[2016-01-21 14:36] robgrimball opened #3512 "sails v0.12.0-rc6 join-room error"
When I try to join a room via socket-io I get :

[code]

Seems like some sort of version issue with async lib.  I noticed the async in node_modules is v0.1.22, yet the one in the devDependencies for sails-hook-sockets is like 0.9.x, there is no explicit version for it in the dependencies section.

[2016-01-21 15:13] crh3675 opened #3513 "Disable EJS View Cache & New Relic [Sails 0.9.16]"
I know this is an older version and we will upgrade soon however the issue I am trying to address is how or where to supply a configuration to disable the EJS caching.

We use NewRelic for monitoring and it isn't playing nice because it won't render it's tracking code most likely due to the templates being cached in production

[2016-01-21 15:21] robgrimball commented on #3512
A little further information.  I had an older install of the application (days older) which still used v0.12.0-rc6, but found it was working fine, and seemed to be using sails-hook-sockets v0.13.0.  The one in the latest npm installs is sails-hook-sockets v0.13.5, so something in the transition seems to have broken down.

[2016-01-21 18:27] rasekar2000 commented on #3492
@japel Thanks for note. Will review asap...

[2016-01-21 18:30] selenir opened #3516 "Model createdAt time mismatch"
Let's say you have model called Account, which has beforeCreate callback:

    beforeCreate: function (values, cb) {
      var passwordHash = createSuperSecureHash(values.password);
      values.password = passwordHash;
      cb();
    }

Now let's create new object and compare data returned by callback with data stored in database

    Account.create({ /* data here */ }, function (err, created) {

[2016-01-21 18:59] skavinvarnan opened #3517 "sails debug is not compiling importer.less"
Any changes made to the importer.less is not getting reflected when running sails in debug mode.

Works well when: sails lift
Doesn't work when: sails debug

Sails version: 0.11.4
node version: 4.2.2
OS: Mac 10.11.1

[2016-01-21 19:53] richdunajewski opened #3518 "Run hook before ORM loads"
I'm a little confused if this is possible, but let me give my scenario:

My DB configuration needs to be fetched from an external source during the bootstrap of Sails. I've created a custom hook that reaches out to the source and pulls in the config information and attempts to override the sails.config.connections objects where appropriate. The issue is that the ORM is already attempting to load b

[2016-01-22 01:29] scippio opened #3519 "error with orm hook after first lift"
version: 0.11.4 (after npm -g update)

[code]
and... error? :( :-1:
[code]

[2016-01-22 10:38] japel commented on #3519
@scippio that's not a "real" error... hooks have a timeout that can be configured in sails.config.<hookname>._hookTimeout
In your case the app wanted to know how migration should be done, because you did not configure it in sails.config.models.migrate and so it prompted you to choose between safe, alter or drop and as you were not fast enough choosing, hookTimeout happened.
just configure sails.co

[2016-01-22 10:49] scippio commented on #3519
Yes, I get it. But for "new" users it's very annoying..

`"it would be awesome though if sails ignored hookTimeout when in prompt..."`

Exactly.

[2016-01-22 10:50] japel commented on #3518
@richdunajewski would you mind posting your hook (or something similar)...
nevertheless, these are the hooks loaded by sails: https://github.com/balderdashy/sails/blob/master/lib/app/configuration/default-hooks.js

@mikermcneil told me something about it:

[code]

so, have you tried using
sails.after('hook:request:loaded', function (){ ... })
?

[2016-01-22 12:35] jasalazar commented on #3293
Hello, @senioroman4uk how did you fix it?

[2016-01-22 14:03] particlebanana commented on #3492
`0.12.0-rc7` was published yesterday which includes this patch.

[2016-01-22 15:38] senioroman4uk commented on #3293
hi. Find this lines in node_modules\sails\lib\hooks\views\render.js

// Clone the options, just in case
var options = _.cloneDeep(_options || {});

replace with
var options = _options || {};

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
This
email has been sent from a virus-free computer protected by Avast.
www.avast.com
<https://www

[2016-01-22 15:53] robgrimball commented on #3490
Further info :

I decided to go with a totally clean slate.

I took a machine I had just installed CentOS 7 on and updated (yum update).

Installed nvm.

Installed node 5.5.0.

Installed current sails beta via npm install sails@beta -g

Generated self-signed certs via instructions found here : http://www.akadia.com/services/ssh_test_certificate.html

Did "sails new test" to generate fresh app.

di

[2016-01-22 17:39] #3486 closed

[2016-01-22 19:19] richdunajewski commented on #3518
I think you mean `sails.after('hook:orm:loaded'. function(){})`, but yes I tried that and even your suggestion to wait until after request is loaded. The problem is that unless I can tell the ORM that it should depend on my hook, there's no way to alter the configuration before the ORM starts. Even if I can wedge my code in there, it would be a race condition and would be very unreliable.

If sail

[2016-01-22 20:27] randdusing opened #3520 "Set Timezone"
How do I set Sails to use a specific timezone? Right now it's using the timezone of my laptop, but I'd like it to use UTC instead.

[2016-01-23 00:34] kenjitayama opened #3521 "Processing requests sequentially?"
Hi,
I am experiencing the following in my SPA (Sails.js 0.11.2 and Mac OS Chrome).

1. request : GET /cards/1
1. request : DELETE /cards/1
1. response : DELETE /cards/1
1. response : GET /cards/1

Requests are not processed sequentially, making the following to happen in my app:
User shows card, user taps delete, card disappears, card reappears immediately.

I found these information about queuing

[2016-01-23 04:37] rasekar2000 commented on #3492
@particlebanana  Thanks.. :+1:

[2016-01-23 13:48] #3492 closed

[2016-01-23 22:00] mikermcneil commented on #3521
Hey @kenjitayama!  Hmm, I don't think you want to do anything w/ request queueing-- requests are processed as soon as they are received.  However what might be happening here is that one request has finished being processed by the time you send the next.  i.e. it sounds like step 4 responds before step 3 has finished.  If I'm understanding right, I think you'd want to address this on the front-end

[2016-01-23 22:10] mikermcneil opened #3523 "EMFILE errors swallowed by Grunt hook instead of being logged as errors"
For reference:

In Sails v0.11.3, with:
[code]
[code]

EMFILE errors from Grunt are being swallowed (logged as verbose), e.g.:
[code]

Haven't had a chance to test yet to see if this is occurring in 0.11.4 or the 0.12.0 prerelease, but leaving this as a note in the mean time.

[2016-01-23 22:12] #3521 closed

[2016-01-23 22:18] kenjitayama commented on #3521
@mikermcneil
Oh..forgot about the traffic. Thats for sure, queuing would prevent handling heavy traffic.
I'll try queuing in the front-end.
Actually, I need to wait for the GET response before processing the DELETE response, which requests are sent in this order.
Thanks for the advice!

[2016-01-23 22:21] mikermcneil commented on #3523
As a side note, it seems that there are other issues with grunt-contrib-watch@0.6.1.  Changes to deeply nested files are not noticed-- switching to `grunt-contrib-watch@0.5.3` seems to solve the problem.  Will need to dig deeper into this grunt plugin to see if there are any related issues there (otherwise we'll have to revert to 0.5.x as the generatd dep version in new sails apps)

[2016-01-23 23:52] 1mike12 commented on #1461
@Karnith thanks for the work you did do though. Not having gulp really bothered me.

[2016-01-24 00:57] 1mike12 commented on #2151
I have sails 0.11.4 and getting the same issue

[2016-01-24 01:29] 1mike12 opened #3524 "Can't run sails new, No generator called`new` found"
I'm on windows, sails version 0.11.4, npm 2.14.12. I found a very similar issue https://github.com/balderdashy/sails/issues/2151, and even tried installing 0.10.5, but that still didn't work.

Tried these steps from other issue:
npm -g remove sails
npm cache clear and then
npm -g install sails

Also tried reinstalling all of node, npm,

[2016-01-24 21:47] mikermcneil commented on #3509
Thanks @Sathras!  Would you mind closing this issue and [submitting this as a proposal](https://github.com/balderdashy/sails/blob/master/CONTRIBUTING.md#v-proposing-features-and-enhancements)?

[2016-01-24 22:04] mikermcneil commented on #3524
Hey @1mike12, thanks for reporting this.  I'll take a look momentarily and see if I can replicate the problem locally.

In the mean time, in case this helps troubleshoot:  when this has happened in the past, it's usually an issue with a mismatched version of sails-generate-new or sails-generate which is linked, globally installed, or _locally installed_- but in the default location (on unix system

[2016-01-24 22:10] mikermcneil commented on #2151
@1mike12 btw really appreciate you taking the time to create a backlink :+1:

[2016-01-24 22:35] mikermcneil commented on #3519
@scippio Agreed. Sorry it was annoying!  Btw, I don't know if this applies to your situation here, but just in case: if you're ever seeing that prompt about automigration on a server, **be very careful**!  If you see that, it means your app don't have a `migrate` config set, and that the `NODE_ENV=production` environment variable is not enabled. The reason we added that prompt was to help make fol

[2016-01-24 23:45] jdcauley opened #3525 "Status of Express"
Will Sails continue to be supported and maintained in the event that Express fails to get back under development?

[2016-01-25 00:38] mikermcneil commented on #3511
@bhanuV First off, just a gentle reminder: StackOverflow is a better format for this kind of question (see [contribution guide](https://github.com/balderdashy/sails/blob/master/CONTRIBUTING.md) for more info).

This is an interesting question-- and luckily there's a pretty easy answer (I think).  @RWOverdijk's approach is spot on-- I just want to take this opportunity to expand on it a bit in case

[2016-01-25 00:42] #3511 closed

[2016-01-25 00:47] mikermcneil commented on #3525
Hey @jdcauley, absolutely.  We're committed to Sails regardless of what happens to any of our dependencies.  Specifically re: Express, see https://github.com/balderdashy/sails/pull/3235#issuecomment-170417122 for more context.

[2016-01-25 00:56] #3525 closed

[2016-01-25 01:25] mikermcneil commented on #3518
Hey @richdunajewski, thanks for providing such detailed info about your use case-- it helps a lot.

If I understand correctly, it sounds like your Sails server needs to load its `connections` configuration dynamically-- but only once right?  If you need to use a different database on a per-request basis, that's [a different story with a separate solution](http://stackoverflow.com/a/34845674/486547

[2016-01-25 01:32] #3520 closed

[2016-01-25 01:33] mikermcneil commented on #3520
Hi @randdusing- see http://stackoverflow.com/questions/31199862/sails-autocreatedat-inserting-datetime-5-hours-back-form-current#comment50420638_31199862 and/or https://github.com/balderdashy/sails/issues/969 for some relevant info on this-- short answer is that your Node/Sails process uses server time.

For next time, please have a read through [our contribution guide](https://github.com/balderda

[2016-01-25 01:37] mikermcneil opened #3526 "grunt-contrib-watch@0.6.1 ignoring deeply nested changes"
It seems that there are other issues with [grunt-contrib-watch](http://npmjs.org/package/grunt-contrib-watch) @ version `0.6.1`.  Changes to deeply nested files are not noticed-- switching to `grunt-contrib-watch@0.5.3` solves the problem.

Will need to dig deeper into this grunt plugin to see if there are any related issues there (otherwise we'll have to revert to 0.5.x as the generated dep versi

[2016-01-25 01:37] mikermcneil commented on #3523
Created [separate issue](https://github.com/balderdashy/sails/issues/3526) for the 0.6.1 version issues (it's a separate problem)

[2016-01-25 01:39] mikermcneil commented on #3525
(@jdcauley Going to reopen this for a little while in case that link helps anyone else out who has questions about the future of Express.)

[2016-01-25 01:41] mikermcneil commented on #3526
For the record (since it's mattered re: filesystem watching in the past) I'm on OS X 10.10.5.

If anyone has a moment to try out this version of grunt-contrib-watch on Node 4 or another OS, and report their findings, that'd be awesome.

[2016-01-25 01:44] mikermcneil commented on #3513
Hey @crh3675 -- hm not sure offhand, but I'll take a look at https://github.com/balderdashy/sails/tree/v0.9.16 ASAP and let you know what I come up with.

[2016-01-25 01:48] #3519 closed

[2016-01-25 01:54] mikermcneil commented on #3513
Hmm.. ok so looking back at this, I'm not sure I understand about the new relic thing.  Can you tell me more about that?

Re view template caching-- it's going to be caching the contents of your raw EJS templates (specifically the EJS strings themselves, just like you see them in your text editor).  It sounds like this might actually have more to do w/ ETag caching; not sure without knowing more.

[2016-01-25 01:56] mikermcneil commented on #3517
Thanks for the heads up, @skavinvarnan.  We'll take a look and attempt to reproduce ASAP.

[2016-01-25 01:58] mikermcneil commented on #3516
Thanks for the thorough analysis @selenir.  Would you mind opening an issue for this in the [Waterline repo](https://github.com/balderdashy/waterline) instead?  It'll help us keep organized.

cc @particlebanana

[2016-01-25 02:00] mikermcneil commented on #3512
@robgrimball would you mind checking to see if this is happening on the latest stable release (0.11.4) as well? (pretty sure it's not because the tests are passing, but just checking to be sure)

cc @sgress454  : This looks like an issue with an upgrade to the version of the `async` dep.

[2016-01-25 02:03] mikermcneil commented on #3490
@robgrimball No problem, completely understand.  Thanks for taking the time to look into this.

ccing @sgress454, who added the new tests for SSL recently  (got any ideas?)

[2016-01-25 02:13] mikermcneil commented on #3502
@Salakar @lennym thanks y'all.

@lennym re `flattenNamespacedModules` -- correct- that's a workaround for when NPM released private packages. We'll get a fix for this working on master first, then bring it back for a 0.11.x patch (@sgress454 do you think you can take point on that?)

[2016-01-25 02:28] #3500 closed

[2016-01-25 02:34] #3509 closed

[2016-01-25 02:48] Salakar commented on #3513
@crh3675 was this to do with new relic timing headers / real time user monitoring?

Could you show me how you're passing the new relic tracking into your template? Is it via:

[code]

?

[2016-01-25 03:57] mikermcneil commented on #3487
@rasapetter alright- got this into the docs on master this afternoon (see backlink injected by github above).  It's not on the website yet, but if you wouldn't mind taking a look over the latest contents of the file on master in sails-docs to look for anything else helpful we might want to add, I'd appreciate it.
(the reference pages for the other resourceful pubsub methods are in desperate need o

[2016-01-25 04:26] bhanuV commented on #3511
Thanks for the reply @RWOverdijk and @mikermcneil I have learnt a lot from this. Keep up your good work. Cheers.

[2016-01-25 09:41] atiertant opened #4655 "broken buffer for binary data in create nested"
like https://github.com/balderdashy/waterline/issues/996 buffer are broken in create nested, this could be fixed using:

[code]

look at the pr in my fork for more detail: [Offshore-PR#10](https://github.com/Atlantis-Software/offshore/pull/10)

[2016-01-25 13:07] crh3675 commented on #3513
Yes that is how it is added.  I sm grasping at straws here so bear with me.  But it seems that the in-memory caching of the EJS templates may be causing New Relic to send NREUM (1) errors.

New Relic injects Javascript into the layout via a "layout.ejs" file.  Since the layout is global, I presume EJS is somehow caching the actual content up to an including the call for

    <%- newrelic.getBrowse

[2016-01-25 14:42] robgrimball commented on #3512
100% certain it is not affecting 0.11.4 without even looking.  That is where we run the same code and I reverted back down to it for now for further development while 0.12 is being worked on.  So 0.11.4 is working fine and always has.  For this particular issue, even 0.12-rc6 was working fine up until some change, likely a dependency as you mentioned.

[2016-01-25 15:54] dottodot commented on #2815
Do think it will be much effort to add support for socket.io-adapter-mongo. In sails-hook-sockets I've made the follow change and it seems to work although not had chance to test it much and it's only rough to see if it was possible. It also assumes the use of a mongo uri rather than options.

[code]

[2016-01-25 17:36] sgress454 commented on #3502
@lennym re:

The reason why the hooks loader wasn't implemented this way is that it requires you to always do `npm i --save` (or manually add packages to your package.json after installing).  If you're just installing a hook just to try it out in your project, you don't want it listed in your `package.json` where you are likely to forget about it.  Plus, every hook would have to have its installat

[2016-01-25 18:15] selenir commented on #3516
Done!

[2016-01-25 18:15] #3516 closed

[2016-01-25 18:20] mikermcneil commented on #2616
@IshantAgarwal @crh3675 or anyone else reading this:

I remember seeing this a while back, but was never able to reproduce it consistently.  Now using Node 0.10.26 and the latest stable version of sails (0.11.4), I haven't seen it at all.  So as far as I can tell, this is a timing issue that was present in older versions of Node and is solved now-- but I want to make sure about that.

If you're st

[2016-01-25 18:50] mikermcneil commented on #3513
@crh3675 ah so the production view cache in Express should only be caching the _template_, not the actual rendered view (it's definitely confusing because these two different types of caching are referred to almost interchangeably).  There's nothing in Sails that _should_ be caching rendered views on the server (in my experience the only time you'd ever want that sort of caching is when a page is

[2016-01-25 19:40] sgress454 commented on #3512
Hm, scratching my head a bit on this one.  I did see that `async` was listed as a `devDependency` of `sails-hook-sockets`, and it needs to be a required dependency, so I'm updating the `package.json` (and the `lodash` and `async`  versions) and publishing a new version.  But that should have manifested itself as the `require('async')` failing.  My best guess is that the many upgrades and downgrade

[2016-01-25 20:00] randdusing commented on #3520
Thanks!

[2016-01-25 22:15] mikermcneil commented on #2370
Hey @RWOverdijk, if you're still seeing this, would you let me know?

[2016-01-26 01:05] Boycce opened #3527 "Documentation on load order and sailsrc options."
Hey there,
Would be great to have some sort of documentation on the *load order* of sails. For example I was trying to console out some information in `config/bootstrap.js` but couldn't see the log due to an error further up the chain in `services/passport.js`. I just presumed config files were loaded first.

Also I never knew you could define custom paths for most of sails in `.sailsrc` until i r

[2016-01-26 01:27] Boycce commented on #3527
Oops wrong repo.

[2016-01-26 01:27] #3527 closed

[2016-01-26 01:48] fathermerry commented on #3351
+1 @nanyaks

[2016-01-26 02:26] RWOverdijk commented on #2370
@mikermcneil Will do. I think it's related to https://github.com/balderdashy/sails-mysql/issues/161

[2016-01-26 05:13] mikermcneil commented on #3351
@gleam-ru @fathermerry @nanyaks @imkven Thanks for the info guys.  This is definitely resolved in 0.12, and it _should_ be resolved in 0.11.4 as well, as far as it concerns sails core (according to our tests on Travis anyway).

@gleam-ru if looks like this particular require error is coming from a hook you're using called sails-hook-validate (it's probably doing a direct require of Waterline, but

[2016-01-26 05:19] mikermcneil commented on #3512
@robgrimball Appreciate the help.  We're about to switch to 0.12.0-rcx in production ourselves, so give us a few days and we should have the rest of the kinks worked out soon.

[2016-01-26 16:14] crh3675 commented on #3513
Thanks @mikermcneil.  I found something totally crazy interesting.  I have Redis in the backend of the application to do some low-level caching of external queries.  When I disable it, the problem from NewRelic goes away.

I am not using the `adapter` method within Sails, just loading in through a service I created.  So it seems more related to a conflict with Redis and the NewRelic code.

[2016-01-26 17:39] sgress454 commented on #3490
@robgrimball When using self-signed certs, there's no CA.  For example, see the setup for the [Sails https tests](https://github.com/balderdashy/sails/blob/master/test/integration/lift.https.test.js#L28-L31).  You can generate a cert and key online with http://www.selfsignedcertificate.com if you want to make sure you're getting valid files...

[2016-01-26 17:58] #3518 closed

[2016-01-26 19:02] mikermcneil commented on #3502
@sgress454 thanks for adding `hookName` to the docs.  We redeployed sailsjs.org and it just cleared cloudflare [here](http://sailsjs.org/documentation/concepts/extending-sails/hooks/installable-hooks#?specifying-the-internal-name-sails-uses-for-your-hook-advanced).

@lennym @Salakar We could make the hook identity a required property in the hook spec.  But still, in the mean time, since Sails core

[2016-01-26 19:55] AlexVentura commented on #1186
Actually, what's the best way to implement Promises in Sails.JS v0.11.3 or v0.11.4?

[2016-01-26 20:21] karimdag commented on #3524
@1mike12 @mikermcneil Everything works fine here.
OS : Win10 x64
Node : 4.2.4
NPM : 3.5.3
Sails : 0.11.4

[2016-01-26 23:01] mikermcneil commented on #3362
@AshKyd thanks for the link!  What's weird about the mongo docs is that they show it as a warning... I wonder if there was an unintended issue w/ peer deps on particular npm versions?

[2016-01-26 23:07] mikermcneil commented on #3513
Ah interesting...  Glad it's nothing in Sails, but it sucks it's still not resolved. We noticed issues in early 2015 with leaking Redis connections in Treeline that sent us on a similar wild goose chase.  Turns out nodetime (the monitoring tool which told us about the leaking Redis connections) was actually the source of the leaking Redis connections.  The solution was to disable nodetime x_x

One

[2016-01-26 23:31] mikermcneil commented on #3487
This issue was moved to balderdashy/sails-docs#627

[2016-01-26 23:31] #3487 closed

[2016-01-26 23:38] #3459 closed

[2016-01-26 23:39] mikermcneil commented on #3512
This issue was moved to balderdashy/sails-hook-sockets#21

[2016-01-26 23:39] #3512 closed

[2016-01-26 23:41] mikermcneil commented on #3367
You know, something just occurred to me...

@psdao1102 @justincy @obj63mc @JoaoCnh What IDEs / text editors are you guys using?

[2016-01-26 23:52] justincy commented on #3367
Cloud9

[2016-01-27 04:21] mikermcneil commented on #3524
Thanks @karimdag!

@1mike12 any luck?

[2016-01-27 04:55] mikermcneil commented on #2665
Unless @natecavanaugh or anyone else has any immediate objection or is interested in writing up a full proposal for the config option to control this pretty quickly, let's plan to leave this behavior as is for 0.12, but then tentatively plan to remove the automatic binding of context for Sails v1.0.

cc @sgress454

[2016-01-27 04:56] mikermcneil commented on #3455
This issue was moved to balderdashy/sails-generate-new#21

[2016-01-27 04:56] #3455 closed

[2016-01-27 06:22] mikermcneil commented on #2464
@Tronix117 thanks for posting your solution!  This is precisely the kind of stuff the hook system was designed to support.  As much as possible, we're hoping to keep core out of your way and expose the APIs you need to customize Sails in pretty much any way you want.

[2016-01-27 06:50] theocoria opened #3529 "Modular Module Loading"
Hi everyone,

I'm relatively new to sails. Have been having fun with it now for a while and it's awesome. So thanx very much for the great work.

I see there has been a bit conversation going on regarding loading controllers and services from subfolders within the respective directories and so on.

I have a related question, it looks a bit different though in that I want to load modules in a modul

[2016-01-27 06:59] mikermcneil commented on #3529
@theocoria welcome!  And thanks for the detailed explanation.

That would be awesome.  The best/easiest way to tell whether something like this is going to work is to implement it as a hook and start using it when building real-world apps.

The cleanest approach is probably to copy the moduleloader hook from sails core into a new repo ([like I did here for the orm hook](https://github.com/balderda

[2016-01-27 07:01] mikermcneil commented on #2665
see also https://github.com/balderdashy/sails/pull/2910  (this was merged, then later reverted- not sure what the intent was there.  Either way, it would to be rebased, and it would need accompanying changes to docs.  It does contain tests!)

[2016-01-27 07:14] theocoria commented on #3529
@mikermcneil Fantastic, was hoping for a chance to contribute to the sails community. Will let you know about progress or if we get stuck somewhere....

[2016-01-27 07:14] #3529 closed

[2016-01-27 08:29] mikermcneil commented on #3529
@theocoria awesome!  btw I refactored the hook a bit just now with the idea of making it a bit easier on you (and clarifying what's up for future releases).  Last relevant commit is b8293fc790e4d7a35f01e0574fc27233e1ed8e59).  Also, in case it's helpful, I just updated the core docs for this hook: https://github.com/balderdashy/sails/blob/master/lib/hooks/controllers/README.md

[2016-01-27 14:22] dbubs commented on #2977
@sgress454 any update on this?

[2016-01-27 23:09] 1mike12 commented on #3524
I am having the same exact problems on my Mac as well. I will keep trying and see if I have those mismatched packages, but I ran `npm -g upgrade` on both machines, which I'm starting to think might have something to do with it. I'm a node noob so not sure how that may be related.

[2016-01-28 00:16] mikermcneil commented on #3523
Just verified that this actually happening on `grunt-contrib-watch@0.5.3` as well (earlier when I thought it had been solved, apparently I was wrong).

Full details:

[code]

[code]

[code]

[2016-01-28 00:19] mikermcneil commented on #3523
Argh- meant to say `EMFILE` not "ULIMIT".

If you're reading this and haven't had to deal w/ EMFILE errors before, here's how you solve it on OS X for reference:

[code]

^^ that'll last as long as a terminal window is open.  Also note that more recent versions of OS X don't allow you to specify a ulimit much higher than `1024`.

[2016-01-28 02:30] crh3675 commented on #3513
I think you can close this.  I traced enough to find SailsJS cache had no impact.  Thanks!

[2016-01-28 08:53] Brendan92 opened #3530 "Relative big table select"
Hi everyone,

I'm quite new to sails, enjoying is very much but having a small problem though.

The problem I'm having is selecting a table with only four columns, but about 50 000 rows. I'm lifting sails in production environment, when my frontend app hits the route for that specific table is tries the full select for a min or so, then it "kills" itself. only output I'm getting is "Killed". I'm d

[2016-01-28 08:54] theocoria commented on #3530
+1

[2016-01-28 09:07] farandal commented on #2092
There is a hook that seems to work pretty well:
github.com/ghaiklor/sails-hook-cron

[2016-01-28 09:08] japel commented on #3530
@Brendan92 would you mind posting your code or any code similar to what you are doing (as a gist or even better a git repo) so that we can reproduce it?

[2016-01-28 09:10] japel commented on #3530
@Brendan92 and besides that:
which version of sails?
which version of sails-mysql?
which version of node?
which os?
which version of mysql server?

[2016-01-28 09:41] Brendan92 commented on #3530
@japel thanks for the quick response, we found the problem as it was hardware constraints from the host.

[2016-01-28 09:41] #3530 closed

[2016-01-28 12:44] jasalazar commented on #3143
Hello guys.

Is this guide updated? Since i read the following

But there is not such file on Sails 0.11.3 version.

Greetings!

[2016-01-28 19:23] sgress454 commented on #3500
Final postmortem on this--looks like it was actually due to an issue introduced in 166e772, with the way that `req.options` were being merged with the options specified during the initial route binding.  Fixed in dfa2765.

[2016-01-28 19:28] sgress454 commented on #3526
I think reverting to 0.5.3 should be fine.  There wasn't anything in [the changelog](https://github.com/gruntjs/grunt-contrib-watch/blob/master/CHANGELOG) that would particularly apply to Sails; I mostly bumped it because it "remove deprecated grunt.util libs" sounded like something that would give us a few less NPM warnings in our install.

[2016-01-28 19:58] sgress454 commented on #3517
Hi @skavinvarnan, there are [known issues](https://github.com/balderdashy/sails/issues/2670) with `sails debug` and Grunt on Sails v0.11.  It's been patched in the upcoming release, so your options are to use the beta version of Sails (`npm install -g sails@beta`) or patch your 0.11 version by replacing your Sails' `/lib/hooks/grunt/index.js` file with the contents of https://raw.githubusercontent

[2016-01-28 19:58] #3517 closed

[2016-01-28 21:37] richdunajewski commented on #3518
@mikermcneil, thanks! This is what I was looking for. I was able to connect to the DB before `sails.lift()` but wasn't sure how to pass the config into the lift method without having Sails overwrite everything. Your example made it clear that I just need to extend the object that `rc('sails')` digs up.

I wasn't using customer-specific configurations, but the example was close enough. A central DB

[2016-01-28 23:56] sgress454 commented on #3502
Merged in #3514, and added some more tests including tests for the `hookName` config and for saving hooks in namespaced folders.  Thanks @lennym and @Salakar for the help!

[2016-01-28 23:56] #3502 closed

[2016-01-28 23:56] sgress454 commented on #3513
Thanks @crh3675!

[2016-01-28 23:56] #3513 closed

[2016-01-29 05:36] leosuncin opened #3532 "Error: Cannot find module 'node_modules/sails/node_modules/captains-log"
After run ``npm install`` and then run ``sails lift`` appear the next error stack.
[code]
I think sails try to find `captains-log` inside ``sails/node_modules``, but is in ``../node_modules``. I tried to fix with these:
[code]
But then appear:
[code]
I have to run ``npm install async`` inside `node_modules/sails` in order to fix the problem.
My current enviroment:

I am the only one with these iss

[2016-01-29 06:09] sgress454 commented on #3532
Hi @leosuncin, NPM 3.3.12 unfortunately has some issues.  See our [blog post on the issue](http://blog.sailsjs.org/), and the [bug report on the NPM repo](https://github.com/npm/npm/issues/10458).  Please try installing the latest NPM with `npm install -g npm@latest`, then re-install Sails with:

[code]

[2016-01-29 06:10] sgress454 commented on #3532
(Or if you're not installing Sails globally, skip the `-g` option)

[2016-01-29 07:22] leosuncin commented on #3532
The problem persist after ``npm install -g npm@latest`` with:

[code]

[2016-01-29 14:43] vkstack opened #3533 "criteria modifier '<=' / 'lessThanOrEqual' is not working as expected!!!"
my lbound date is **2016-01-23 00:00:00** and rbound date is **2016-01-25 00:00:00**
so it shold send datas from 25th also but it is not doing so it only send me data after **2016-01-23 00:00:00** and datas strictly before **2016-01-25 00:00:00**. I mean
datas with **2016-01-23 01:35:01** and **2016-01-24 23:10:55** are shown.....
but i am expecting data with **2016-01-25 03:44:00** also,but i am

[2016-01-29 14:47] jasalazar opened #3534 "Change path to static files on layout file"
Good morning everyone.

I realized that when my layout file includes CSS and JS files this way:

`<link rel="stylesheet" href="/styles/bootstrap.css">`
`<script src="/js/jquery-1.11.3.min.js"></script>`

They are not rendered when using them behind Nginx as a proxy.

But when i edit the injection in my layout file this way:

`<link rel="stylesheet" href="/assets/styles/bootstrap.css">`
`<script sr

[2016-01-29 15:23] vkstack commented on #3533
That was not the issue.
I figured Out the my mistake.....

[2016-01-29 15:23] #3533 closed

[2016-01-29 18:32] sgress454 commented on #3532
Hm, on second look, it seems like the error is coming from the `sails-hook-winston` plugin you have installed.  You'll have to contact that project maintainer directly.  It may have compatibility issues with the latest version of Sails.

[2016-01-29 18:35] sgress454 commented on #3532
Yup, this line:

[code]

will not work with NPM 3.  They'll need to patch that!

[2016-01-29 18:35] #3532 closed

[2016-01-29 18:36] leosuncin commented on #3532
Thanks @sgress454

[2016-01-29 19:20] jasalazar opened #3535 "Sails is very limitful"
I am so excited about learning and working with Sails, but i'm finding it limitful.

What is the point of working the MVC way if you cant call actions or model methods directly from the view?

There are plenty of things that can happen in the front end side but Sails cant handle them.

Please, @mikermcneil and @sailsstaff consider this humble opinion from a Sails enthusiast.

[2016-01-29 22:49] particlebanana commented on #3535
@jasalazar thanks for the comments. Sails is a backend framework so it only serves data or renders a server rendered view. Your views have access to whatever data you pass into it. You can read more about the View handling in the [docs](http://sailsjs.org/documentation/concepts/views) or checkout the Sails tag on [StackOverflow](http://stackoverflow.com/tags/sails.js/) if you have questions.

[2016-01-29 22:49] #3535 closed

[2016-01-30 00:59] odnarb commented on #3534
We're essentially bypassing sails.js from serving any static files. Nginx, I think, handles that faster. Besides, if you have logging on per request, it saves sails.js from creating a log entry for accessing static assets.

Nginx config:
[code]

Then our paths can be like this in layout.ejs:
[code]

[2016-01-30 16:27] 1mike12 commented on #3524
I figured out the problem. I used to use sails generate new gulp https://www.npmjs.com/package/sails-generate-new-gulp and an optional part of that involved adding a global .sailsrc in my user directory. After removing it, I could generate things fine!

[2016-01-30 16:27] #3524 closed

[2016-01-30 19:32] catdad opened #4720 "`save` function errors when model has a secondary unique value"
This is similar to https://github.com/balderdashy/sails-redis/issues/24, but seems to throw a different error. The gist is that if the Model contains a unique field other than the primary key, the record cannot be updated using the `save` function.

Repro code:

[code]

The error being output:

[code]

`save` works successfully if you remove the `unique` constraint on the `someId` field.

Further,

[2016-01-31 20:31] mikermcneil commented on #3534
@odnarb definitely not a bad idea to separate out your static files from your API, even if it's just for cleaner logging.  Personally, I've done it both ways, but obviously pushing assets off to a CDN is the best bet for optimizing load times.

@jasalazar This is mysterious indeed-- you shouldn't have to point to `assets/`, because your flat files are actually being served from `.tmp/public/`.  My

[2016-01-31 20:42] mikermcneil commented on #2665
@natecavanaugh Went ahead and opened a very simplistic proposal for this to make sure it stays on our radar: https://github.com/balderdashy/sails/pull/3536

@everyone:  We could really use help to get this done for Sails v1.0, so if you're interested in contributing, please check out that pull request above.  Thanks!

[2016-01-31 20:42] #2665 closed

[2016-02-01 03:10] mikermcneil opened #3537 "Extra property in blueprint API response (`ørigindex`)"
Extra property (`ørigindex`-- from wl criteria) returned when using Blueprint API.

- sails@master
- waterline criteria is v0.11.2 as dep of sails-disk@0.10.8
- waterline criteria is also 0.11.2 as dep of waterline 0.10.30

[code]

(just tracking it here in case it helps anyone else out in the mean time while I hunt it down)

EDIT:  should also mention this was causing only one record to show up i

[2016-02-01 07:31] Wizzercn commented on #3465
static path ....
config/http.js

module.exports.http = {
  customMiddleware: function (app) {
    app.use('/upload', require('../node_modules/sails/node_modules/express')['static'](require('path').normalize(__dirname + '/../upload')));
  },

[2016-02-01 07:58] mikermcneil commented on #3535
@jasalazar also, if you have other ideas about how you'd like to see this work based on your experience with other frameworks, etc., please let us know in the form of a proposal.  Thanks!

[2016-02-01 16:00] jasalazar commented on #3535
I'm honored to have the opportunity to offer you a proposal @mikermcneil

It would be very helpful for every SailsJS user (newbie, like me, or more experienced) to be able to call controller's actions from the view.

I guessed, without having read the documentation, it could be something like <% MyController.action %>, since i feel confident using EJS sintax.

Thanks for the opportunity.

[2016-02-01 16:03] mikermcneil commented on #3537
More info:

[code]

Contents of `.tmp/localDisk.db`:

[code]

[2016-02-01 16:07] sgress454 commented on #3537
My `npm ls`, w/ NPM 2.8.4:

[code]

[2016-02-01 16:14] mikermcneil commented on #3537
Confirmed this is an issue w/ `npm link`.  The following dependencies work:

[code]

[2016-02-01 16:16] #3537 closed

[2016-02-01 16:36] mikermcneil commented on #3490
Any new developments here, @robgrimball?  We're working to get this release out ASAP so want to get to the bottom of this if you're still seeing issues.  Thanks!

[2016-02-01 22:35] chirag200666 opened #3538 "Sails 0.12.0-rc6 debug error : Segmentation fault"
When I am running sails with node-inspector then I am getting Segmentation fault error.
I ran the sails app using the command : `node --debug app.js`
and ran node inspector using `node-inspector`
The app is lifted and the bootstrap code runs but after that it gives the segmentation fault error

I also tried the debugging using the command  `node-debug app.js --save-live-edit=true`
here the debugge

[2016-02-01 22:56] luislobo commented on #3502
We've been using private npm modules and hookName with no issues.

[2016-02-02 16:00] robgrimball commented on #3490
@sgress454 I did actually not have a CA file when I tested on my standalone linux box, and same results.

@mikermcneil I tried again with a sails new app and still am running into this same issue with latest sails@beta (which shows in splash screen as rc8).

If I delete the node_modules folder and then npm install sails@v0.11.4 and then npm install, all is working again in https land.

I'm not rea

[2016-02-02 17:48] sgress454 commented on #3490
I was able to finally see this today, looking into it further.  Thanks for all the info @robgrimball!

[2016-02-02 20:33] levity commented on #3317
Looks like [the fix](https://github.com/balderdashy/sails/commit/6b7e64847b5fc21cd03bb4f6b848cc4bedd67f5d) didn't make it in until 0.12.0-rc5.

[2016-02-02 21:46] sgress454 commented on #3490
Ok, so it turns out that the issue was Lodash 3.x's new and exciting feature wherein `_.merge()` turns buffers into arrays.  The reason the tests were passing was that the cert and key config were being specified as strings (which is apparently valid).  Also interesting to note, the _first_ argument to `_.merge()` is not affected by this problem--only subsequent arguments.

In any case, this is fi

[2016-02-02 21:46] #3490 closed

[2016-02-02 21:50] sgress454 commented on #3538
Hi @chirag200666, thanks for the report.  It's hard to say what's going on without more information.  Would you mind setting up a repo that reproduces this in a new sails app?

e.g.:
[code]

Thanks!

[2016-02-03 11:19] theocoria commented on #3529
@mikermcneil hey man....I was hashing this out now for a while....followed the code everywhere....hehe

So, what I've seen thus far, and this is now with Sails version 0.11.4, is that when you define the custom hook with the same name as you described above, the moduleloader in sails core picks it up and says the core code is being over written. But it never gets executed. I eventually found the c

[2016-02-03 12:59] borestad opened #3539 ""Duplicate" entries in sails cli?"
sails@^0.12.0-rc9

Console, consle, consloe. Is this intended for people that can't spell to "console"? :-)

![image](https://cloud.githubusercontent.com/assets/286455/12782834/16320c4e-ca7e-11e5-8fbf-5ee5c2281459.png)

[2016-02-03 18:19] netlander opened #3542 "Error page (404) nested in layout.ejs"
When a non existant URL is requested the 404 error page shows which is great. But when I look at the source I see the 404 page nested in the layout page resulting in two nested \<html\>, \<head\>, \<body\>, etc.. tags. This has to be a bug.

[2016-02-03 18:38] Aure77 opened #3543 "Querying date using Rest API where clause"
If I send this _where_ clause in a rest api call :
`{'updatedAt': {'>':'2016-01-01T00:00:00.000Z'}`
(updatedAt greater than 2016-01-01)

With this url for example :
`http://localhost:1337/api/rest/tournament?where={%27updatedAt%27:{%27%3E%27:%272016-02-02T10:57:08.976Z%27}}`

This will output data without filtering by _updatedAt_ :
[code]
_Test2_ should not be returned.

What is the correct way to

[2016-02-03 19:03] mikermcneil commented on #3542
Hey @netlander, by default all of your HTML views are served wrapped in `layout.ejs`.  You can disable layouts and use partials instead.

[2016-02-03 19:03] #3542 closed

[2016-02-03 19:04] mikermcneil commented on #3542
(See http://sailsjs.org/documentation/reference/configuration/sails-config-views for more info on disabling layouts)

[2016-02-03 19:21] mikermcneil commented on #3543
Hi @Aure77 - would you mind adding information about which adapter and Sails version you're using? Thanks!

[2016-02-03 19:22] mikermcneil commented on #3539
@borestad indeed- aliases shouldn't be displaying when you run `sails --help` though!  I'll look into it.

[2016-02-03 19:29] mikermcneil commented on #3539
@borestad will be in v0.12

[2016-02-03 19:29] #3539 closed

[2016-02-03 19:32] #3526 closed

[2016-02-03 19:40] #3534 closed

[2016-02-03 19:46] #3523 closed

[2016-02-03 19:48] Aure77 commented on #3543
Sails version : 0.12.0-rc6
Db Adapter : sails-disk@0.10.8

[2016-02-03 19:51] mikermcneil commented on #3362
Ok added a note here: https://github.com/balderdashy/sails-docs/commit/9445fb5e73560e8e300481f4c16f7f3a27842f90

[2016-02-03 19:51] #3362 closed

[2016-02-03 20:00] mikermcneil commented on #3367
@psdao1102 @obj63mc @JoaoCnh What about you guys?

[2016-02-03 20:00] mikermcneil commented on #3367
(@justincy would you mind checking to see if this happens using emacs, vim, or Sublime Text?)

[2016-02-03 20:06] mikermcneil commented on #3535
@jasalazar replied to your PR :)

[2016-02-04 09:10] Benew commented on #1503
Hey guys I know this is old but I can't seem to find a way to get the object's PK before updating. Can you please help?
How can I access the `req` object in the lifecycle callback (`beforeUpdate`)?
Is there no other way to get the object's `id`? Accessing `req` from the model clearly seems wrong.

[2016-02-04 09:53] Benew commented on #1794
+1

[2016-02-04 11:50] jury89 commented on #2379
thank, you saved my day :+1:

[2016-02-04 14:30] Benew commented on #1503
OK as of sails 0.12.0-rc? the id is in the `value` argument. Thanks!

[2016-02-04 16:37] Benew commented on #2731
Posted a comment here https://github.com/balderdashy/waterline/issues/751#issuecomment-179931398

Would need to know which call is the first one. Is that possible?

[2016-02-04 19:39] LongSteve commented on #3538
I hit this same issue today.  I think it's related to this Node issue https://github.com/nodejs/node/issues/4440

One comment says that if you roll back to Node v4.2.4, that fixes the issue, but that might be awkward depending upon how you install Node.

In Sails, I got around the issue by setting **inspect:false** in my log config.  But, since that can be useful when running normally, I actually

[2016-02-04 21:03] NikkiDreams opened #3544 "v0.11.4 config/env/staging.js Config Ignored"
We have a multi-environment ecology with Staging thrown in there along with local, dev and prod.
When we lift the server the staging config is read but the mysql adapter and connection and other config options are ignored. The default adapter which uses root@localhost is being pulled from, I assume, the sails-mysql module. It does not matter where we put the connections and model adapter config. I

[2016-02-04 22:50] NizarBlond opened #3545 "v0.11.4 JST not written issue"
I defined an html file under assets/templates/ to compile for JST use.  I get the following error when doing "sails lift --verbose":

[code]

What am I required to do other than defining HTML files under assets/templates/?

[2016-02-05 06:17] etiennegauthier commented on #876
I got a use case if anyone is interested. We are considering starting using sails as our main entry point for administration of everything. So in real terms, we will end up using sails on 3,4 maybe one day 10-15 databases/projects. I believe in our case, it is totally fair to expect having project organized in sub folders. Is there any workarounds ?

[2016-02-05 06:51] kuldeepmobinett opened #3547 "Node.js Getting Error when saving session in database in Sails.js using sails-mongo module?"
i have gone through the sails doc http://sailsjs.org/documentation/reference/configuration/sails-config-session db configuration is

  adapter: 'sails-mongo',
  host: 'localhost',
  port: 27017,
  db: 'sails',
  collection: 'sessions',
Getting error -->

A hook (session) failed to load! error: Could not load Connect session adapter :: sails-mongo installed "sails-mongo" by using npm install sails-

[2016-02-05 06:56] chirag200666 commented on #3538
Hi @sgress454
I created the issue repo : https://github.com/chirag200666/sails-issue-3538
using node-inspector while debugging the app should give the error.

To replicate the issue I had created an api and added a create query in bootstrap.js (somethings like `User.create({'name':'Ram'}).exec( console.log);` ) and then the segmentation fault issue occurs. Few observations I made, when I keep boot

[2016-02-05 06:57] chirag200666 commented on #3538
@LongSteve changing the log.js file ( config/log.js ?) didn't fix the issue for me. But downgrading node to 4.2.4 allows me to debug, thanks for your help.

[2016-02-05 07:52] theocoria commented on #3529
@mikermcneil Any thoughts so far?

[2016-02-05 08:19] ivan-vilches opened #3548 ".tmp problem and grunt sass"
I installed sass , now when i start the server ' sails lift' i get this:

[code]

i am using windows 8, thanks for any help.

[2016-02-05 11:12] mikermcneil commented on #3543
@Aure77 So @particlebanana did some work tracking this down, and here's the situation:  In this particular case, the fix is in `waterline-criteria` (a dependency of sails-disk).  Will keep you posted on that (we'll do a patch for 0.11.x).  Thanks again!

I also wanted to take some time to provide background on this for your future reference, and for anyone else reading this who wants to learn more

[2016-02-05 11:35] mikermcneil commented on #3543
@Aure77 just published a patch of sails-disk-- would you try it out when you have a sec?

[code]

Thanks!

[2016-02-05 11:56] mikermcneil commented on #3544
@NikkiDreams thanks for the report, we'll look into it asap.  In the mean time, would you provide your node and NPM versions as well?  (doubt it actually matters here, but we've been trying to be as disciplined as we can about getting that information documented in issues so that they're more useful when landed on in the future; e.g. from search results)  Thanks!

[2016-02-05 12:02] mikermcneil commented on #3545
Hi @NizarBlond, can you provide some more information?  From what I can tell, this is a question rather than a bug report, but I want to be sure.  See our [**contribution guide**](https://github.com/balderdashy/sails/blob/master/CONTRIBUTING.md#ii-issue-contributions) for info about the information to submit when creating an issue.

[2016-02-05 12:02] mikermcneil commented on #3545
@NizarBlond by the way, re: your question:

I went and did some cleanup work in our default-generated task config files recently-- here's a link in case it's helpful: https://github.com/balderdashy/sails-generate-frontend/blob/master/templates/tasks/config/jst.js#L6

[2016-02-05 12:04] mikermcneil commented on #3545
Another tip for you, in case this gets you on the right track:  Once you've gotten one or more HTML files in your client-side templates folder  (e.g. `assets/templates/foo.html`) and put some content therein (e.g. `<div>hi</div>`), then try running the following in the browser:

[code]

[2016-02-05 12:09] mikermcneil commented on #3548
Hi @ivan-vilches, would you mind recreating this from an off-the-shelf sails project and sharing the repo?  This is the kind of thing that's really hard to replicate without seeing exactly how the Grunt task was set up-- and the easiest way to get to the bottom of it is via a repo.

For reference, here's an example of how you might do it:

[code]

[2016-02-05 12:12] mikermcneil commented on #3548
Also @ivan-vilches, if you wouldn't mind providing your Node, NPM, and Sails versions for posterity, that'd be really helpful.  To quickly get that, please run the following and post the output as a comment on this issue:

[code]

Thank you!

[2016-02-05 12:15] mikermcneil commented on #3547
Hey @kuldeepmobinett, would you try:

[code]

And then restart your server and give it a go?  If that solves it for you, please come back here, give us the thumbs up and close the issue.  If that _doesn't_ do the trick, please provide some more information about the version of node, NPM, and Sails that you're currently using (see https://github.com/balderdashy/sails/blob/master/CONTRIBUTING.md#ii-

[2016-02-05 12:21] mikermcneil commented on #3538
@LongSteve thanks for the tip, and the link to the issue in Node.  That helps a ton.

@chirag200666 really appreciate the repro-- and thanks for trying this out w/ 4.2.4!  Unfortunate that the log config fix doesn't solve it.  Looks like Myles pushed a fix in Node core, so this should be resolved again soon.

[2016-02-05 12:29] mikermcneil commented on #3547
@kuldeepmobinett wow- just realized there is a typo in our docs, sorry about that!  Should say `connect-mongo` (not `sails-mongo`).  This is my bad; I recently updated the docs to reflect the appropriate version and ended up with a copy/paste error.

I also noticed you'll want to change your adapter config to `'connect-mongo'` or `mongo` (instead of "sails-mongo").  Hope that helps!

[2016-02-05 12:30] mikermcneil commented on #3547
Just updated the docs -- will redeploy shortly!  (https://github.com/balderdashy/sails-docs/commit/6f74633578b9f47ca9a7e85b0cd686637f88d9e6)

[2016-02-05 12:33] mikermcneil commented on #3538
To summarize for anyone reading this, if you run into this error, the solution (as of Friday February 5th, 2016) is to downgrade to node version 4.2.4.

Will keep this open until https://github.com/nodejs/node/pull/4819 in Node core is merged and published, and we've confirmed that the new version solves this problem.

[2016-02-05 12:38] mikermcneil commented on #3526
This will be changed back to 0.5.3 (_and pinned_) in 0.12 (so this issue should never affect apps using a stable version of Sails)

[2016-02-05 12:39] mikermcneil commented on #3502
@luislobo :+1: thanks for the update!

[2016-02-05 14:51] zeluis9 opened #3549 "[Question] Machinepack as a hook?"
The title itself is pretty enlightening :smile: Could I theoretically build a machinepack that acts as a sails hook? If so, how? Or this idea is somehow a _stupid_ one?

[2016-02-05 15:41] NizarBlond commented on #3545
That's what I did, there is no jst.js file generated.
Also, I obviously put the /foo.html under assets/templates/ with content. NOTHING.

Am I missing something in the instructions on how to enable this feature? I don't guess so, it should be enabled by default.

I started a brand new project to test it from scratch and NOTHING.

Can you please chec the feature?

[2016-02-05 16:03] mikermcneil commented on #3549
@zeluis9 I think the big question here is what are you trying to do?  You can always include a machinepack or any node package in your hook or from anywhere in your app using `require()` of course.  You could absolutely bundle up any functionality you might want in a hook and pull it into a machinepack-- whether you _should_ or not depends on whether that logic is independently useful outside of y

[2016-02-05 16:08] #3549 closed

[2016-02-05 16:10] NizarBlond commented on #3545
I guess I found the bug

I did the following change in tasks/config/jst.js and BOOM, it works!

`			files: {
				// e.g.
				// 'relative/path/from/gruntfile/to/compiled/template/destination'  : ['relative/path/to/sourcefiles/**/*.html']
				// '.tmp/public/jst.js': require('../pipeline').templateFilesToInject,
				'.tmp/public/jst.js': ['assets/templates/**/*.html']
			}`

Then, in tasks/pipeline

[2016-02-05 16:24] zeluis9 commented on #3549
Awesome answer @mikermcneil ! :+1:  I'm enlightened :smile_cat:

PS: please check my pull request at [machinepack-passwords](https://github.com/mikermcneil/machinepack-passwords/pull/2) and give some feedback :)

[2016-02-05 16:33] mikermcneil commented on #3545
Alright, thanks @NizarBlond!  This should be resolved if you do a fresh install of sails-- just published a patch release of sails-generate-frontend (more details [here](https://gitter.im/balderdashy/sails?at=56b4c6d465d6cbe729045777))

[2016-02-05 17:23] Anandapriyan opened #3551 "Select Specific Fields with Non-Primary Key Values fails in latest version"
Hi,
     The following `controller/service` code returns body of the message from message collection matches with the id passed to it in previous sails-mongo  ("sails-mongo": "0.11.2") but in new version of sails-mongo ("sails-mongo": "^0.11.2")  it returns all the data. i have attached the response for each version of sails-mongo below here.

 `Message.find({id:id},{body:1})`
		`.then(function(re

[2016-02-05 17:27] rasekar2000 commented on #3551
Thanks Anand.. It worked in 11.2.. Let me take it from here  to test in 11.5, 11.6, 11.7 and 12.0

[2016-02-05 18:05] mikermcneil commented on #3551
@Anandapriyan @rasekar2000  Hi guys- this usage isn't supported in Waterline at the moment (it's something we're working on for the future).

[2016-02-05 18:09] mikermcneil commented on #3551
(see also https://github.com/balderdashy/waterline/issues/919)

[2016-02-05 18:10] #3551 closed

[2016-02-05 18:30] sgress454 commented on #3544
@NikkiDreams do you have settings in your `local.js` file that may be overriding the environment config settings?  The `local.js` file is meant for a single system, thus [taking precedence over all other config](http://sailsjs.org/documentation/concepts/configuration#?the-config-localjs-file).

[2016-02-05 18:39] NikkiDreams commented on #3544
@sgress454 No I physically removed all other env/config files just to be sure that was not the case.

[2016-02-05 18:42] sgress454 commented on #3544
@NikkiDreams this would be in `/config/local.js`, not under `/config/env`.

[2016-02-05 18:48] NikkiDreams commented on #3544
@sgress454 Yeah. I don't have a config/local.js at all.
@mikermcneil Per your request. Sorry I should have put this info in there from the start.
[code]
and for totally nerding out details:
[code]

[2016-02-05 18:52] sgress454 commented on #3544
@NikkiDreams thanks.  Can you post your whole `config/env/staging.js` file too?  I'm not able to reproduce here, and our tests for env-specific config are passing, but I'm sure we'll get to the bottom of it.

[2016-02-05 19:10] sgress454 commented on #3545
Could this be related to https://github.com/balderdashy/sails/issues/3367 as well?

[2016-02-05 19:12] NikkiDreams commented on #3544
@sgress454
[code]

[2016-02-05 19:29] sgress454 commented on #3544
@NikkiDreams Thanks.  One question I have is, what config (if any) _is_ being loaded?  You might try starting your app with `NODE_ENV=staging sails console` and then examining various `sails.config` properties (for example by typing `sails.config.connections`).  If you see something in there that shouldn't be, you then search your app code to determine where it might be coming from.

For my part,

[2016-02-05 19:48] NikkiDreams commented on #3544
@sgress454 I will give it a whack and get back to you.
BTW thank you so much for the very quick responses. I know you guys are busy too. :-)

[2016-02-05 21:41] particlebanana opened #4654 "Update node 5 tests"
Right now our integration tests does some symlinking voodoo that doesn't work with NPM 3. This needs to be fixed to get the tests passing on node 5. For now I'm removing node 5 from the Travis config.

[2016-02-05 21:50] NikkiDreams commented on #3544
@sgress454
Well I am happy to say things are working now.
This was so strange. Running sails console and sails.config showed me that absolutely none of the file was being loaded/read past the first block of comments above the module.export = {}

I did not know about using sails console. So happy you told me about that one, because I would never have figured this out in such a short time.

**## Tha

[2016-02-05 21:58] sgress454 commented on #3544
Great to hear @NikkiDreams, thanks for keeping us posted!

[2016-02-05 21:58] #3544 closed

[2016-02-06 00:14] dspencerr commented on #2379
amazing that they still have done nothing with this.  Thanks so much!

[2016-02-06 03:08] rasekar2000 commented on #3551
**1) Concern :** When this sails-mongo is specific to MongoDB connectivity and MongoDb very well supports this feature, I think, this requirement can be prioritized. Thanks for the note.
**2) Workaround :** For now, once we retrieved the DATA from Mongo DB , we are using lodash (map / filter / pluck) like functionality to arrive at the data that needs to be transferred from Sails to the Frontend A

[2016-02-06 08:43] kuldeepmobinett commented on #3547
i was trying to install "npm install connect-mongo@0.8.4 --save --force"
I sure hope you know what you are doing.
npm ERR! Linux 3.19.0-31-generic
npm ERR! argv "node" "/usr/local/bin/npm" "install" "sails-mongo@0.8.4" "--save" "--force"
npm ERR! node v0.10.25
npm ERR! npm  v3.3.8

npm ERR! No compatible version found: sails-mongo@0.8.4
npm ERR! Valid install targets:
npm ERR! ["0.12.0","0.11.7","

[2016-02-06 21:54] mikermcneil commented on #3486
(btw @commandline if you still see that separate model issue, please let us know)

[2016-02-06 21:58] mikermcneil commented on #3486
@commandline also to wrap up re: 0.12:  we quietly published yesterday. The migration guide and 0.12 docs are live now, and we'll be following up with patches / doc improvements in the coming days.  We're planning to post some more background info on the changes (particularly re: socket methods) as well as some improved documentation for scaling a Sails app that uses sockets (as well as for scalin

[2016-02-06 21:58] mikermcneil commented on #3547
@kuldeepmobinett another doc mistake, sorry!  That should say `1.1.0`  See https://github.com/balderdashy/sails/issues/3486#issuecomment-172649454 for more info.  Fixing the docs now.

[2016-02-06 21:58] mikermcneil commented on #3547
[code]

[2016-02-07 16:27] sgress454 commented on #3538
nodejs/node#4819 has been merged.  Not published yet, but should be in the next release.

[2016-02-07 19:56] scott-wyatt commented on #2092
Here's something that I've found while making larger sails applications.  Not all Cron Jobs are global and not all Cron jobs are local. For a global example, if you have a server cluster and you have a Cron Job that sends out emails you wouldn't want each sails app in the cluster each sending out the email list, you would want them to work together. For a local example, if you have a server cluste

[2016-02-08 03:44] udanpe opened #3553 "Sails quick install and new features"
What about create zip file with full npm dependency and unzip it with 'sails new' command? Now we have 40 mb in main node_modules and 90mb in sails symlink (same 40 + 50) For example I always install waterline in main node_modules (+10mb) because i like when ide show me all functions. And symlink dont give me use (or install) different version of sails. I understand that all time download 90 mb fr

[2016-02-08 04:11] pjacferreira opened #4652 "notNull fails on Empty Array"
Hi,

I have the following attribute settings in a model:

[code]

I have a default set to an empty array (which works fine).
But when I add the notNull validation, I get the following error:

[code]

For the 'boolean' the combination works fine.

SAILS VERSION 0.11.4

[2016-02-08 12:07] mikermcneil commented on #3553
Hi @udanpe, thanks for the feedback.

re: flags for `sails new`: I like that!  The `version` flag would probably not make it in since there could be subtle differences between Sails versions in the CLI code-- at least currently (see the PS below).  If anyone reading this would like to help flesh that out further, please feel free to create a proposal.

re: including a tarball: @sgress454 and I hav

[2016-02-08 13:26] udanpe commented on #3553
npm install --global sails load all dependencies. First launch sails command generate archive (one or many with different configuration: only sails, +gulp, +hbs etc ) and after launch sails new sails unzip it. different version no problem too.

[2016-02-08 15:38] Oikio opened #3554 "Jsonapi.org specification support how to."
Hello, I'm new to Sails and my question seems obvious, but I haven't found anything helpful.
I need to develop server based on [jsonapi.org](jsonapi.org) specification and I'm not sure if I can do it simple way or if there is some good solution for it. (Please point me to docs or something. Blueprints maybe?)
I could use other framework but I liked Sails a lot and my app may grow in future so I wi

[2016-02-08 17:50] Aure77 commented on #3543
After updating sails-disk, I am always experiencing same issue.
But I found a solution by changing quote type (**'** -> **"**) :
`{"updatedAt": {">":"2016-01-01T00:00:00.000Z"}`

About the related pull request, where.js seems to already handle date in comparison ? :
https://github.com/balderdashy/waterline-criteria/blob/1f6eccfa571fb5121fabdacb0bfb474335432117/lib/filters/where.js#L193

[2016-02-08 21:20] udanpe opened #3555 "Sails generate controller with arguments 0.12"
sails generate controller Users index create show..  creates new file with error inside
generate model with arg works without problem

module.exports = {
	function (obj) {
obj || (obj = {});
var __t, __p = '', __e = _.escape, __j = Array.prototype.join;
function print() { __p += __j.call(arguments, '') }
with (obj) {

need change sails-generate-controller package.json file and set "lodash": "~2.4.

[2016-02-08 22:39] irlnathan commented on #3554
Howdy @Oikio,

For future reference, since this is a question rather than a bug report, StackOverflow would be a better platform. When you ask the question on StackOverflow, I'd expand on your requirements where you said,

Also, if you can think of ways we could improve the docs here to help clarify this, please let us know via an issue or pull request in sails-docs (the content for http://sailsjs

[2016-02-08 22:41] #3554 closed

[2016-02-08 23:40] mikermcneil commented on #3555
Hi @udanpe, do you know what version of `sails-generate-controller` you have installed?  Also would you please include your version of NPM and node?

[2016-02-09 01:26] udanpe commented on #3555
sails-generate-controller@~0.10.7 mac brew npm 3.3.12

 ">=2.4.x" as npm install lodash@>=2.4.x load many file with many functions

[2016-02-09 06:37] Oikio commented on #3554
@irlnathan sorry, did not think about it.
I've slightly changed and posted question on [stackoverflow](http://stackoverflow.com/questions/35285385/sails-js-rest-server-based-on-jsonapi-org-specification).

[2016-02-09 08:16] revic1993 commented on #3548
I am facing the same issue when running mocha tests on sails.
I have created sails project with --no-frontend flag .
Sails lift works fine.

[2016-02-09 11:02] dottodot opened #3556 ""A promise was created in a handler but was not returned from it" calling model.find()"
Just trying v0.12.0 and getting the following warning when making request to controller

    at processImmediate [as _immediateCallback] (timers.js:383:17)

It seems to be something to do with my code as if I remove my code so the default find is used I don't get the error.

[code]

[2016-02-09 13:46] revic1993 opened #3557 "Sails responses not working with --no-frontend flag"
When I try to test the controllers using mocha I am getting an empty response body.
EDIT :

[code]
I have created this custom response which is working fine. But I still haven't figured out why the inbuilt responses are not working.

[2016-02-09 14:55] metalaureate opened #3558 "publishCreate() generates error after upgrading to v.0.12"
After upgrading https://github.com/maangalabs/socket-in-sails to v.0.12, when I call

`Chat.publishCreate({id: data_from_client.id, message : data_from_client.message , user:data_from_client.user},req);`

I get error

This also happens if I port the code to a fresh v.0.12 sails project.

[2016-02-09 15:13] metalaureate commented on #3558
It works if I remove `toJSON()` from the instruction in /node_modules/sails/lib/hooks/pubsub/index.js:1069

but I do not know what side-effects this causes or why toJSON() is being used vs JSON.stringify

[2016-02-09 16:26] sgress454 commented on #3558
Thanks @metalaureate, we'll check it out and post here if we need more info.

[2016-02-09 16:31] metalaureate commented on #3558
I think the problem is that I am not passing _bona fide_ sailsjs model to the publishCreate. It works with this kludge:

`payload.toJSON=function () { return payload};`

Is there a more elegant way to construct my payload that inherits the toJSON() method from sails?

[2016-02-09 16:35] sgress454 commented on #3557
Hi @revic1993.  Sorry you're having a problem with your Sails app.  We'll need a bit more information before looking into this (in the future, before posting an issue please [take a look at our issue posting guidelines](https://github.com/balderdashy/sails/blob/master/CONTRIBUTING.md#opening-an-issue)).

* What version of Sails are you using?
* What version of Node are you using?
* What version of

[2016-02-09 17:18] sgress454 commented on #3558
No, and you shouldn't need to.  The `publishCreate` method _should_ let you send in anything you want, as long as it has a primary key.  Looks like I merged in a PR that broke that functionality :flushed:

I'll look into a fix and some tests to ensure that it doesn't happen again.

[2016-02-09 17:25] mikermcneil commented on #3556
Hi @dottodot- could you provide your node and npm version? Also if you could tell me what adapter you're using, and run `npm ls waterline` that'd be helpful. Thanks!

[2016-02-09 17:27] dottodot commented on #3556
Yes it's

node v4.2.3
npm 2.14.7
waterline@0.11.0

[2016-02-09 17:40] metalaureate commented on #3558
You guys are awesome thank you.

[2016-02-09 19:46] mikermcneil commented on #2379
We've spent quite a lot of time working on a better way to address this type of issue for dependencies you install in your app in general. Eventually for this particular case, I added a warning in the session hook that suggests changing the version of connect redis if an error occurs. But that was before the version of npm that generated carets instead of tildas from --save was widely used.

At th

[2016-02-09 20:14] mikermcneil commented on #3557
@revic1993 hmm... this might have something to do with the environment configuration your tests are using.  Best thing would be for us to take a look at a repo that reproduces this like @sgress454 mentioned.  Thanks!

[2016-02-09 20:16] mikermcneil commented on #2660
@tarlepp open to something like that as part of core.  Would you hit me up in gitter some time about it? (or if you have time, a proposal to kick things off would be even better)  Thanks!

[2016-02-09 20:26] sebastiankruk opened #3559 "Upgrading sails to 0.12 breaks handlebars"
I wanted to get rid of the sails 0.11.x dependency on the express-handlebars 2.x.x which depended on handlebars < 4.

Apparently sails 0.12 does the trick, but it also breaks express-handlebars. I have the same problems as in #3232. When I upgrade to express-handlebars 3.0.0 and sails 0.12, I'm getting:

[code]

[2016-02-09 20:47] mikermcneil commented on #3556
Thanks @dottodot.  Would you try:

[code]

to double-check that this is an issue with promises and not anything else that might be going on with dependency versions, etc?

cc @particlebanana

[2016-02-09 20:47] olivierl commented on #3559
+1

[2016-02-09 20:54] sgress454 commented on #3556
Also, if you're upgrading your Sails from a previous version, would you mind trying a fresh install?
[code]
(depending on your system you may need to put `sudo` in front of each command)

[2016-02-09 21:01] sgress454 commented on #3559
Try adding this to your `config/views.js` file:
[code]
I'll take a look at why it's not working automatically.

[2016-02-09 21:28] sebastiankruk commented on #3559
It works! Thanks :)

[2016-02-09 22:09] mikermcneil commented on #3557
On a side note, we experimented with [this](https://github.com/balderdashy/sails-generate-backend/blob/master/templates/api/responses/badRequest.js#L37) and I think it's time we revert it.  res.badRequest(), res.forbidden(), and res.notFound() (everything except res.negotiate() and res.serverError() realistically) are designed to be used for intentional API responses with specific response data. S

[2016-02-09 22:15] sgress454 commented on #3557
@mikermcneil Not sure what reverting would do--the default was always to strip the errors in production.  That config option was added to allow them to [_not_ be stripped](https://github.com/balderdashy/sails/pull/2853).

[2016-02-09 22:34] mikermcneil commented on #3557
@sgress454 it [used to](https://github.com/balderdashy/sails-generate-backend/commit/2272bc327957efbc0888142559b7c1df1b2a5f5d) only be for `res.serverError()`, which was the intended behavior.  Apparently the way it got in there originally was that I accidentally copied and pasted it everywhere when I was updating the response templates in the backend generator.  Then in an effort to avoid changin

[2016-02-09 22:40] sgress454 commented on #3555
Thanks @udanpe.  Fixed and published `sails-generate-controller` v0.10.9.  Easiest way to get it is just to re-install Sails:

[code]

[2016-02-09 22:40] #3555 closed

[2016-02-10 00:58] adborden commented on #3303
I'm also running into this with `sails@0.11.4`.

[2016-02-10 02:34] udanpe commented on #3555
https://docs.npmjs.com/getting-started/semantic-versioning
    Patch releases: 1.0 or 1.0.x or ~1.0.4
    Minor releases: 1 or 1.x or ^1.0.4
    Major releases: * or x
and else work ">=2.4.0 <2.4.2" (but docs nothing say about this)
">=2.4.x" - install latest version because don't understand syntax.
and when module will be change sails don't work because incorrect syntax
if you change "lodash": "~

[2016-02-10 02:44] sgress454 commented on #3555
`merge-defaults` is a package we maintain, so we know what we're doing ;)

[2016-02-10 03:10] revic1993 commented on #3557
Hey guys,
Sorry for late response.
@sgress454 Version info that you asked for:

sails v0.11
npm v2.14.7
node v4.2.2

Here's link to the repo:
https://github.com/revic1993/sails-issue-3557

The res.body is an empty object.

[2016-02-10 05:16] sgress454 commented on #3557
@revic1993 Thanks!  I cloned your repo and was able to run your test with no issues.  I put a `console.log(res.body)` in the test and got:

[code]

Following what @mikermcneil said, I'd check that you're not somehow setting your environment to "production".  In your test, try `console.log(sails.config.environment)` and make sure it says "development".

[2016-02-10 05:20] sgress454 commented on #2379
This should no longer be an issue with Sails v0.11.4+ and v0.12.x.  The problem was that newer versions of connect-redis are initialized using `express-session`, while older ones simply use `express`.  We now [support both](https://github.com/balderdashy/sails/commit/72fb1d6b5e7ee4604ef15df2a2f8a490150f5b9d).

[2016-02-10 05:38] revic1993 commented on #3557
@sgress454  Thanks! I got it..
So my environment was production and when I set it to development it is working. So I guess this was causing the data to be undefined :
[code]

I guess I should go with my custom response as I have to use api in the production.
Thanks @sgress454  and @mikermcneil for your help. Appreciate it.

[2016-02-10 06:16] #3557 closed

[2016-02-10 09:46] dottodot commented on #3556
OK I uninstalled sails both globally and in app, cleared the cache and reinstalled and the issue is still there. Using the following works though

[code]

Also just so you know it doesn't seem to stop anything from working.

[2016-02-10 09:57] jonscyriac opened #3560 "reference help: creating new adapter"
I would like to create an adapter for a schemaful (sql-ish) database service... can anyone advice me with something to start with? im a newbie..  and i find it difficult to follow the documentations available....

[2016-02-10 10:02] zeluis9 commented on #3556
Can you show the complete stack trace?

[2016-02-10 10:30] AndyPWarren opened #3561 "[mysql] Sails doesnt populate on large queries"
Hi,

I have a mysql database I'm working with consisting of 5 tables, 2 of which are join/junction tables. I have a method in a controller that queries one of the tables and populates some fields via the join tables. This works fine for queries less than 1632 items but for anything above the populate field arrays don't contain any data. No errors are thrown, the fields are just blank e.g. "user":

[2016-02-10 10:51] dottodot commented on #3556
[code]

[2016-02-10 11:07] zeluis9 commented on #3556
With waterline@0.11.0, sails@0.12.0 and sails-disk I cannot reproduce this issue. Maybe something related to the adapter you're using. Can you tell which one is?

[2016-02-10 11:10] dottodot commented on #3556
I'm using sails-mongo 0.12.0

[2016-02-10 12:50] udanpe opened #3562 "While we wailt express 5"
I dont understand why you write so big and hard code, rewrite express function and after don't can update it.

[code]

[code]
[code]

[code]
+gulp
+waterline
+CLI

and we have almost sails

maybe better write only middleware for use with express
middleware always have req res next and not change
and all free time integrate most popular modules

sails add passport (generate config and npm install)

[2016-02-10 12:54] ljacques opened #3563 "Unexpected deprecation message on `Model.watch()`"
Model.watch(req) print a debug message :

debug: sails.sockets.id() is deprecated; use sails.sockets.getId() (see `http://sailsjs.org/documentation/concepts/upgrading/to-v-0-12`)

[2016-02-10 12:59] Boycce opened #3564 "Lifting in production slows response"
Hey there,
`sails lift --prod` seems to increase html requests to almost double in comparison to `sails lift`. I measured the difference through chrome devtools and noticed it was the *response time* that increased (180ms to 430ms).

I seem to only detect this issue on my server with higher latencies.

### Replicate issue

1. `sails new foo --no-frontend`
2. Inside `config/views`, turn layout to *

[2016-02-10 13:28] Boycce commented on #3564
Ahh it's the `compress` [http middleware,](http://sailsjs.org/documentation/concepts/middleware/conventional-defaults) seems strange to have it on by default as you would need a decent amount of content on a webpage to benefit. Feel free to close.

[2016-02-10 17:05] mikermcneil commented on #3562
@udanpe I appreciate you taking the time to post, but our GitHub issues aren't the place for debating the merits of full featured vs lightweight frameworks vs rolling your own. If you have specific implementation changes you'd like to see in core, we have a well documented proposal process for that (see the contribution guide in this repo). However, as I've mentioned [to you before](https://github

[2016-02-10 17:18] mikermcneil commented on #3563
Thanks @ljacques - there's a fix in place on master and we'll be removing this message in a patch release this week (`.watch()` formerly called `.id()` instead of `.getId()` and we forgot to switch it over during the upgrade.  The only reason for the name change was to make the behavior clearer, and `.id()` is just an alias- so there's nothing to worry about in the mean time).

[2016-02-10 17:26] #3553 closed

[2016-02-10 17:27] mikermcneil commented on #3561
@AndyPWarren personally I haven't, but @particlebanana or I will set something up to try and reproduce this ASAP (this also might be a good addition to waterline-adapter-tests).

In case we have trouble getting this to happen, can you provide an example of the specific query being run, with the relevant model defs?

[2016-02-10 17:35] mikermcneil commented on #3560
Hi @jonscyriac- we could definitely use some more formal documentation on the website about this (I'll move this issue to sails-docs).  In the mean time, check out https://github.com/balderdashy/sails-docs/blob/master/contributing/intro-to-custom-adapters.md, and https://github.com/balderdashy/sails-docs/blob/master/contributing/intro-to-custom-adapters.md.

Also feel free to pop into Gitter for h

[2016-02-10 17:37] mikermcneil commented on #3560
This issue was moved to balderdashy/sails-docs#637

[2016-02-10 17:37] #3560 closed

[2016-02-10 17:47] mikermcneil commented on #3564
@Boycce thanks for the follow up!  For context, this originally came into core as a default because of https://github.com/balderdashy/sails/issues/1150 and http://inspiredjw.com/do-not-forget-to-use-gzip-for-express/  If you have any ideas about how to make the default support more appropriate, I'm all ears (just send it as a quick proposal if you don't mind)

[2016-02-10 17:47] #3564 closed

[2016-02-10 17:54] mikermcneil commented on #3367
Without more information, since we haven't been able to reproduce this, I'm going to go ahead and close.   I have a hunch this might have been solved by https://github.com/balderdashy/sails/issues/3545 -- or otherwise have something to do with text editors-- but I'd need more information to be able to help. If anyone continues to see the problem using 0.11.5 or 0.12.x, please open a new issue and

[2016-02-10 17:54] #3367 closed

[2016-02-10 17:56] mikermcneil commented on #3545
@sgress454 perhaps, not entirely sure (replied in #3367)

@NizarBlond I'm going to go ahead and close this issue since it's been resolved.  Please open a new issue (with a link back here) if you continue to see problems.  Thanks!

[2016-02-10 17:56] #3545 closed

[2016-02-10 17:58] mikermcneil commented on #2379
@dspencerr @jury89 would you guys try this out for us?

[2016-02-10 18:01] mikermcneil commented on #3547
@kuldeepmobinett I'm going to go ahead and close this as resolved-- please open a new issue and link back here if you see any other related problems.  Thank you!

[2016-02-10 18:01] #3547 closed

[2016-02-10 18:06] mikermcneil commented on #3543
@Aure77 correct, using query params in the blueprint API, you'll always need to use JSON encoding (double quotes) My bad, should have caught that earlier, but couldn't tell from your original post because of the URL encoding.  Regardless, I don't believe this should have worked prior to the update because sails-disk wasn't passing in the expected schema to wl-criteria (unless i'm missing something

[2016-02-10 18:13] sgress454 commented on #3562
@udanpe Spoken like someone who has never tried to write a large-scale distributed application using a low-level framework like Express!  Don't get me wrong--Express is great at what it does.  That's why we use it as the backbone of Sails, and why we're continuing to support the efforts of people like @dougwilson who are building and maintaining the components in [PillarJs](https://github.com/pill

[2016-02-10 18:13] #3562 closed

[2016-02-10 18:53] jvanalst opened #3565 "MySQL Foreign Keys and Primary Keys are Inconsistent Types"
Noticed that by default when using the auto-migration stuff **Primary Key Ids are INT(10) Unsigned** by default, however **Foreign Key Ids are INT(11) Signed**.

This could cause issues in the rare case when a table reaches 100,000,000,000+ rows and was originally bootstrapped using auto-migrate.

Noticed this in sails v0.11.4

[2016-02-10 19:06] mrvini commented on #3565
+1
 noticed the same issue in the prev. versions as well with MySQL adapter, that could cause an issue if in the future Foreign keys will be allowed

[2016-02-10 20:13] sgress454 commented on #3556
Thanks for the update @dottodot.  I'm still unable to reproduce using sails-mongo 0.12.0, Node 4.2.6 and NPM 2.14.12 (so not exactly the same as your environment, but close).  At this point if you're no closer to figuring out the issue, I think the best thing would be to create a repo that reproduces the problem that we can check out.  Here's some instructions (you can get the `hub` tool from [her

[2016-02-10 20:17] sgress454 commented on #3565
Thanks for the heads-up @jvanalst.  Mind posting this in the [sails-mysql](https://github.com/balderdashy/sails-mysql) repo and back-linking here?

[2016-02-10 20:24] sgress454 commented on #3538
Node 5.6.0 was released yesterday.  It doesn't list this specific issue in the changelog, but that doesn't mean it didn't make it in.  Would someone mind checking with the new Node and seeing if the issue persists?

[2016-02-10 23:36] particlebanana commented on #3561
@AndyPWarren the data never comes back from MySql or from Waterline?

[2016-02-11 02:06] mikermcneil commented on #3565
@mrvini @jvanalst see https://github.com/balderdashy/sails-mysql/issues/232

[2016-02-11 02:06] #3565 closed

[2016-02-11 02:08] mikermcneil commented on #3565
(and thanks for moving the issue @jvanalst. I left https://github.com/balderdashy/sails-mysql/issues/282 open just in case, but unless you see anything that isn't covered by the other link re: unsigned vs. signed integers, would you go ahead and close https://github.com/balderdashy/sails-mysql/issues/282?)

[2016-02-11 02:22] mikermcneil commented on #2379
@dspencerr @jury89 @holyxiaoxin @djlovegrind Here's a [preview of the updated docs](http://preview.sailsjs.org/documentation/reference/configuration/sails-config-session) that use `--save-exact` so that you end up with a pinned dependency in your app.

Please open a new issue if you see any problems with this going forward.  The relevant docs will be online sometime this week when we release the n

[2016-02-11 02:22] #2379 closed

[2016-02-11 03:56] luislobo commented on #3556
The same is happening to me, when trying to upgrade one of our projects to 0.12. From http://bluebirdjs.com/docs/warning-explanations.html#warning-a-promise-was-created-in-a-handler-but-none-were-returned-from-it:

I'm trying to find the issue on my project and how to fix it all the way. If I find something I'll share it here.

[2016-02-11 03:58] luislobo commented on #3556
In that same article, it says:
If you know what you're doing and don't want to silence all warnings, you can create runaway promises without causing this warning by returning e.g. null:

[code]

that might help you

[2016-02-11 04:25] sgress454 commented on #3556
@luislobo Can you provide a repo or more info?  Are you using sails-mongo as well?

[2016-02-11 04:31] luislobo commented on #3556
I have just been able to reproduce the issue in a repo.
The problem is when for example you have a Policy that uses a model and a .then
and then in you controller you also do another query with an other promise.

Since in the policy you just return with next()... Bluebird "detects" that there is a pending Promise, that was not chained to the new one... (or something like that).

This is not an iss

[2016-02-11 04:38] luislobo commented on #3556
https://github.com/luislobo/sails-issue-3556

[2016-02-11 04:40] luislobo commented on #3556
Same issue happening to other people in the same situation... check https://github.com/petkaantonov/bluebird/issues/928

[2016-02-11 04:42] luislobo commented on #3556
And here explains how to supress the warning using code: https://github.com/petkaantonov/bluebird/issues/903#issuecomment-162244729

[2016-02-11 04:45] luislobo commented on #3556
Finally, Bluebird has an option to specifically disable the check on forgotten return:
https://github.com/petkaantonov/bluebird/commit/8b6834f3a0ce1ff32e3d2058cebf2cc10bf570c0

[2016-02-11 04:47] luislobo commented on #3556
And this also could be a pattern to be used to remove the warning: https://github.com/petkaantonov/bluebird/issues/871#issuecomment-157646342

[2016-02-11 05:15] sgress454 commented on #3556
Thanks for the updates, @luislobo.  I cloned your repo and can reproduce now--looks like it indeed is due to the policy.  Doing:

[code]

instead of simply `next();` removes the warning, but it looks weird and hunting that down everywhere sounds tedious.

If this just started with the latest Sails upgrade, I'm guessing it must be due to a new version of Bluebird being used.  We could suppress the

[2016-02-11 05:18] luislobo commented on #3556
Yes, this behavior is in the 3.x version of Bluebird, I was thinking on the same solution, about setting the warnings off when requiring it in waterline

[2016-02-11 05:58] kuldeepmobinett commented on #3547
Still facing same problem

[2016-02-11 07:38] ljacques commented on #3563
Thanks @mikermcneil
I keep testing ;-)

[2016-02-11 07:38] #3563 closed

[2016-02-11 08:43] dottodot commented on #3556
OK the above has help me realise where my issue is. I'm using [sails-auth ](https://github.com/tjwebb/sails-auth) and [sails-permissions](https://github.com/tjwebb/sails-permissions) and the policies created by these is causing the warnings.

[2016-02-11 08:54] Kallikrein opened #3566 "'error' responses are calling the default layout.ejs"
Sails : v0.12.0
node : v5.5.0

How I noticed this issue
---
I want my pages to add meta tags, so I added a 'metas' array parsing in layout.ejs
[code]
In routes.js, I can now set a locals.metas array of metadata and pass them to the layout header.
[code]

To avoid ejs throwing ```metas is not defined``` for routes that don't add metas to the res, I added a custom middleware in http.js
[code]

When

[2016-02-11 09:01] AndyPWarren commented on #3561
It looks like the data never comes back from MySQL. I've logged the queries coming into MySQL and the second query that deals with the population isn't present. Ill get the controller code and model defs shortly. Thanks for taking a look.

[2016-02-11 09:45] Kallikrein commented on #3566
[code]
GET http://localhost:1337/bleh (browser)

(notice the nested <html>)

[code]

[2016-02-11 10:31] AndyPWarren commented on #3561
I've reduced the complexity a bit for testing purpose, so the current code only has to populate one field, via one join table.
Here are the model defs:
[code]
[code]
[code]
and the query im making:
[code]
like i mentioned previously, all is good and well until the query has > 1631 items.
I can provide the query logs from inside MySQL if that will help?

[2016-02-11 13:20] Boycce commented on #3564
Hey @mikermcneil, yeah all cool I might look into it deeper after this project.

[2016-02-11 16:07] sgress454 commented on #3566
Thanks @Kallikrein, great catch!

I'm not sure I agree with your resolution though--it would make it pretty hard to use layouts with error responses if you wanted to.  If instead of changing `res.view` to `res.render`, we defaulted the layout to `false`, that might be better:

[code]

Or perhaps, provide a default, empty `errorLayout.ejs` file with new apps, and make the code:

[code]

[2016-02-11 16:41] pedro3900 opened #3570 "Duplicate entries in junction tables"
Hi,

I´am using sailsjs, and I have this problem:

I created 2 model related with a many to many relation, there are any posibility to have duplicated entries in this junction table, example:
Suposed that we have 2 tables 'a' and 'b' related.
juntion table
id  a_b__b_a    b_a__a_b
1          1                 1
2          1                 2
3          1                 2
4          1

[2016-02-11 17:50] Kallikrein commented on #3566
Thanks @sgress454

I think a 'configurable' default is overkill in this precise case, considering it is code that has to be **eventually** evaluated, deleted and/or customised.

Anyone needing this level of control will know how to write responses and the differences between view and render.

Glad I could help

[2016-02-11 18:46] sgress454 commented on #3556
Ok!  Looks like we've tracked this down pretty well.  After talking it over with @particlebanana, we don't think just turning the warnings off in Waterline is a good idea: it's there for a reason, because you really should be returning a value in your handler.  That's easy to say when you have control over the code; I understand that in some cases (like @dottodot 's), the problem may be in a third

[2016-02-11 18:46] #3556 closed

[2016-02-11 19:19] sgress454 commented on #3570
Hi @pedro3900, thanks for using Sails.  Please read our [guidelines for posting issues](https://github.com/balderdashy/sails/blob/master/CONTRIBUTING.md#ii-issue-contributions) and update your post accordingly so we can better help.  In this case, searching the repo for "many-to-many duplicate" reveals at least one [existing issue](https://github.com/balderdashy/sails/issues/1647) that might provi

[2016-02-11 19:57] newenegue opened #3571 "Safari: _csrf view local is null"
I'm getting a `_csrf` token of `null` on Safari in one of my forms using the view locals approach.  I found that this happens when I have one form that redirects me to a second form, and the second form has a `_csrf = null`. Chrome and Firefox both have a valid token on the second form.

I'm trying to figure out why this would only happen on Safari, but would appreciate any help.

Here is the firs

[2016-02-11 21:01] luislobo commented on #3556
you can also add that this to your bootstrap.js file
[code]

[2016-02-11 21:38] sgress454 commented on #3571
Hi @newenegue!  In the future, please make sure to look through our [guide to posting issues](https://github.com/balderdashy/sails/blob/master/CONTRIBUTING.md#ii-issue-contributions) before posting here so that we can get all the info we need in order to help.

What would be best here is if you could take the pieces you referenced above and post a full repo that one could use to reproduce the issu

[2016-02-12 10:49] discordance commented on #3279
Have exactly the same issue here for long requests. Checked network tab and only one request is sent. Also did the timestamp check.

[2016-02-12 16:11] mikermcneil commented on #3566
@Kallikrein thanks!  Talked about this with @sgress454 and we'll remove the HTML wrapper in 404/500/403.ejs  By convention, Sails enables layouts, so the default pages should make that crystal clear.  (this is one of those things that's gone back and forth over the years-- the historical reasoning was that if there is a core error and the view hook doesn't implement layouts properly, then this mea

[2016-02-12 16:12] mikermcneil commented on #3566
Here's a link to the places where we need to make the change:

https://github.com/balderdashy/sails-generate-views/blob/master/templates/500.ejs
https://github.com/balderdashy/sails-generate-views/blob/master/templates/403.ejs
https://github.com/balderdashy/sails-generate-views/blob/master/templates/404.ejs

[2016-02-12 16:28] sgress454 commented on #3538
Update: works for me w/ Node 5.6.0 (I was able to repro w/ 4.2.6).  If anyone still has problems, feel free to post here and we'll re-open.