[2020-08-14 19:45] eashaw commented on #7027
Hi @AJ-Math, If you want a time displayed in a specific timezone you could try using [Moment Timezone](https://momentjs.com/timezone/)

[2020-08-14 19:53] eashaw commented on #6797
Thank you @YassineMd for finding that.

Hope this will help @AliHammami @Lozcep @w3villa-mavin

[2020-08-15 03:22] AJ-Math commented on #7027
@eashaw Hi, I tried and this is working.

[2020-08-15 03:22] #7027 closed

[2020-08-15 14:44] vaibhavahuja commented on #7028
@eashaw Heyy
I just wanted to know if we can access the variables in config/env/production.js before the sails being loaded?
If yes, then how?
I do not want to give the file path.

Thanks

[2020-08-17 12:17] ksaitor commented on #5262
How to turn off these notifications in prod, while keeping them in staging / develop?

[2020-08-17 12:54] parthpkp97 opened #7029 "Decryption doesn't work for records querying with decrypted value on encrypted one."
**Node version**: 10.0
**Sails version** _(sails)_: 1.0.2
**ORM hook version** _(sails-hook-orm)_: 2.0.1
**Sockets hook version** _(sails-hook-sockets)_: 1.5.3
**Organics hook version** _(sails-hook-organics)_: 0.14.5
**Grunt hook version** _(sails-hook-grunt)_: 1.0.4
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-mysql@1.0.0
<hr/>

I h

[2020-08-18 17:46] asrullat commented on #6942
@crh3675 can you describe where to use your code?

[2020-08-18 22:05] DominusKelvin commented on #7028
@vaibhavahuja I don't believe we can access the variables in `config/env/production.js` before Sails lift. This is because those variables will be added via the userconfig hook which will need Sails lift.

[2020-08-19 04:44] CandleCoder commented on #4461
I am having Problem in connecting to mongoDB Atlas URI :

mongodb+srv://XYZ:XYZ@cluster0.uzpih.mongodb.net/DB?retryWrites=true&w=majority

[2020-08-19 04:49] CandleCoder commented on #4461
Refer to this Stack Question :

https://stackoverflow.com/questions/63466240/sails-mongo-not-working-with-mongodb-atlas-uri

[2020-08-19 11:26] vaibhavahuja commented on #7028
@DominusKelvin okay, so for achieving this task I had to create a new .env file and use the dotenv library to load those variables to the `process.env` object.
I just thought there would be a way to do so using `sails.config` but I will have to use 2 config files.
thaknks

[2020-08-19 11:28] DominusKelvin commented on #7028
You are welcome. Also perhaps your server provider could do that. Like using a platform like Heroku would give you access to end variables. Just a suggestion if it fits your use case.

[2020-08-19 11:36] crh3675 commented on #6942
I added this code to our config/http.js using the same pattern that @LouAdrien recommended

[2020-08-19 14:10] abhisheksoni27 opened #7030 "App vanishes into thin air when registering models with Waterlinea"
**Node version**: 10.22.0
**Sails version** _(sails)_: 1.2.3
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_:  -
**Organics hook version** _(sails-hook-organics)_:  -
**Grunt hook version** _(sails-hook-grunt)_:  -
**Uploads hook version** _(sails-hook-uploads)_: -
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: 1.0.1
**Skipper adapter & version

[2020-08-19 20:27] eashaw commented on #7025
Hi @erfanwakka, would you be able to provide us with more information about the system you're running into this issue on?
Have you tried reinstalling the dependencies in your `node_modules` folder like @alxndrsn recommended? Thanks!

[2020-08-19 23:04] eashaw commented on #7030
Hi @abhisheksoni27, I was reviewing this issue and I wasn't able to reproduce it. Would you be able to provide us with a repo of a minimal sails app that is set up to run in a docker container and reproduces the issue you are running into?

[2020-08-19 23:08] eashaw commented on #7029
Hi @parthpkp97, thanks for using Sails! `encrypt` is not intended to be used for attributes you would need to query. We will be updating the docs to make this more clear.

[2020-08-20 10:05] alxndrsn opened #7031 "Session update/creation failures do not affect HTTP response"
**Node version**: 12
**Sails version** _(sails)_: 1.2.3
**ORM hook version** _(sails-hook-orm)_: 3.0.1
<hr/>

Using `connect-pg-simple@6.2.1`, if there is a failure to create or update `req.session`, no error is sent to the user.

In the log, I see:

[code]

Which means presumably this is expected behaviour.

I can't see any mention of error handling for session updates in https://sailsjs.com/docu

[2020-08-20 13:12] parthpkp97 commented on #7029
Any other way in which sails can query on encrypted value with decrypted one?

[2020-08-20 15:08] abhisheksoni27 commented on #7030
Hi, @eashaw

I'll try to set up a new project that reproduces this issue, but I am afraid that is going to happen. I'd be glad if it does.

However, my main concern is, is there any way I can make sails output something that can help me figure out what is going wrong?

If there is any part of the sails' source code that you want me to modify, add debugger, or console traces, I'll be happy to do so

[2020-08-20 15:24] #7030 closed

[2020-08-20 21:21] rachaelshaw commented on #7029
@parthpkp97 if you're using `encrypt: true` for an attribute, you won't be able to look up records by the unencrypted value. `.decrypt()` just gives you the records with the auto-encrypted attributes decrypted, it doesn't change the query.

Could you tell us more about your use case for encrypting email addresses?

[2020-08-20 21:54] rachaelshaw commented on #7031
@alxndrsn just dug around in the code a bit, and I don't see a way to override it ([here's the spot where the warning is coming from](https://github.com/balderdashy/sails/blob/617674f3f6d31ecd2bd00163b4087a18098b1db1/lib/hooks/http/get-configured-http-middleware-fns.js#L79-L105)).

In case it helps, [here's the commit](https://github.com/balderdashy/sails/commit/3f29dce22b5a36403108d8d1aab7a903aa4

[2020-08-21 03:48] parthpkp97 commented on #7029
Use case scenario
When user is doing signup with email address. Then due to some security reasons i am not saving email address in plain text rather than that i am saving email address in encrypted format. Using ```encrypt: true``` in User model and it is saving successfully in encrypted format.

But when user logins with same email address. I am not able to lookup into db that If email address ex

[2020-08-21 06:30] alxndrsn commented on #7031
Thanks @rachaelshaw, interesting stuff.

I guess there's a trade-off between blocking responses on session updates and responding quickly.  OTOH I wonder if there's more significant delay in getting db connections from the pool or initialising new ones, as generally what happens in a session-update situation is:

1. get db connection
2. fetch session from db
3. get db connection
4. execute control

[2020-08-25 21:40] dancl6 commented on #6810
I had a similar issue and my problem was I was missing the .env file.

[2020-08-26 12:36] crh3675 opened #7032 "Cannot easily assign server.headersTimeout or server.keepAliveTimeout"
**Node version**: 10.20.1
**Sails version** _(sails)_: 0.12.14
<hr/>
I thought I could set the serverOptions in config/http.js to influence the headersTimeout and keepAliveTimeout but upon further inspection, my changes didn't take.

I realized that serverOptions only applied to SSL related connections.  My fix was to move those settings into the config/bootstrap.js file.

[code]

Is there any oth

[2020-08-27 00:01] SiriSuri opened #7033 "Multiple file uploads is not working"
"node": "^12.16"
"sails-mongo": "^1.2.0"
    "sails": "^1.2.3",
   "sails-hook-grunt": "^4.0.0",
    "sails-hook-orm": "^2.1.1",
    "sails-hook-sockets": "^2.0.0",

Above are the versions i am using. my requirements is I will be receiveing array of files from HTML along with 5 arrays of text fields.I am uploading files to my images folder and saving the file name to db using the following code.

[2020-08-27 11:05] gevhambarzumyan93 opened #7034 "documentation issue"
**Node version**:  10.13.0
**Sails version** _(sails)_:  1.1.0-3
**ORM hook version** _(sails-hook-orm)_: 2.1.0
**Sockets hook version** _(sails-hook-sockets)_: 1.5.3
<hr/>

is there any way to add custom packages as global

for example

module.exports.globals = {
    moment: require(moment),

    async: require("async"),
};

or this is the only way

const lodash = {
    moment: require("moment"),

[2020-08-27 21:09] eashaw commented on #7032
Hi @crh3675,
The http hook in Sails was written when Node (4 I believe) didn't support an options argument for `http.createServer()` but supported it for `https.createServer()`. Support for options in `http.createServer()` was added in Node 10 and I've made a [branch](https://github.com/balderdashy/sails/tree/Remove-ssl-check-in-http-hook) that removes the check for SSL before `serverOptions` are

[2020-08-28 00:00] crhoover-maxar commented on #7032
Are you saying that the earlier version will be patched to support this?  Problem is that NodeJS **createServer** doesn't support those option settings for HTTP.

[2020-08-28 02:23] Muhammadinaam commented on #6942
I am following @LouAdrien or @crh3675 solution. But for me, res.get('set-cookie') returns **undefined**. How can I fix it?

[2020-08-28 02:24] Muhammadinaam commented on #6942
This issue is open for 7 months... 😲 😲

[2020-08-28 15:22] crh3675 commented on #7033
Not sure how relevant with version 1.0 but we had similar issue and needed to adjust the config/http.js by overriding the defaults.

[code]

And top of file:
[code]

[2020-08-29 04:04] SiriSuri commented on #7033
Hi this is what i made in my http.js based on your suggestion.
/**
 * HTTP Server Settings
 * (sails.config.http)
 *
 * Configuration for the underlying HTTP server in Sails.
 * (for additional recommended settings, see `config/env/production.js`)
 *
 * For more information on configuration, check out:
 * https://sailsjs.com/config/http
 */

module.exports.http = {

  /****************************

[2020-08-29 10:38] crh3675 commented on #7033
You need to explicity install body-parser and multer.

[code]

[2020-08-30 01:45] SiriSuri commented on #7033
Can you please suggest any tutorial through which i can learn file uploading thorigh multer. I tried ur code. No errors in http.js. but there is an error in my code. my code is:
 vapt1file=req.file("vapt1file");
vapt1file.upload({dirname:'../../assets/images/logs'}, function onUpload(err, files) {
      if (err) {
       message="error occured.please try again";
       console.log(err);
       Fla

[2020-08-30 17:56] nicolascalev commented on #7023
Hi @eashaw sadly I haven't been very lucky trying to find information about it.
I downloaded an http client for iPhone and tried, and it worked well, it probably has something todo with the browser.

I'm looking for ways to implement a proxy, or a way that I can see a dump of the request but I haven't figured that out (I take any advice or recommendation btw)

So far I've only had access to that l

[2020-08-31 06:46] nicolascalev commented on #7023
### Update

I couldn't fix it, so far I wrote an action to handle that functionality for me which is ok. At this point I'm mostly curious about why that didn't work, and I realized it happens with all PUT requests, not only with the replace endpoint of Blueprints.

I'm pretty sure it has something to do with the browsers in IOS bc it was working perfectly on my pc and from the http client I downlo

[2020-08-31 09:18] crh3675 commented on #7033
Try `req.files` instead

[2020-08-31 10:53] SiriSuri commented on #7033
Hi.. Thanks for the suggestion. I am facing errors with req.files also.
the error is: req.files is not a function
I just didnt understand how to use multer in sails js. This is what I tried. Being new to JS, I cant understand anything clearly.

const upload=require("multer");
incdesc=req.body.incdesc;
idate=req.body.idate;
itime=req.body.itime;
sysaffected=req.body.sysaffected;
solution=req.body.s

[2020-08-31 11:03] crhoover-maxar commented on #7033
Does your HTML <form> have the correct enctype?

[code]

[2020-08-31 11:08] crh3675 commented on #7033
Does your HTML <form> have the correct enctype?

[code]

[2020-08-31 11:09] crh3675 commented on #7033
Are you running this process in a controller file?  Can you post the entire file?

[2020-08-31 11:23] SiriSuri commented on #7033
yeah
I am running it in a control file. I am having multipart/form-data.

[code]
This is my controller function.

[2020-08-31 11:36] crh3675 commented on #7033
`req.files` is not a function, it is an Array.  You need to get the file object from out of the array.  Meaning the lines where you get the file info should be:

[code]

Which will return the object.  You also do not need this line `const upload=require("multer");` and you don't need to use the `f.upload` code as the file will already be in an uploaded directory.

[2020-08-31 11:40] SiriSuri commented on #7033
ok so in controller I dont need to do anything about uploading.. Do i need to do anything in my html i.e. ejs in my case?

[2020-08-31 11:42] crh3675 commented on #7033
Upload errors will automatically be sent back to the ExpressJS routing framework so you do not need to handle upload errors.   As long as you have correct `enctype` and file input with name <input file="file" name="ifile"/> then you should have access to that uploaded file in `req.files` Array.

[2020-08-31 11:49] SiriSuri commented on #7033
Files are getting stored in my directory automatically. But there is no extension for the files. I was unable to open those files. I wan t to display the pdf files in my browser after saving it in my server. But no extesion is being saved. How can I do that

[2020-08-31 12:01] crh3675 commented on #7033
I believe that is a security feature.  You will need to rename manually before saving  to your database.  So replace that previous `upload` functionality with a rename instead.

[code]

[2020-08-31 12:08] SiriSuri commented on #7033
Thank you so much.. Its working fine..

[2020-08-31 12:09] crh3675 commented on #7033
Glad to have helped!

[2020-08-31 20:04] lucasgalarce commented on #4590
this works for me

[2020-09-02 16:16] eashaw commented on #7023
Glad you found a workaround @nicolascalev, would you mind posting your IOS version incase it helps people searching for similar issues (that might be your best bet for figuring out the answer to this). Thanks!

[2020-09-02 16:25] eashaw commented on #6942
Hi @Muhammadinaam, whose solution are you trying to use and what version of Sails is your app running?

[2020-09-02 16:28] nicolascalev commented on #7023
Thank you! @eashaw

Of course.
**IOS version: 13.6.1**

I'll be watching, I'll provide information when necessary and if I can

[2020-09-02 17:04] crh3675 commented on #6942
@Muhammadinaam, if set-cookie is `undefined`, are you sure you have sessions enabled and you are passing a cookie to the browser?

[2020-09-02 17:06] eashaw commented on #7034
Hi @gevhambarzumyan93, Sails has a handful of predetermined globals that you can enable/disable but we currently do not support adding more. If you want to use moment, you'll have to use `require('moment')` in the files that you need it. It's also possible to do this with a custom hook, by defining it as a new property on `global.` and example would be `global.moment = require('moment')` in the in

[2020-09-02 17:24] eashaw commented on #7032
@crhoover-maxar My PR handles checking for the node version, It will be applied to versions after 1.2.5.

[2020-09-02 17:45] Muhammadinaam commented on #6942
sails version is 1.0.2. I am working on an already developed project. @LouAdrien's solution is actually adding a middleware. But in my project, previous developers have commented out middleware code in http.js file.

// order: [
    //   'cookieParser',
    //   'session',
    //   'bodyParser',
    //   'compress',
    //   'poweredBy',
    //   'router',
    //   'www',
    //   'favicon',
    /

[2020-09-02 17:48] crh3675 commented on #6942
You need to uncomment the middleware and add the custom one to the top of the list as well as add in the custom component into the http.js.

[2020-09-04 16:10] code4hub opened #7037 "Error details: ImplementationError: Could not find `compile-statement`, one of the modules in `pkg.machinepack.machines`."
Started getting this error on server when sails lifts

error: A hook (`orm`) failed to load!
error: Could not tear down the ORM hook.  Error details: ImplementationError: Could not find `compile-statement`, one of the modules in `pkg.machinepack.machines`.
Maybe it was deleted or mistyped?
    at flaverr (/usr/src/app/node_modules/flaverr/index.js:94:15)
    at /usr/src/app/node_modules/machine/li

[2020-09-07 11:03] nicolaselkhoury commented on #6986
I am facing the same issue. I tried stubbing the function through its name, and when hitting an API (through the test), sails complains with an internal server error specifying that it cannot reach the api

[2020-09-07 14:10] nicolaselkhoury opened #7038 "Unable to stub a helper for unit testing purposes"
**Node version**: v12.18.3
**Sails version** _(sails)_:  1.2.3
<hr/>

I am unable to stub a sails helper when performing unit tests. I have a helper that handles all the communication with a database. Moreover, I have an API, which uses this helper. In my tests, I am trying to stub the helper using sinon as such:

The API:

`fn: async function (inputs, exits) {
 // Stuff done here
 // I need to st

[2020-09-07 16:02] dflupu commented on #6942
The following code works for sails < 0.12. Note that it needs to be added AFTER the session middleware.
[code]

[2020-09-09 16:11] eashaw commented on #7037
Hi @code4hub, have you tried reinstalling all of your dependencies with `rm -rf package_lock.json && rm -rf node_modules && npm install`?

[2020-09-09 16:17] eashaw commented on #7031
Hi @alxndrsn, you might want to consider switching to Redis for your session store if you keep having problems with this, since it will be faster.

[2020-09-09 16:23] eashaw commented on #7013
Hi @HoneyB4dger, Waterline’s approach to base values is javascript first, not database first. A workaround for this is to specify what you want the default value to be when you’re creating the record in your code.

Take a look at https://github.com/balderdashy/waterline/issues/1400#issuecomment-259279629 for more information on approach to default values

[2020-09-09 16:27] eashaw commented on #7038
Hi @nicolaselkhoury, have you tried [this solution](https://stackoverflow.com/a/63815424/14159178)?

[2020-09-09 16:28] eashaw commented on #6986
Responded in https://github.com/balderdashy/sails/issues/7038

[2020-09-09 17:11] eashaw commented on #6799
Hello @alxndrsn & @captainhusaynpinguin, Sails handles hook order in [`default-hooks.js`](https://github.com/balderdashy/sails/blob/master/lib/app/configuration/default-hooks.js). An example of how one of these hooks handles loading at the right time. can be found in the http hook's [`initialize.js`](https://github.com/balderdashy/sails/blob/afc37f8cba9ba0913847efc1e78af98d8b85cb0c/lib/hooks/http/

[2020-09-09 20:23] #7013 closed

[2020-09-09 21:11] lowe0292 commented on #4520
Hey just stopping by to say this bug is pretty brutal.

If you’re not going to fix this, you should at least update the console output to remove the message about the automigration file being written with the dumped data. It’s a really bad developer experience to go look for that file and find out it’s not there.

[2020-09-10 07:10] nicolaselkhoury commented on #7038
Solved by someone who answered my question on [StackOverflow](https://stackoverflow.com/questions/63779249/sailsjs-unable-to-stub-a-helper-for-unit-testing-purposes)

[2020-09-11 08:13] maxtotterman commented on #4500
Better late than never 😄

If you're using Postgres with sails, you're using the [sails-postgresq package](https://github.com/balderdashy/sails-postgresql), and that package itself is using the [machinepack-postgresql package](https://github.com/sailshq/machinepack-postgresql) which is using the [pg driver](https://github.com/brianc/node-postgres).

PG Driver is parsing bigints into strings, you ca

[2020-09-14 18:24] rachaelshaw commented on #4500
Thanks for the clarification, @maxtotterman!

[2020-09-14 18:25] rachaelshaw commented on #7038
Glad you found an answer, @nicolaselkhoury! Thanks for posting the solution here

[2020-09-14 18:40] #7038 closed

[2020-09-15 02:43] Paskalouis commented on #4500
Hi, thank you for the clarification @maxtotterman !
I will close this issue.

[2020-09-15 02:43] #4500 closed

[2020-09-16 06:56] edmondsylar opened #7040 "Run hook before response is sent but already processed."
hello.
I'm wondering if it is possible to take action on a get request after its been processed but before the data is returned to the user.
**Senario**
I have a hook that encrypts all my data in a **POST** request before its actually processed and stored in the database, but now I need to decrypt that same data when requested by a user from.
I have been working with a very basic or method where I

[2020-09-16 07:39] vishalbiradar commented on #6991
@rachaelshaw @madisonhicks @rachaelshaw

My questions are:

1) How can we enable a connection pool?
2) Hows the auto-increment of connections from the pool works?
3) How to set the default connections to be in the pool at any point in time?

[2020-09-16 10:51] edmondsylar commented on #7040
Have actually figured out a way that I could accomplish this without using hooks.
I have modified my model's page to look like this

`/**
 * Default model settings
 * (sails.config.models)
 *
 * Your default, project-wide model settings. Can also be overridden on a
 * per-model basis by setting a top-level properties in the model definition.
 *
 * For details about all available model settings, se

[2020-09-16 17:14] eashaw commented on #7040
Hey @edmondsylar, I'm not sure I understand your use case, why are you encrypting data before your app runs its other business logic?

[2020-09-16 17:25] rachaelshaw commented on #4520
@lowe0292 you're right. On it.

[2020-09-16 17:34] rachaelshaw commented on #7040
@edmondsylar if I'm understanding you right, it's technically possible to do this in a hook

[2020-09-17 09:32] sreealekhya opened #7041 "Adding AOP to Waterline methods"
Wanted to add aop aspect to Waterline method.
Example: logging the time taken by .create() method

[2020-09-17 13:42] edmondsylar commented on #7040
@eashaw Currently I don't know of any other way I can pull it off, haven't used the framework for too long but the essence is to have all the data in my database encrypted just as an extra layer of security for my app data,

If there is a way that I can have this implemented differently, please it would surely be a pleasure if you helped

[2020-09-17 13:51] edmondsylar commented on #7040
@rachaelshaw Yes, My first attempt was in a hook and i was modifying the data from the request as it comes in but I failed to decrypt the data before I could send it back to the user that's why I decided to add them to the default model definition.

Again am not sure if this is the best way I can do this but am open to suggestions.

[2020-09-18 22:20] ryangrush opened #7042 "cascadeOnDestroy not deleting associated records as expected"
**Node version**: 12.16.3
**Sails version** _(sails)_: 1.2.4
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_:  2.0.0
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-postgresql@^1.0.2
**Skipper ada

[2020-09-22 14:42] code4hub commented on #7037
Yes. "skipper-better-s3" caused this issue & it got fixed after adding "skipper-s3" also into package.json

[2020-09-22 14:42] #7037 closed

[2020-09-23 16:26] eashaw commented on #7040
Ni @edmondsylar, can you tell me more about your use case, you might not want at rest encryption.

[2020-09-23 18:00] eashaw commented on #7042
Hi @ryangrush, It looks like that test is failing because you aren't associating the records when they're created. It would also fail because `cascadeOnDestroy` wouldn't delete the pet's record, just the association between it and the owner by setting the owner attribute to `null`.

[2020-09-23 19:42] alxndrsn opened #7043 "Cannot disable views hook"
Sails version: `1.3.1`

-----

How do you disable the views hook?

# Approaches tried

## `.sailsrc`

Adding to `.sailsrc` like this doesn't seem to have any effect:
[code]

## User hooks

### Option 1: `false`

Defining `api/hooks/views.js` as:

[code]

throw the following on `npm run start`:
[code]

### Option 2: empty function

[code]

throw the following on `npm run start`:
[code]

If the `sai

[2020-09-24 09:35] galih56 opened #7044 ""Sails lift" command throws error messages"
This is my first time i use sails. I have 2 models. User.js and EmployeeRole.js.
[code]
[code]

Before this happened, i tried to make those 2 models. I ran the project and it gave me "unknown column user.updatedAt " error. But i don't need updatedAt column in my table. So i disable the timestamp with these.
[code]

It still gave me error messages. After i did that. So I change the code to this
[co

[2020-09-24 16:25] rachaelshaw commented on #7022
@alxndrsn @eashaw just released sails-postgresql v2.0.0, which is updated to support Node v14

[2020-09-24 17:04] eashaw commented on #4520
Hey @lowe0292, we've updated the error message.

[2020-09-25 04:13] #7044 closed

[2020-09-25 04:14] galih56 commented on #7044
these messages only appear when i use "sails lift alter". But if i use "sails lift --safe" it works.

[2020-09-25 06:20] edmondsylar commented on #7040
@eashaw I simply want to have all the data in my database to be encrypted, which I have achieved using  _**beforeCreate**_ callback function on the main model configuration file.
So currently  I want to know if there is a way I can execute a function when the data is being fetched, I have tried embedding my logic in the _**customToJSON**_ function but its not executed, don't know why, tho when I t

[2020-09-25 07:02] edmondsylar opened #7045 "Callback function afterFetch or Equivalent"
sails version : `1.2.4`
<hr>
Is there a way I can call a function on a model after fetching a record?

### Tried Approaches.
tried adding `customToJSON` to my model configuration but it has not worked.

#### Is there a callback function equivalent to `afterFetch` ?

[2020-09-25 09:50] LouAdrien opened #7046 "Implement join for sails-mongo"
**Node version**:
**Sails version** _(sails)_: 1.2.3
**ORM hook version** _(sails-hook-orm)_:
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & version** _(e.g. skipper-s3@5.55.5)_:

[2020-09-25 14:50] ryangrush commented on #7042
thanks for responding @eashaw. I might've missed this in the docs but how would this be accomplished on create? Would it be using `.exec()` and a callback?

[2020-09-25 17:22] eashaw commented on #7041
Hi @sreealekhya, You can use lifecycle callbacks with Sails to acomplish that but we don't recommend it. We suggest using an APM (like NewRelic) to accomplish that.

[2020-09-26 15:58] ptdede commented on #4530
Closing this issue, It's been 2 years 😅

[2020-09-26 15:59] #4530 closed

[2020-09-26 16:00] #4415 closed

[2020-09-30 12:43] laurenamy commented on #6787
I'm experiencing this issue now as well, has this been resolved?

[2020-09-30 15:24] eashaw commented on #6991
Hi @vishalbiradar,
 Your app should be using the pool automatically with mysql. Is your app configured to run in production mode? https://sailsjs.com/documentation/concepts/deployment/scaling
Is your app configured to use transactions and leasing connections? If so there a chance that the application is leaking connections.

[2020-09-30 16:11] eashaw commented on #6787
Hi @laurenamy, can you provide us with more information about your version info? Are you using multiple adapters or just sails-mongo?

[2020-09-30 16:17] eashaw commented on #7042
@ryangrush You need to include the primary key of the associated record, you can take a look at our docs for more information and an example https://sailsjs.com/documentation/concepts/models-and-orm/associations/one-to-many

[2020-10-05 21:48] eashaw commented on #7043
Hi @alxndrsn, I'm not sure if there's a way to disable the view hook in your settings, but you can try taking a look at [this file](https://github.com/balderdashy/sails/blob/master/lib/app/configuration/default-hooks.js) in Sails core where the core hooks are brought in.

[2020-10-05 21:52] eashaw commented on #7045
Hi @edmondsylar, You might want to try making a helper that runs logic after ``.fetch()`` and call that instead of ``.find()``

[2020-10-05 23:09] eashaw commented on #7009
Hey @LouAdrien, I was taking another look at this issue using your example posted above and I was seeing ``afterDestroy`` run when I used the blueprint destroy API. Are you still seeing this issue?

[2020-10-06 07:22] edmondsylar commented on #7045
@eashaw Thanks a lot for the help, though I got a way around using a policy, it sure achieves what I wanted but has affected how i use the policies meaning I will have to change that and then probably use this. though surely my understanding of helpers is really different, don't know how am supposed to use them in this case, if you can help and elaborate more, it would be surely so good

[2020-10-06 10:44] alxndrsn commented on #3690
@Salakar many thanks from 2020 for the workaround.

For reference, in sails `1.3.1` I solved this with a modification of @Salakar's code:
[code]
The `package.json` override may or may not be required, depending on use case.

[2020-10-06 12:30] LouAdrien opened #7047 "Action2 not fully working with typescript"
**Node version**:  v12.14.1
**Sails version** _(sails)_:  1.2.3
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Organics hook version** _(sails-hook-organics)_: 0.16.0
**Grunt hook version** _(sails-hook-grunt)_:
**DB adapter & version**: sails-mong@1.0.1
<hr/>

Hi, I know Typescript is not officially supported by sails, but I am running it on typescript for a while and everything seems to be wor

[2020-10-07 16:05] eashaw commented on #7047
Hi @LouAdrien, can you create a minimal sails repo to help us reproduce this so we can look at this issue more?

[2020-10-07 16:09] maczor opened #7048 "run script uses global sails instead of .bin"
**Node version**: 10.16.0, 10.22.1
**Sails version** _(sails)_: 1.3.1
<hr/>

When you run script it has actually two issues:
1. It uses globally installed sails instead of ./node_modules/.bin/sails like when you use _sails lift_
2. It uses development environment and there is no way to influence that through cli

[2020-10-07 16:09] eashaw commented on #7045
@edmondsylar Theres an example helper in the Sails docs that might help. https://sailsjs.com/documentation/concepts/helpers/example-helper#an-example-helper

[2020-10-07 17:11] eashaw commented on #7048
Hi @maczor, you can run a script using the locally installed sails by using ``node ./node_modules/sails/bin/sails run script-name`` and you can pass in the environment variable with ``sails_environment=`` before you run the script, e.g. ``sails_environment=staging node ./node_modules/sails/bin/sails run rebuild-cloud-sdk``

[2020-10-07 21:55] maczor commented on #7048
@eashaw thank you for your comment and sails_environment tip. I guess the correct way to run script would be `./node_modules/.bin/sails run script-name` (the symlink is there for a reason) but you have to admit different behaviour is quite unexpected especially that documentation doesn't mention that and cli examples suggest that all the "sails _command_" should use the same (either global or loca

[2020-10-07 21:55] #7048 closed

[2020-10-08 21:44] eashaw commented on #6939
@OscarMeier I just tested your PR with your repo and verified that it fixes the issue

[2020-10-09 17:59] rachaelshaw commented on #6937
@kriss1897 @nino-vrijman @madisonhicks @johnabrams7 just got that PR merged in– if you install the latest Sails (1.4.0) should be fixed now

[2020-10-09 18:32] eashaw commented on #6942
@crh3675 @dcolley @ewol123 @LouAdrien @dflupu @Muhammadinaam This issue is fixed as of Sails v1.4.0

[2020-10-10 04:47] sheldonhull commented on #5039
I'm sorry. The rabbit trails of the development community brought me around to this critical issue. I just came here for the monkey. The monkey must live. If you need a monkey maintainer I might be able to contribute. I've submitted pull requests to nocode so I think I'm qualified.

[2020-10-11 23:13] edmondsylar commented on #7045
@eashaw Thanks a lot this sure will help

[2020-10-12 08:47] davidkregl commented on #6937
Hi Rachael,

I have updated Sails.js to `1.4.0` by running `npm update sails`. I can see that it was updated in my `package.json`:
[code]

Following is my cookie configuration which I am sure is applied for the specific environment:
<img width="490" alt="Screenshot 2020-10-12 at 10 24 53" src="https://user-images.githubusercontent.com/5594883/95725641-36cdd500-0c78-11eb-8627-e576e7f765b3.png">

Ho

[2020-10-13 21:07] eashaw commented on #6937
Hi @davidkregl, It looks like the problem you are running into is because the ``secure`` attribute is set to ``false``. ``sameSite: 'none'`` requires ``secure: true`` to work properly.

[2020-10-14 06:37] OnbitShashan commented on #4481
@johnabrams7  yeah writing code in native works.
Sorry for the late reply

[2020-10-14 10:10] steveyout opened #7049 "Unhandled rejection MongoError: command listIndexes requires authentication"
**Node version*v10.22.1*:
**Sails version** _(1.4.0)_:
**ORM hook version** _(2.1.1)_:
**Sockets hook version** _(2.0.0)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mongo@1.2.0)_:
**Skipper adapter & version** _(e.g. skipper-s3@5.55.5)_:
<hr/>

i get this err

[2020-10-14 16:07] eashaw commented on #7049
Hi @steveyout, Is the database that you're trying to connect to on ubuntu the same one that works on windows, or are you seeing this error with a local database?

[2020-10-14 17:00] eashaw commented on #7046
Hi @LouAdrien, unfortunately our team doesn’t have the availability to implement this feature right now, but if you have time to make a PR for this we’d be willing to take a look!

[2020-10-14 17:24] eashaw commented on #5039
@sheldonhull any help with Timothy would be appreciated, he loves meeting new people.

[2020-10-14 17:41] steveyout commented on #7049
soryy it was a mistake.i had enabled mongodb authentication and only changed the connection details in datastore but forgot to change also in sessions

[2020-10-14 17:41] #7049 closed

[2020-10-14 20:10] orhankutlu opened #7050 "domain.enter is not a function after updating nodejs to 12.18.4"
**Node version**: v12.18.4
**Sails version** _(sails)_: 1.4.0
**ORM hook version** _(sails-hook-orm)_: not installed
**Sockets hook version** _(sails-hook-sockets)_: not installed
**Organics hook version** _(sails-hook-organics)_: not installed
**Grunt hook version** _(sails-hook-grunt)_: not installed
**Uploads hook version** _(sails-hook-uploads)_: not installed
**DB adapter & version** _(e.g. s

[2020-10-14 20:21] eashaw commented on #7040
Hello @edmondsylar, I'm not sure what kind of app you’re working on, and what the security requirements might be, but I would strongly encourage you to take a step back and reconsider whether encryption-at-rest for all of your project’s data is actually needed; this type of approach comes with a lot of overhead and extra complexity that just isn’t necessary for the majority of apps (In case you ha

[2020-10-15 05:42] shobhitsinghal624 opened #7051 "read and write from different database"
**Node version**: v10.18.0
**Sails version** _(sails)_: v1.1.0
**ORM hook version** _(sails-hook-orm)_:
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-postgresql@1.0.2
**Skipper adapter & versi

[2020-10-15 05:44] edmondsylar commented on #7040
@eashaw I hadn't surely gone through the security docs for `sailsjs` but am going to take some time off and check them,
The encryption-at-rest is really required for the kind of application am working on, though I have come to find that this kind of methodology might not be very popular because am really not getting much information about it.

but again to answer your question, yes, the data encry

[2020-10-15 09:59] JuanBernal98 commented on #5039
🍌 🍌

[2020-10-16 00:40] GirkovArpa commented on #7022
Is [this](https://www.bountysource.com/issues/92237696-cannot-connect-to-postgres-with-node-v14) bounty still open?  It's offering $15 to solve this issue which appears to be already solved.

[2020-10-16 20:13] kriss1897 commented on #6937
Thanks @davidkregl! I've tested this, it is working fine. Closing this ticket now.

[2020-10-16 20:13] #6937 closed

[2020-10-19 20:11] Tyler-RCSD opened #7053 "Calculated fields"
**Node version**: 10.6.3
**Sails version** _(sails)_: 1.2.4
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-mysql@1.0.1
<hr/>

Is there a way of doing calculated fields anymore?  I have read #5939 but my understanding is that since v1 instance methods have been removed and so the propo

[2020-10-20 13:17] steveyout opened #7054 "closing all pending io connections"
**Node version**:
**Sails version** _(1.3.0)_:
**ORM hook version** _(sails-hook-orm)_:
**Sockets hook version** _(2.0.0)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & version** _(e.g. skipper-s3@5.55.5)_:
<hr/>

i was able t

[2020-10-21 07:28] ChrisSmith5 commented on #6839
+1

[2020-10-21 16:18] eashaw commented on #7053
Hi @Tyler-RCSD, It looks like you're right, lifecycle callbacks would handle this fine. I recommend using a custom action to accomplish this, that way you can calculate the value yourself and update it all in one query.

[2020-10-21 16:20] eashaw commented on #7040
@edmondsylar How do you intend to query on an encrypted primary key?

[2020-10-21 16:34] Tyler-RCSD commented on #7053
I have resolved the issue using a lifecycle callback rather than a custom action.  I don't particularly like the idea of re-writing custom actions that replace the built in ones.  When I'm calling standard RESTful endpoints I'd prefer not to have some handled differently than others for the sake of consistency.

I think there is value to having instance methods for simple computed columns such as

[2020-10-21 16:34] #7053 closed

[2020-10-21 16:48] eashaw commented on #7051
Hi @shobhitsinghal624, It's probably worth thinking about if this you need a read-replica database or if it could wait. I know
Postman eventually ran into a need for read-replicas at scale and made some modifications to do this with Sails and MySQL.
It isn't ideal, but a workaround you could try is creating read only copies of your models that are stored on the read-replica and query those.

[2020-10-21 16:49] edmondsylar commented on #7040
My primary keys which in this case are auto increments are actually not encrypted but just in case I was to encrypt them, It still would work since even my query is made with encrypted data, I have a function that encrypts all data that comes in from get requests.

The only issue is that I managed to achieve this using a policy which I surely don't think is a very smart move but its the only one I

[2020-10-21 16:58] eashaw commented on #7050
Hi @orhankutlu, It looks like renaming the `domain` object so it doesnt conflict with https://nodejs.org/api/domain.html#domain_domain_enter is the right thing to do.

[2020-10-21 17:53] orhankutlu commented on #7050
Hi @eashaw thanks for the response, I already did that but I think it would be best for sails.js to not allow settings properties directly into the request object. There should/can be some custom wrapper instead.

E.g. Let's say you have a middleware where you set the authenticated user to the request. You can set it directly to the request like `req.user` currently, but instead of doing it, I thi

[2020-10-22 06:15] GeneralTyres opened #7055 "Sails using a lot of memory when uploading a file"
**Node version**: 10.15.3
**Sails version** _(sails)_: ^1.2.4
**ORM hook version** _(sails-hook-orm)_: ^2.1.1
**Sockets hook version** _(sails-hook-sockets)_: ^1.5.5
**Organics hook version** _(sails-hook-organics)_: ?
**Grunt hook version** _(sails-hook-grunt)_: ^3.1.0
**Uploads hook version** _(sails-hook-uploads)_: ?
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-mysql@^1.0.1
**Ski

[2020-10-22 10:15] GeneralTyres commented on #7055
So it was the copying of the image that was causing the problem. I unfortunatly do not know why at the moment. I just specified my own upload directory everything worked fine after that as sails does not wipe the contents everytime it starts. I am going to close the issue.

[2020-10-22 10:15] #7055 closed

[2020-10-23 03:36] CrazyOptimist opened #7056 "Support dotenv - New feature request"
Thanks for your efforts, maintainers and contributors.
Current implementation can not leverage dotenv@npm in case of using sails cli.
I guess it can be solved by a hook using dotenv npm package as a dependency.
Let me know your opinion guys.

[2020-10-23 10:30] LouAdrien opened #7057 "Provide ways to override the express session middleware "resave" option as it will cause lots of problem with concurrent requests"
**Sails version** _(sails)_:  1.2.3
<hr/>

As it can be seen [here](https://github.com/balderdashy/sails/blob/master/lib/hooks/session/index.js#L445), the current session middleware enforces the resave and saveUninitialized option.

As documented in the code directly, the resave option is [flagged by express](https://github.com/expressjs/session/tree/8e56128d8ba014ab586521247977b0d4e67340f9#resave

[2020-10-23 11:27] edmondsylar opened #7058 "Audit Trail."
Hello.
<hr>
Am wondering, could you introduce an audit trail feature?
Might sound like a crazy one but have actually found a number of people who are really interested in knowing all this
kind of detail, and I suppose such a feature could really be quite the answer.

[2020-10-24 17:42] wrightkhlebisol commented on #4508
@onedebos's suggestion fixed this for me

[2020-10-26 10:38] edmondsylar opened #7059 "afterFind callback"
Hello,
Am trying to implement the `afterFind` callback in waterline but having an issue that i get duplicate records in my response its more like the callback is executed twice,
My Implementation looks like this
[code]

and on my model file in `config/model.js` and trying to log the result.
[code]

but In the response this is printed out twice, what could be the problem?, help needed Urgently.
Tha

[2020-10-26 10:54] edmondsylar commented on #7059
The same issue is experienced also on afterFindOne

[2020-10-27 21:11] eteaguewebs commented on #6804
Hello!

Long story short, but my place of work is upgrading a sails application from 0.12 to 1.4 (old, I know). We are encountering the exact issue @ath88 described in this thread, summarized here https://github.com/balderdashy/sails/issues/6804#issuecomment-513448842.

Have there been any updates/developments or workaround discovered to address this issue since 2019?

Thanks in advance!

[2020-10-29 09:59] leooxx commented on #6957
Hello, i'm using sails v0.12 and sails-postgresql v0.11.4 on an existing project.
This is last version available for sails 0.12

The solution from @RodrigoRodriguesX10 is working. Is it possible to push this update... v0.11.5 ?

Else, how i can override adapter.js properly in my node application ?

Thank you all ;)

[2020-10-29 16:43] eashaw commented on #6957
Hi @leooxx, we don't have any plans on updating old versions of sails-postgresql. @RodrigoRodriguesX10 what version did you end up using in production?

[2020-10-29 16:58] eashaw commented on #7059
Hi @edmondsylar It's possible some other method might be using `.find()` under the covers, which might be part of reason these callbacks haven't been officially supported by Sails. It looks like you're using the code from https://github.com/balderdashy/waterline/pull/1610, we'll take a closer look when we review that PR but that's my best guess for now. This information will be helpful when we tes

[2020-10-29 17:04] eashaw commented on #7058
Hi @edmondsylar, we've actually done something like this in a number of projects. It could be neat to include it in the web app template, we're currently shuffling things around a bit in `sails-generate` but we'd love to hear people's thoughts on this.

[2020-10-29 17:11] eashaw commented on #7056
Thanks for the feedback @CrazyOptimist. I think you're right about implementing it as a hook, If you're feeling up to it you could make it an installable hook to make this available to other Sails users. https://sailsjs.com/documentation/concepts/extending-sails/hooks/installable-hooks#creating-an-installable-hook

[2020-10-29 17:19] eashaw commented on #7040
Hi @edmondsylar, you should be able to [link multiple policies on an action.](https://sailsjs.com/documentation/concepts/policies#?policy-ordering-and-precedence) If you're seeing issues with the documented usage would you mind creating a minimal repo reproducing the issue you are seeing with multiple policies?

[2020-10-29 17:26] eashaw commented on #7054
Hi @steveyout, have you tried using the documented `.reconnect()`? https://sailsjs.com/documentation/reference/web-sockets/socket-client/sails-socket/methods#?reconnect

[2020-10-29 17:27] CrazyOptimist commented on #7056
Okay,
I'll try to get some work done on this.

[2020-10-29 17:49] mikermcneil commented on #6804
In repo that seeks to reproduce this, a couple of things (archived so i'll comment here):

- line 12: [`sails.lift()`](https://sailsjs.com/documentation/reference/application/advanced-usage/sails-lift) doesn't support await
- line 13: [`sails.lower()`](https://sailsjs.com/documentation/reference/application/advanced-usage/sails-lower) doesn't support await
- line 4: because of the above, the `for`

[2020-10-29 18:17] eashaw commented on #7050
Hi @orhankutlu, after talking to @mikermcneil, I suggest using `req.options.custom = {}` and putting your stuff in there. https://sailsjs.com/documentation/reference/request-req/req-options

[2020-10-29 18:19] eashaw commented on #7057
Hi @LouAdrien, Have you been running into issues with this in production?

[2020-10-29 18:44] edmondsylar commented on #7040
Looking into this ASAP and reverting,
Am going to go through my use case and see if am doing it right because I have the same exact implementation that the document suggests.

[2020-10-29 21:00] ath88 commented on #6804
I think I remember back when I opened the issue, that I found something in sails that messes with `require.cache`. I know that probably isn't much to go on, but I thought i might as well mention it.

[2020-10-30 06:53] alxndrsn opened #7060 "postgresql: how to set schema name per model?"
**Sails version** _(sails)_: 1.3.1
**ORM hook version** _(sails-hook-orm)_: 3.0.1
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-postgresql@1.0.2
<hr/>

It seems like support for setting `meta: { schemaName:... }` was dropped in sails-postgresql version `1.0.0` (this commit: https://github.com/balderdashy/sails-postgresql/commit/5ed44fe87643040629acef3fe9c1f206a0e36f76#diff-f8f3a8ddcc

[2020-10-30 08:44] leooxx commented on #6957
Ok, thanks for the reply. Using postgresql 11 will be my best solution...

[2020-10-30 13:18] RodrigoRodriguesX10 commented on #6957
I overwrote the code in adapter.js and using Postgres 12 in production, true be told, there are many publishes for different clients (some using postgres 12 and some using postgres 11), I'm using:

Sails version: 0.11.4
sails-postgresql@0.11.4 (with adapter.js modified)

just adding "isVersion12OrNewer": true solved my problems, but is not a good idea to use modified module's file. We trying to up

[2020-10-31 05:06] CrazyOptimist commented on #7056
Bang!
I was about to reinvent the wheel. Here is an install-able hook: [sails-hook-dotenv](https://github.com/Taiters/sails-hook-dotenv)
And it turned out that  [this issue](https://github.com/balderdashy/sails/issues/2517) has not been resolved(already closed though 👎 )
When are you planning to look into defining hooks load sequence?

[2020-10-31 05:33] CrazyOptimist commented on #7056
Let me close this issue for now assuming you have `define hooks load sequence` in your roadmap.

[2020-10-31 05:33] #7056 closed

[2020-11-02 08:08] ebaynaud commented on #7026
I tried this with 1.3.1 and it doesn't fix errors:
[code]

This seems to fix but I guess this is a workaround:
[code]

[2020-11-02 08:08] ebaynaud commented on #7032
I tried this with 1.3.1 and it doesn't fix errors:
[code]

This seems to fix but I guess this is a workaround:
[code]

[2020-11-02 16:34] alxndrsn commented on #6804
@ath88 this happens in the `include-all` module, which is called at least once during sails startup.

@mikermcneil you've given some background to why this happens at https://github.com/balderdashy/sails/issues/4316#issuecomment-376001225; is there currently an option to disable it?

[2020-11-03 08:09] alxndrsn commented on #6804
@ath88 Great pointer, thanks - this looks like it's spot on, at least for _most_ of the memory leak.

I've adapted the examples above at https://github.com/alxndrsn/sails-memory-leak to demonstrate the memory leak, and test the effects of disabling `include-all`'s cache deletion for all or some of it's calls.

Results I'm getting:

`include-all` deletes `require.cache`? | heap change after 500 ite

[2020-11-03 08:38] ath88 commented on #6804
I stumbled upon that very problem when using mongoose, since it utilizes a singleton pattern stored in the modules scope. We did some database interactions before starting sails, which resulted in two connections, instead of just one.

[2020-11-04 09:04] leapit opened #7062 "Assets not work after use http middleware"
**Node version:v12.18.3**
**Sails version** :1.4.0

<hr/>

use `sails new myapp`,I did nothing but change `myapp/config/http.js`

[code]
then the assets not work.

http://localhost:1337/dependencies/sails.io.js return 404 page

is this a bug,or by design,if by design,how to let the  assets access after add middleware(event add nothing,only empty order)

[2020-11-04 17:05] eashaw commented on #7062
Hi @leapit, would you mind creating a minimal sails app in a repo that reproduces this so we can take a look? Thanks!

[2020-11-04 17:07] eashaw commented on #7032
Thanks @ebaynaud for posting your workaround.

[2020-11-04 17:16] eashaw commented on #6957
@RodrigoRodriguesX10 Glad you're looking into upgrading to Sails v1. We don't recommend changing your `node_modules` files directly since they're easily overwritten.

[2020-11-04 18:26] eashaw commented on #7060
Hi @alxndrsn, I talked with the team and they're open to re-adding support. Feel free to make a PR to close this, but please try to keep the diff as small as possible so I can wrangle someone to review it faster. Thanks!

[2020-11-05 01:59] leapit commented on #7062
hi,just do it follow below:

1.`sails new demo`
2.select ` 2. Empty    ·  An empty Sails app, yours to configure`
3.`cd demo`,and vi `config/https`,change as below
[code]
4.run `sails lift`
5.vistit `http://localhost:1337/dependencies/sails.io.js`

then 404 page show

I thinks it is clear,no need create a repo,thanks @eashaw

[2020-11-05 07:09] vkiller commented on #7062
Exactly the same issue as leapit's guide. @eashaw

[2020-11-05 17:10] Tyler-RCSD opened #7063 "Removing attribute from PubSub publish"
Node version: 10.6.3
Sails version (sails): 1.2.4
ORM hook version (sails-hook-orm): 2.1.1
Sockets hook version (sails-hook-sockets): 2.0.0
DB adapter & version (e.g. sails-mysql@5.55.5): sails-mysql@1.0.1
<hr/>

When use HTTP GET requests you can configure customToJSON so that you can omit specific attributes you don't want returned, e.g. password.  This is described in the docs [here](https://sa

[2020-11-05 18:45] Tyler-RCSD commented on #7063
Digging into the pubsub hook code it seems that that there are some undocumented lifecycle hooks for `beforePublishUpdate`, `beforePublishDestroy`, `beforePublishAdd`, `beforePublishRemove`, and `beforePublishCreate` but either they don't work as I would expect or I'm not understanding how to use them.  Here is what the invocation looks like:

sails/lib/hooks/pubsub/index.js
[code]

If I add _befo

[2020-11-07 00:13] gunman-ill opened #7064 "Sails.js Multiple callbacks from Model.getDatastore().sendNativeQuery()"
**Node version**: 12.19.0
**Sails version** _(sails)_: 1.4.0
**ORM hook version** _(sails-hook-orm)_: 3.0.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_: 2.2.0
**Grunt hook version** _(sails-hook-grunt)_: 4.0.1
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-mysql@1.0.1
**Skippe

[2020-11-07 06:49] hardiksukhadiya opened #7065 "Stop automatic conversion of datetime field to UTC time zone and ISO format"
**Node version**:  : 10
**Sails version** _(sails)_: 1.4
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_: 2.2.0
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-postgresql@2.0.0
<hr/>

Hello Team,
I have field called order_date with a column_type : datetime and type : ref.
No insertin

[2020-11-10 00:23] eashaw commented on #7062
Hi @leapit and @vkiller, this is intended behavior. The middleware loaded in `config/http.js` (specifically the `www` middleware) serves static files like `sails.io.js`.
You can check out our docs for more information about [http middleware](https://sailsjs.com/documentation/concepts/middleware/conventional-defaults).

[2020-11-11 05:35] hardiksukhadiya commented on #7065
Hello Team,

Do you find solution ? Also I'm not using any third party plugins.

I'm simply storing timestamp value without timezone for order_date field and I want that time back in the format as I have stored but instead sails js internally converting it to UTC and iso format date and time.

This is a very common issue a developer should have a flexibility like if they want to be timezone conver

[2020-11-11 07:59] jspark-gigworks opened #7067 "Hook routes.after seems not to be invoked."
**Node version**: v12.19.0
**Sails version** _(sails)_: v1.4.0
**ORM hook version** _(sails-hook-orm)_: v2.1.1
**Sockets hook version** _(sails-hook-sockets)_: v2.0.0
**Organics hook version** _(sails-hook-organics)_: v2.2.0
**Grunt hook version** _(sails-hook-grunt)_: v4.0.1
**Uploads hook version** _(sails-hook-uploads)_: Not used
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: Not used
**

[2020-11-11 11:49] alxndrsn opened #7068 "PostgreSQL: transaction() doesn't guarantee use of a database transaction"
**Node version**: `14.15.0`
**Sails version** _(sails)_: `1.4.0`
**ORM hook version** _(sails-hook-orm)_: `2.1.1`
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: `sails-postgresql@2.0.0`

<hr/>

# Observed

Calling [`datastore.transaction(during)`](https://sailsjs.com/documentation/reference/waterline-orm/datastores/transaction) when using the [`sails-postgresql`](https://www.npmjs.com/packa

[2020-11-11 13:55] alxndrsn commented on #7064
@gunman-ill It might be relevant to know if you're using callbacks/Promises/await.  Can you share an example of how you're triggering `sendNativeQuery()`?

[2020-11-11 16:53] alxndrsn commented on #7068
I've opened a PR to fix this at https://github.com/balderdashy/sails-hook-orm/pull/22, but there are other instances of the same/similar technique in:

* `waterline`: https://github.com/balderdashy/waterline/blob/master/lib/waterline/methods/stream.js#L379, https://github.com/balderdashy/waterline/blob/master/lib/waterline/methods/stream.js#L431
* `skipper`: https://github.com/sailshq/skipper/blob

[2020-11-11 17:20] eashaw commented on #7064
Hi @gunman-ill, would you be able to create a minimal sails app in a repo that reproduces this issue? Thanks!

[2020-11-12 09:27] leapit commented on #7062
yeah,thanks

[2020-11-12 09:27] #7062 closed

[2020-11-15 09:13] galih56 opened #7071 "How to get inserted record from .create()"
**Node version**: 6.14.8
    "sails": "^1.2.5",
    "sails-hook-apianalytics": "^2.0.3",
    "sails-hook-organics": "^2.0.0",
    "sails-hook-orm": "^2.1.1",
    "sails-hook-sockets": "^2.0.0",
    "sails-mysql": "^1.0.1",
    "sails-postgresql": "^2.0.0",
    "winston": "^3.3.3",
    "grunt": "1.0.4",
    "sails-hook-grunt": "^4.0.0"
<hr/>
I want to create records for 2 different models.
These ar

[2020-11-16 18:15] rachaelshaw commented on #7071
Hi @galih56, you don't need `.exec()` when using `await`. Try this:
[code]

Hope that helps!

[2020-11-18 21:45] eashaw commented on #7067
Hi @jspark-gigworks, this is expected behavior. `routes.after` would run if the route fails to match a target. You can find more information in [our docs](https://sailsjs.com/documentation/concepts/extending-sails/hooks/hook-specification/routes).

[2020-11-18 23:31] eashaw commented on #7068
Hi @alxndrsn, the code in the files you link is to determine whether or not a function is async. Due to the ad hoc way Sails sniffs async functions and function arguments, it doesn't support certain shorthand for passing in functions.
Would you mind explaining how these files relate to this issue, and are you running into issues with this when you use documented syntax?

[2020-11-19 05:51] jspark-gigworks commented on #7067
Thank you for your reply, @eashaw. I misunderstood that all routes would invoke `after` hook.
Is there any tip to make the hook which is invoked after all routes is finished such as `finally` in `try - catch` statement?

[2020-11-20 08:37] alxndrsn commented on #6911
Some ideas for profiling SailsJS startup can be found at https://kevin.burke.dev/kevin/node-require-is-dog-slow/, but note that this blogpost is from 2015.

[2020-11-20 19:00] Xenfo opened #7072 "Typescript & React Support"
Is there any progress in Typescript being natively supported, like instead of `sails new app` we could use `ts-sails new app` to generate a Typescript version?

I would also like to know if React is on the list for native support.

[2020-11-21 09:55] sereisoglu commented on #6877
Hi,
I have the same problem. Any updates?

[2020-11-22 07:07] anand514 commented on #4559
Hi @raqem , i am still experiencing this issue , getting the same error **When using sails-disk, any attribute with `unique: true` must also have `required: true`** even after pulling the latest sails-disk package.

[2020-11-22 13:39] alxndrsn commented on #7068
@eashaw :+1: that's the cause of the reported bug, which is fixed in my PR

[2020-11-23 09:55] satishbluone commented on #5474
I am also waiting for inner join concept. when will it be come?

[2020-11-23 13:29] alxndrsn commented on #7057
@LouAdrien You can override these values in `config/session.js`.

The code you've linked at https://github.com/balderdashy/sails/blob/master/lib/hooks/session/index.js#L444-L447 reads:

[code]

`app.config.session` comes from `config/session.js` in your app code, so if you set `resave` or `saveUninitialized` to `false` there, it should override the Sails default.

[2020-11-24 18:41] hyandell commented on #4744
Appears to no longer be in the latest version of Vue. Closing and assuming this project uses the latest.

[2020-11-24 18:41] #4744 closed

[2020-11-25 20:27] shailesh-kanzariya commented on #4170
@sgress454
I am facing this issue when running test with `mocha` and using `adapter: 'connect-redis'` in `config/session.js`.
Redis connection remains open even after `sails.lower(done);` is run successfully in `lifecycle.test.js` and therefore mocha does not exit and have to terminate it forcefully with ctrl+c.
My package.json has:
- "sails": "^1.4.0"
- "sails-hook-sockets": "^2.0.0"
- "connect-r

[2020-11-25 20:45] rachaelshaw commented on #4559
@anand514 what does your model definition look like? Are you getting this error when setting `unique: true` on an association, or a normal attribute? (Just checking because for non-association attributes you still can only use `unique: true` if you also have `required: true`.)

[2020-11-26 02:41] barry-pawssum commented on #4668
Just encountered this issue when trying to run Promise.all on an array of calls to a helper. Not sure I can use exec() as that requires a callback which doesn't fit with the whole async/await thing.

Does this bug mean there's no way for me to do this? Will I have to go back to defining a Sails service instead?

[2020-11-26 17:54] devmfouad commented on #3124
same problem with me

[2020-11-27 08:51] orhankutlu commented on #7050
@eashaw thanks for the suggestion. It helped!

[2020-11-27 08:51] #7050 closed

[2020-11-28 09:31] Fjohn666 opened #7077 "right way to use .find()"
**Node version**: v14.10
**Sails version** _(sails)_:  1.0
**ORM hook version** _(sails-hook-orm)_:  waterline
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:  mysql
**Skipper adapter & version** _(e.

[2020-11-28 10:12] Fjohn666 commented on #7077
I have find a way to have my cascade delete working.

[code]
but I stay interested with the good way to use find() method. ;)

[2020-12-01 11:32] anand514 commented on #4559
@rachaelshaw , thanks for responding , this is normal attribute , so you were saying if i have normal attribute with **unique** property it should required also have **required** , is my understanding correct, if so , could you please let me know the reason for this.

[2020-12-01 14:14] xemuj commented on #7029
Would be great if some function encrypt the query data before like this

Users.findOne({email: sails.helpers.encrypt(unEncryptedEmail)}).decrypt()

[2020-12-01 16:25] mikermcneil commented on #4559
@anand514 It often seems reasonable to use `required: false` and `unique: true` at the same time-- I still sometimes forget myself and get reminded by the same error message.  Every time it happens to me, I have to remind myself why that is.  (Would be nice if the error message included a link with more information on this in the Sails docs!  Might make a good PR when someone gets a sec)

Consider

[2020-12-02 07:25] anand514 commented on #4559
@mikermcneil , thanks for responding, I've understood the scenario you pointing out related to empty string , just curious , is it should be specification irrespective the adapters ?(the reason i am checking  for this is that same model is working fine with mysql adapater but with not with sails-disk)

[2020-12-02 12:30] alxndrsn commented on #7060
For anyone looking for a workaround, you can achieve this by overriding all the database functions for a model like so:

[code]

[2020-12-02 15:52] raqem commented on #4559
If a particular database considers stuff like null,null,4,null,5 to be a
unique dataset, it could be compatible with the idea of singular
associations in sails, which can be either null or the foreign key id.

Sails-disk doesn’t support this, MySQL does, so waterline allows it for
MySQL.

This usually isn’t a blocker, even if you choose to stay adapter agnostic -
one way to accomplish the same thi

[2020-12-02 17:14] eashaw commented on #7077
Hi @Fjohn666, Thanks for posting what works for you, from your code it looks like you were using `find()` correctly, but its hard to tell without seeing the full context. You also might want to try using the built in `cascadeOnDestroy` setting, you can take a look at our docs for more info. https://sailsjs.com/documentation/concepts/models-and-orm/model-settings#?cascadeondestroy

[2020-12-02 17:20] eashaw commented on #7029
@xemuj could you tell me more about your use case for needing email addresses to be encrypted at rest?

[2020-12-02 17:30] xemuj commented on #7029
In fact in my project I encrypted name and lastName for security reasons but now I need to decrypt all data because this issue

What do I need is encrypt my search data an then I could compare in dB

[2020-12-02 17:49] neonexus commented on #7029
@eashaw you don't want encryption for search data. You want 1-way, repeatable hashes, like SHA256, or similar. Same data in, same final hash out. See this for an example, and good explanation of why it's used: https://xorbin.com/tools/sha256-hash-calculator

Encryption is 2-way, but generally involves "salts", which means same data in does not give same final hash out. This makes it **virtually**

[2020-12-02 17:54] eashaw commented on #7029
Thanks for the great explanation @neonexus!

[2020-12-02 19:35] Fjohn666 commented on #7077
thank you for your answer. I have tried the cascadeOnDestroy attribute but this is only making the FK as NULL. The product is not destroyed too.
With my beforeDestroy function All products are destroyed too.
There is not a way to do that with cascadeOnDestroy ?

[2020-12-04 13:40] sorsaffari commented on #4562
@navics did you manage to find the cause of this issue?

[2020-12-07 12:10] alxndrsn commented on #7068
Hi @eashaw, just revisiting this.

Given the expectations around transactional guarantees when working with databases, I think it's dangerously misleading that `during` may be silently executed _outside_ a database transaction.

It would be great if either a fix can be applied, or the documentation can be updated to warn about this possibility.

I suspect the [`sails-mysql`](https://www.npmjs.com/

[2020-12-11 11:51] anand514 commented on #4559
yes, it does  ,  thanks for your response

[2020-12-12 07:48] alxndrsn opened #7080 "Cannot re-use controller code without hacks"
**Node version**: 14
**Sails version** _(sails)_: 1.4.0
<hr/>

# Observed

If two controller files export the same object, `include-all` throws an `Error` on startup.  The `Error`'s message is misleading.

## Example

### `/api/controllers/one.js`:

[code]

### `/api/controllers/two.js`:

[code]

# Reproduced at

https://github.com/alxndrsn/sails-repeated-controllers-issue

See the controllers whi

[2020-12-15 05:34] bvedam commented on #4339
In my case, I had an exits.success call without a return within the async helper fn. As the error says, you must be making a callback but without a return statement. The code falls thru and calls the exits function again. Not sure if thats your case, but it helped in mine.

[2020-12-16 13:13] vidueirof commented on #4542
Hi, I'm in a similar situation. In my case y develop a json based adapter to use with preloaded data that will not change. I have one or two models working with it and the rest of the them with mongo.
I'm writing some tests so I'm overriding the global migrate to drop so each test run with an empty db except for the two models with preloaded data.

Right now my only option is to change my drop & d

[2020-12-16 16:30] eashaw commented on #7077
@Fjohn666 `cascadeOnDestroy` only destroys the associations between records, not the records themself. We recommend creating a custom action that handles deleting the associated records, or sticking with that `beforeDestory` function.

[2020-12-16 16:42] eashaw commented on #7063
Hi @Tyler-RCSD, toJSON is not documented to work with RPS, we will be updating the documentation to show this. Using undocumented functions like _beforePublishUpdate and _beforePublishDestroy is not recommended as it can lead to more problems in the future.

[2020-12-16 16:55] eashaw commented on #7065
Hi @hardiksukhadiya, when using `column_type : timestamp`, your database adapter decides the format of the timestamp. We recommend creating an attribute on your model that stores a timestamp using Date.now() (epoch ms).

[2020-12-16 17:17] eashaw commented on #4339
Thanks for the insight @bvedam!

[2020-12-16 17:26] eashaw commented on #7080
Hi @alxndrsn, I may be missing something here. Could you tell me more about your use case, and why you would need two controllers with identical code instead of just using one? Have you run into this issue with two controllers that have different code?

[2020-12-17 05:18] bagwanpankaj opened #7081 "Uploading non multipart/form-data"
**Node version**:  v14.5.0
**Sails version** _(sails)_: 1.4.0
**ORM hook version** _(sails-hook-orm)_:  2.1.1
**Sockets hook version** _(sails-hook-sockets)_:  2.0.0
**Organics hook version** _(sails-hook-organics)_: NA
**Grunt hook version** _(sails-hook-grunt)_: NA
**Uploads hook version** _(sails-hook-uploads)_: NA
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-postgresql@1.2.0"
**

[2020-12-18 17:47] #7077 closed

[2020-12-18 17:52] Fjohn666 opened #7082 "x-exit-description on production ENV"
**Node version**: 14
**Sails version** _(sails)_: 1
**ORM hook version** _(sails-hook-orm)_:
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:  mysql
**Skipper adapter & version** _(e.g. skipper-s3@5.55

[2020-12-19 04:26] yorchperaza opened #7083 "Sails, React and Axios Error with CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource"
**Node version**: 15.0.1
**Sails version** _(sails)_:  1.4.0
**ORM hook version** _(sails-hook-orm)_:  2.1.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_: 0
**Grunt hook version** _(sails-hook-grunt)_: 0
**Uploads hook version** _(sails-hook-uploads)_: 0
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: 1.0.1"
**Skipper adapter & vers

[2020-12-22 22:52] yorchperaza commented on #7083
Solution: On http.js in sails, added the req headers:

module.exports.http = {

  middleware: {
    order: [
      'cookieParser',
      'session',
      'bodyParser',
      'compress',
      'poweredBy',
      'appRequestLogger', // custom logger
      'router',
      'www',
      'favicon'
    ],

    appRequestLogger: function (req, res, next) {
      const env = process.env.NODE_ENV || 'develo

[2020-12-22 22:52] #7083 closed

[2020-12-23 19:20] hassench commented on #4610
I have the same issue, in my Database I have a default value
``usr_creation_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
`
Waterline sets usr_creation_date to null automatically, the database refuses to set it and I have
`Error: ER_BAD_NULL_ERROR: Column 'usr_creation_date' cannot be null
`

[2020-12-23 19:40] hassench commented on #4610
The temporary solution was to deactivate explicit_defaults_for_timestamp from MySql

`SET GLOBAL explicit_defaults_for_timestamp = 0;
`

[2020-12-23 21:13] eashaw commented on #4610
Hey @hassench, glad you found something that works for you.

[2020-12-23 21:29] eashaw commented on #7072
Hi @Xenfo, We don't have plans to support Typescript and React out of the box. You can take a look at https://sailsjs.com/documentation/tutorials/using-type-script#using-typescript-in-a-sails-app for an example of how to get Typescript working with Sails. If you generate an empty Sails app you can use whatever frontend framework you like.

[2020-12-23 21:35] dilame commented on #4610
I am still sure - such waterline behavior is the abuse of authority, not opinion. The database is the priority - the client code working with the database is secondary. You **should not** need to change your database just for waterline quirks.
If i don't set some field - let it be my own decision. Don't decide for me that I've forgotten something, because I haven't forgotten.

[2020-12-23 22:25] eashaw commented on #4610
Thanks for your feedback @dilame. Waterline is opinionated, and as you might expect we didn't make these decisions lightly. Here's how we reached the logical data types that are in Waterline today: https://docs.google.com/spreadsheets/d/1whV739iW6O9SxRZLCIe2lpvuAUqm-ie7j7tn_Pjir3s/edit?usp=sharing

[2020-12-23 23:39] eashaw commented on #6877
Hi @leonatoieiri and @sereisoglu, we discovered that sails-generate was using an old version of sails-hook-orm, this has been fixed.
To fix this issue in your existing app, you'll need to update sails-hook-orm to v3.0.0, which includes Waterline 0.14.

[2020-12-24 02:43] Xenfo commented on #7072
Alright thanks

[2020-12-24 08:53] sereisoglu commented on #6877
@eashaw It works. Thank you.

[2020-12-27 11:40] alxndrsn commented on #7080
@eashaw e.g. exposing the same functionality at different URLs, with different policies applied.

[2020-12-30 16:11] eashaw commented on #7081
Hi @bagwanpankaj, I'm not sure what sending a file as binary means, but have you tried sending it that way as `content-type: multipart/form-data`?

[2020-12-30 16:51] eashaw commented on #7082
Hi @Fjohn666, this is expected behavior, x-exit-description headers are not returned in production. This is so they can provide useful information to the developer while not exposing that information to the internet while in production.

[2021-01-04 13:45] crhoover-maxar opened #7087 "beforeUpdate not being called on updateOne or update"
**Node version**: 14.15.1
**Sails version** _(sails)_: 1.4.0
<hr/>
I have a model for a Client with a beforeUpdate lifecycle callback.

In a controller for Client I have an update from the form POST of the values:

[code]

In the model definition I have a beforeUpdate.

[code]

There are many other fields but that is the gist of the idea.  When that **updateOne** function runs, the ORM send back a

[2021-01-04 19:52] Goostavo opened #7088 "[Proposal] Sails.js Multi Tenancy on Document Level"
I'm willing to implement a way of doing multi tenancy on sails, using the document level approach. As it will works on all adapters easily.

# Implementation and approach

I'm willing to add a tenant_id column on every multi tenant table/collection. And also on users table/collection. O login a policy will add the tenant_id to the request and every model call will ensure that is being used.

What

[2021-01-08 11:20] jspark-gigworks commented on #4170
My case is the same with @shailesh-kanzariya
I wrote the information.

* macOS Big Sur M1
* Node v12.20.0 (x86 with Rosetta2)
* sails: v1.4.0
* connect-redis: v5.0.0
* sails-hook-socket: v2.0.0
* mocha: v8.2.1

[2021-01-09 11:58] bagwanpankaj commented on #7081
We can not leverage `content-type: multipart/form-data` on tool submitting the data. Only supported content-types are `application/zip` or `application/octets-stream`. But I do not find way in Sails.JS to intercept and save attachment sent as  `application/zip`

[2021-01-13 17:03] eashaw commented on #7080
Hi @alxndrsn, I'm not sure what your project requires, but the way we would handle that is using a policy that encompasses the same functionality at different urls.

[2021-01-14 18:06] eoregel opened #7090 "ERR: Unable to parse HTTP body- error. EUNFNTEX: Timed out waiting for known text parameters to finish streaming their bytes into the server"
I'm encountering an issue with users not being able to send a large json to the API. The json is a parsed CSV coming from the UI averaging around 16kb.

I've tried setting an environment variable in my manifest file to increase the size limit for http headers, but I tried several sizes increasing it tp 2G at one point, and that didn't work.
NODE_OPTIONS: --max_old_space_size=4096

I've tried to ma

[2021-01-14 18:07] eoregel opened #7091 "ERR: Unable to parse HTTP body- error. EUNFNTEX: Timed out waiting for known text parameters to finish streaming their bytes into the server"
I'm encountering an issue with users not being able to send a large json to the API. The json is a parsed CSV coming from the UI averaging around 16kb. The point of this entire feature is to upload a CSV to a database. The UI parses a CSV file and provides it to the API in json format, but it doesn't reach the API since it fails to stream all bytes before timing out.

**Attempts**
I've tried setti

[2021-01-16 23:06] ad-on-is opened #7092 "Uploaded files not served when running sails app in Docker until the server is restarted."
I just encountered a strange behaviour, when I deployed my sails-app via docker.

When files are uploaded, they are not served statically, instead a 404 is thrown.
**However**, they work, when the server is restarted.

`docker run dockerized-sails-app ... -v ./productimages:/app/assets/productimages`

- Upload a file `test.jpg`
- file is present in hosts`./product-images` folder and in app-contain

[2021-01-16 23:47] ad-on-is commented on #7092
**Solved**
[code]

I was running my app locally with `npm run dev` and the file-upload-postprocessors that run after files have changed within the watched directories copied them to `./tmp/public/product_images` which is where sails is serving files from.

[2021-01-18 07:48] AakashMallik commented on #2410
Just an FYI, you need to write an Immediately Invoked Function Expression (IIFE) when doing these configurations of middleware as an initialization step. For comparison, you are supposed to give require('skipper')(opt) to bodyParser, not a function which when invoked returns require('skipper')(opt).

[2021-01-19 17:05] alxndrsn commented on #7081
@bagwanpankaj I imagine if you're really desperate, you could rewrite the `Content-Type` header in middleware before `bodyParser` - see `middleware.order` in https://sailsjs.com/documentation/reference/configuration/sails-config-http.

[2021-01-20 00:39] Development-Person commented on #7071
it certainly helped me, thank you so much!!

[2021-01-20 08:22] thewildsnorlax commented on #4620
Hi @mikermcneil @luislobo @streleck @Sandeeprao69

Are there any updates on tentative release of transaction support in sails-mongo?

Thanks

[2021-01-20 20:11] eashaw commented on #7090
Hi @eoregel, We'd be happy to look at a repo that reproduces what the issue you're having.
Modifying skipper is not the most efficient path to solving this issue, We recommend looking into using [`sails-hook-uploads`](https://github.com/sailshq/sails-hook-uploads), you can find some examples of its use [here](https://github.com/mikermcneil/ration/blob/master/api/controllers/things/upload-thing.js)

[2021-01-21 11:55] umbertoloria commented on #5940
Are there any new ways to set the current datetime as default value?

[code]

[2021-01-22 17:16] LouAdrien commented on #7009
I am seeing it on sails v1.2.3, maybe this was fixed in between, will try reproducing on the latest version

[2021-01-22 17:18] LouAdrien commented on #7009
After checking the releases notes, seems this indeed was fixed in @1.2.4 :) Closing this issue then!

[2021-01-22 17:18] #7009 closed

[2021-01-23 20:11] #4666 closed

[2021-01-25 17:32] gabalafou opened #7095 "Should Sails crash on start if cannot connect to datastore (postgres)?"
**Node version**: 14.15.3
**Sails version** _(sails)_: 1.4.0
**ORM hook version** _(sails-hook-orm)_: 3.0.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_: not installed
**Grunt hook version** _(sails-hook-grunt)_: 4.0.0
**Uploads hook version** _(sails-hook-uploads)_: not installed
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sail

[2021-01-27 14:15] eashaw commented on #4620
Hi @thewildsnorlax, there are no updates on this right now.

[2021-01-27 14:44] sorsaffari opened #7096 "Warning with node 14: Accessing non-existent property 'padLevels' of module exports inside circular dependency"
**Node version**: 14.15.4
**Sails version** _(sails)_: 1.1.0
**ORM hook version** _(sails-hook-orm)_: 2.2.1
**Sockets hook version** _(sails-hook-sockets)_: 1.5.5
**Organics hook version** _(sails-hook-organics)_: 0.16.0
**Grunt hook version** _(sails-hook-grunt)_: 3.1.0
**Uploads hook version** _(sails-hook-uploads)_: 0.4.2
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-postgresql@2.

[2021-01-27 18:54] gpkamp commented on #7096
Having the same problem. Also noticed that Sails 1.4.0 requires prompt 0.2.14, which requires winston 0.8.3, which causes the warning for node 14. Latest version of prompt (1.1.0) requires winston 2.x and the issue should be fixed in winston 2.4.5 https://github.com/winstonjs/winston/issues/1797.

[2021-01-28 11:34] OPADA-Eng commented on #4327
I managed to resolve this by a workaround explained [here](https://stackoverflow.com/questions/61497416/skiprecordverification-doesnt-suppress-orm-warning/65936192#65936192)

[2021-01-29 07:56] anudeepchandrat commented on #6991
@eashaw Yes the app is configured to run in production mode. We are using transactions and tried matching the default connectionLimit from the application to be compatible with maximum connections allowed to the database. We are observing that application gets stuck waiting forever for connections to be returned to the pool once the connection limit is hit.
This behaviour was commented in one of t

[2021-01-29 09:36] spujolfa opened #7098 "autoupdatedAt not working when updating through http methods"
**Node version**: v12.16.3
**Sails version** _(sails)_: 1.2.2
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_:1.5.5
**Organics hook version** _(sails-hook-organics)_: unused
**Grunt hook version** _(sails-hook-grunt)_: 3.1.0
**Uploads hook version** _(sails-hook-uploads)_:  unused
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: mariaDB@10.3.25
*

[2021-02-03 15:19] eashaw commented on #6991
Hi @anudeepchandrat, the default settings work for most deployments of mysql. People using custom connections to their database might have to change their database's settings or change the  number of connections in their Sails configuration.

[2021-02-03 15:47] eashaw commented on #7095
Thanks @gabalafou, we'll test this out.

[2021-02-03 15:49] eashaw commented on #7067
Hi @jspark-gigworks, you should be able to accomplish this with custom responses.
https://sailsjs.com/documentation/concepts/extending-sails/custom-responses/adding-a-custom-response#adding-a-custom-response

[2021-02-03 16:07] gabalafou commented on #7095
I should mention that I'm running Postgres 13.1 and that I've tried this both with the db running (pg_ctl start) and not running (pg_ctl stop) and the observed behavior is the same in both cases.

[2021-02-03 16:17] eashaw commented on #7091
Duplicate of https://github.com/balderdashy/sails/issues/7090

[2021-02-03 16:17] #7091 closed

[2021-02-03 17:49] gabalafou commented on #7095
Also, I tried with Node v12.13.1. Same result.

[2021-02-03 23:44] eashaw commented on #7098
Hi @spujolf, I'm having trouble reproducing this with the latest version of Sails. If you can create a minimal sails app that reproduces what you're running into in a github repo, I'd be happy to take a look. Thanks!

[2021-02-04 02:49] jspark-gigworks commented on #7067
Thank you for your advice. Actually, I would like to add a custom http header for all my response.
Is there any good way to do it?

I had thought routes.after hook could be a way to solve it, but it was my misunderstanding as your first answer.

[2021-02-04 10:15] spujolfa commented on #7098
Hi @eashaw, we found out the problem was that when doing the patch request, we were sending the object with the updatedAt value included, and sails didnt update it, the workaround we did was creating a hook that deletes the updatedAt value so it forces sails to generate a new one. Thanks!

[2021-02-04 10:15] #7098 closed

[2021-02-05 05:33] anudeepchandrat commented on #6991
@eashaw Thank you for the information. We tried changing the number of connections in their Sails configuration using connectionLimit to be compatible with number of connections allowed from mysql database. Once the connectionLimit is reached from Sails we could see the requests are added to the queue and waiting forever for the free connections to be available. Also the Sails application is not a

[2021-02-05 11:41] updesh-jft commented on #4410
Can you tell me how you have solved this issue.

[2021-02-07 11:37] klrkt commented on #7096
I have the same issue.
I used the demo site generator - but I cannot find the template or remember how to invoke the template.
The template generated a "README.md" file which says this:
This app was originally generated on Thu Jan 21 2021 12:53:22 GMT-0500 (Eastern Standard Time) using Sails v1.4.0.

I would like to re-run the generator.
Can you please tell me how and where the template link is?

[2021-02-08 09:00] bhargavkn opened #7099 "Unable to access `columnName` and other attribute properties in sails model"
I'm unable to access the `columName` property from a Model's attributes in sails from other places in the code.

Here's an example illustrating this:

1. Model
[code]

2. Controller
[code]

3. Global Models Config
[code]

Can someone help me in understanding what I'm missing here and how I can go about accessing the `columnName` property from the model?

I felt it'd be easier to use the `columnNam

[2021-02-09 07:05] raghavgarg1257 opened #7100 "Can you please explain the usage of `sails.config.installedHooks`?"
Hello,

I couldn't find any docs regarding this configuration `sails.config.installedHooks`.

I was looking to override the `hookName` for a public hook that I am using, and I found this piece of code.
https://github.com/balderdashy/sails/blob/3535aa448410e078d73a5652164f2946a913699e/lib/hooks/moduleloader/index.js#L523

---

Can we change this code to treat `installedHook` properties to be given

[2021-02-09 07:31] raghavgarg1257 commented on #7100
I read the further code and realized this functionality already exists i.e. the functionality to override the `hookName` for a package.

For future user's reference:
[code]

[2021-02-09 07:31] #7100 closed

[2021-02-10 13:32] updesh-jft commented on #4117
@deeyonn Please can you share with me the code of how you have done this in the blueprint?

[2021-02-11 16:32] #4677 closed

[2021-02-12 00:45] fullbrightness opened #7102 "modules"
**Node version**:
**Sails version** _(sails)_:
**ORM hook version** _(sails-hook-orm)_:
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & version** _(e.g. skipper-s3@5.55.5)_:
<hr/>

[2021-02-12 00:46] #7102 closed

[2021-02-12 00:46] fullbrightness commented on #7102
Sorry, Not sure how I created this.

[2021-02-12 11:52] vrdeepakprakash commented on #6797
Thank you YassineMd! This **finally** worked!

[2021-02-13 17:44] #6846 closed

[2021-02-17 15:32] eashaw commented on #7099
Hi @bhargavkn, you can access the `columnName` of attributes by calling `[Model].schema.[attribute].columnName`. For your example, the way to access the `columnName` of the `id` attribute would be `User.schema.id.columnName`.

[2021-02-20 02:33] yorchperaza commented on #5581
What is the status of this?

[2021-02-21 03:38] 0xGREG opened #7104 "Sails.io - ECONNREFUSED in client"
**Node version**: v14.15.5
**Sails version** _(sails)_: 1.4.0
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
<hr/>

When I try to connect to my sails server using node.js, it throws ECONNREFUSED error. Details:
[code]

sockets.js:
[code]

client:
[code]

[2021-02-22 20:54] gm0re opened #7105 "AdapterError: Unexpected error from database adapter: column "user" of relation "recordings" does not exist"
**Node version**: v15.5.0
**Sails version** _(sails)_: 1.4.0
**ORM hook version** _(sails-hook-orm)_: 3.0.1
**Grunt hook version** _(sails-hook-grunt)_: 4.0.0
**DB adapter & version** _(e.g. sails-postgresql)_: 2.0.0
<hr/>

This is how Recordings.js (model) looks like:
`
  attributes: {
    filename: { type: 'string', required: true, unique: true },
    filetype: { type: 'string', required: true }

[2021-02-22 23:45] bsoufflet opened #7106 "Waterline - columnName not taken into account for create request"
**Node version**: v10.23.3
**Sails version** _(sails)_: 1.4.0
**ORM hook version** _(sails-hook-orm)_: 3.0.0
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_: Nop
**Grunt hook version** _(sails-hook-grunt)_: 4.0.1
**Uploads hook version** _(sails-hook-uploads)_: Nop
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-postgresql@2.0.0

[2021-02-23 13:49] gm0re commented on #7106
Having the same issue over here: https://github.com/balderdashy/sails/issues/7105 :)

[2021-02-23 14:26] gm0re commented on #7105
Creating an action to handle this works fine too:
[code]

It inserts a new record in the DB as expected taking `user` as `userId`.

[2021-02-23 15:40] gm0re commented on #7106
Take a look at my comment over here: https://github.com/balderdashy/sails/issues/7105#issuecomment-784240108

This will unblock you and it's pretty straightforward.

[2021-02-24 07:52] #7082 closed

[2021-03-03 14:23] eashaw commented on #7104
Hi @0xGREG, is the sails server started?

[2021-03-03 14:26] eashaw commented on #6991
@anudeepchandrat, The try catch that you shared in the code above is already being handled by Sails, have you looked for any connection leaks in the transaction?

[2021-03-03 14:30] eashaw commented on #7067
Hey @jspark-gigworks, you can add a custom http header by editing `res.ok()` https://sailsjs.com/documentation/reference/response-res/res-ok

[2021-03-03 14:50] 0xGREG commented on #7104
@eashaw yes of course, here is a PoC I made to demonstrate the bug: https://www1.zippyshare.com/v/D34hCnKv/file.html

[2021-03-03 15:03] eashaw commented on #7104
Hey @0xGREG, would you mind putting that into a Github repo? Thanks!

[2021-03-03 15:08] eashaw commented on #7104
In case it helps, here is a recent gitter conversation where someone posted their solution. https://gitter.im/balderdashy/sails?at=603e429dd74bbe49e0cb9f57

[2021-03-03 15:32] pineconesundae commented on #6977
@johnabrams7 @jpnarkinsky I, too, have hit this issue today and boy was I glad to see this post to let me know I wasn't going crazy.  An additional observation/workaround I discovered: it is case-sensitive.  So while something like
[code]
will throw the `The operator "undefined" is not permitted` error, changing it to
[code]
will allow it to succeed.  I use the sails-mysql adapter and MySQL querie

[2021-03-03 16:26] 0xGREG commented on #7104
@eashaw it didn't work, but I uploaded the poc to GitHub: https://github.com/0xGREG/sails-ub-poc

[2021-03-04 15:31] anudeepchandrat commented on #6991
@eashaw As mentioned above we have tried increasing the connectionLimit from Sails for now to handle increase in number of clients. Could you please let us know how to check for connection leaks in transactions? It would be great if you can share some snippet for handling transactions that would work for any number of calls rather than increasing the connectionLimit.

[2021-03-08 11:40] geferon opened #7107 "trustProxy doesn't admit values other than numbers or booleans due to isNaN"
**Node version**: 14.15.1
**Sails version** _(sails)_: 1.2.4
<hr/>

Due to the isNaN check in the http index.js file, the trustProxy property doesn't allow any property other than numbers or string, as it returns true whenever you use a non-empty string, function, or array.
https://github.com/balderdashy/sails/blob/04e316ea81b390583144af600bf56078e3c6fda9/lib/hooks/http/index.js#L172

[2021-03-10 16:18] #7072 closed

[2021-03-10 21:46] 0xGREG commented on #7104
Bumping this, it doesn't work still, even tho I looked at Sails code I couldn't find anything.

[2021-03-11 08:29] Salablefuzzball commented on #4703
This is still an issue with slow connections.

[2021-03-12 00:12] fitorec commented on #6403
In my case, run with:
[code]
### mysql column:

[code]

[2021-03-14 20:34] professor-rage commented on #6862
Fascinating.

mongodb v3.6
sails-mongo v1.2
sailsjs v1.4

Mutated inputs from a create(input) and createEach(inputs) include the created record's ID(s), so technically a fetch() on createEach() isn't needed if you are only interested in grabbing the IDs.

I wouldn't recommend as I suspect this undocumented feature or bug, however you perceive it, may magically "go away" in a future release.

[2021-03-15 13:23] parthg-wysa commented on #5614
No replies 😢

[2021-03-18 04:59] eashaw commented on #7105
Hi @gm0re, what database adapter are you using?
You can populate user records by chaining `.populate('user')` to your `.find()`. You can read more about it on the [docs page](https://sailsjs.com/documentation/reference/waterline-orm/queries/populate#-populate-).
Thanks for checking out Sails!

[2021-03-18 05:04] eashaw commented on #7095
Hi @gabalafou, we took a look at this and agree that it's not expected behavior. If anyone has time to make a PR for a better error message, we'd be happy to take a look.

[2021-03-18 13:18] eashaw commented on #7096
Hi @klrkt, You can run the generator by running `sails generate [app-name]". You can read more on our docs page on [sails generate](https://sailsjs.com/documentation/reference/command-line-interface/sails-generate#sails-generate).

@gpkamp @sorsaffari Sails has been updated to use prompt v1.1.0 as of Sails v1.4.2, Thanks for looking into this!

[2021-03-18 13:19] eashaw commented on #7107
Hi @geferon, Would you mind explaining the use case for this? Thanks!

[2021-03-18 13:29] eashaw commented on #7104
Thanks @nahanil!

[2021-03-18 13:49] #7104 closed

[2021-03-18 14:34] #6939 closed

[2021-03-19 00:26] geferon commented on #7107
Supplying an array of IP addresses or a function in the trustProxy property, as per express official guide:
https://expressjs.com/en/guide/behind-proxies.html

[2021-03-19 17:21] klrkt commented on #7096
thank you

On Thu, Mar 18, 2021 at 9:18 AM eashaw ***@***.***> wrote:

[2021-03-23 06:37] bhargavkn commented on #7099
@eashaw That worked, thanks!

Please feel free to close this issue.

PS: Apologies for the late reply here.

[2021-03-24 12:20] eashaw commented on #7088
Hi @Goostavo, Thanks for using Sails. If you're interested in adding multi tenancy, we recommend adding an organization model and building the app around multi tenancy, instead of going the intercept route.

[2021-03-24 12:23] eashaw commented on #7106
Hey @bsoufflet, I was taking a look at this, and I wasn't able to reproduce the issue you're running into. If you create a repo with a fresh Sails app that reproduces this, I'd be happy to look at it. Thanks!

[2021-03-24 12:28] eashaw commented on #6991
Hey @anudeepchandrat, We suggest looking anywhere where you use `.transaction()` and making sure `.usingConnection(db)` chained on.

[2021-03-25 08:49] akira28 commented on #4592
Is there a way to have camelCase filenames for helpers? They are the only files in kebab-case in our entire code base, and for consistency reasons it would be better to have them in camelCase.
Thanks

[2021-03-25 18:00] anudeepchandrat commented on #6991
@eashaw Thank you for the suggestions. We were able to resolve the issue following the references and approached mentioned at https://dev.paygoenergy.co/blog/2019-06-20-sailsjs-transactions-and-exits/ (Rule: never reference exits from within transaction).

[2021-03-27 08:22] jdsapariya18 commented on #4632
How? can you provide the solution?

[2021-03-29 14:48] luislobo commented on #7014
I found it documented here:
https://sailsjs.com/documentation/tutorials/using-mongo-db
https://sailsjs.com/documentation/reference/waterline-orm/queries/meta

[2021-03-30 15:58] JohnGrisham opened #7110 "Add type definitions"
This is just an issue to track interest in type definitions for the framework.

If there is enough interest I will consider working on adding definitions as I have time. With the consent of the maintainers, this can be directly in the repo or if a separation is more desirable they can just be added to the Definitely Typed library.

https://github.com/DefinitelyTyped/DefinitelyTyped

Please let me

[2021-03-30 17:08] natebeaty commented on #4204
If someone happens to land on this and it *isn't* their password causing issues (I have root:root locally, and I'm on M1 Macbook with Mysql 8 via homebrew), the fix for me ended up being `ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'; flush privileges;`. I was getting a `ER_NOT_SUPPORTED_AUTH_MODE` error, but otherwise similar error dump as the original post.

[2021-04-02 09:51] TheAdamGalloway commented on #4629
This bug still exists. I'm using the mysql adapter.

[2021-04-03 20:44] mikermcneil commented on #5614
If you'd like to take advantage of upsert, consider adding an `updateOrCreate` model method in one of your models (would be a great snippet to share here for others to use)

Could either use `if (! await Foo.updateOne(…)) { await Foo.create(…); }` (works on any database).  Or a native query if you want to leverage native upsert (but that makes the solution db-specific)

[2021-04-06 15:35] mactyr opened #7111 "Recommended use of sails-mongo with current MongoDB?"
**Node version**: 14.16.0
**Sails version** _(sails)_: 1.4.2
**ORM hook version** _(sails-hook-orm)_: 3.0.2
**Sockets hook version** _(sails-hook-sockets)_: N/A
**Organics hook version** _(sails-hook-organics)_: N/A
**Grunt hook version** _(sails-hook-grunt)_: N/A
**Uploads hook version** _(sails-hook-uploads)_: N/A
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-mongo@1.2.0
**Skipper

[2021-04-07 06:37] nicolascalev opened #7112 "Parasails custom error handling"
**Node version**: v14.15.1
**Sails version** : 1.4.0
**Parasails**: v0.9.2
**ORM hook version** : 2.1.1
**Sockets hook version** : 2.0.0
**Grunt hook version**: 4.0.0
**DB adapter & version**: 1.0.1
**Vuelidate**: v0.7.6
<hr/>

### Description
Hello!

I integrated vuelidate for client form validations with Sails, it works perfeclty with the validations that the plugin comes with out of the box, bu

[2021-04-08 23:31] lfelipeqn commented on #7111
Hopefully this can be solved soon. Looking forward to upgrade Mongo to 4.4 version

[2021-04-12 17:08] dpnick commented on #4343
@CyBot thank you so much ! That's should be documented !

[2021-04-20 22:10] sivo1981 opened #7113 "[Feature Request] Run hooks with Model instance as this"
Add option to call hooks   `'beforeUpdate',    'afterUpdate',    'beforeCreate',    'afterCreate',    'beforeDestroy',    'afterDestroy',` with Model instance and make this point to model instead of a global scope.

This allows to implement common logic in single place (e.g. config/models.js in Sails).

[2021-04-24 22:59] jlimas opened #7114 "Enabled Flag "sails.config.orm.skipProductionWarnings" warning still appearing"
**Node version**: v10.22.1
**Sails version** _(sails)_: 1.4.2
**ORM hook version** _(sails-hook-orm)_: 3.0.2
**Sockets hook version** _(sails-hook-sockets)_: n/a
**Organics hook version** _(sails-hook-organics)_: n/a
**Grunt hook version** _(sails-hook-grunt)_: 4.0.0
**Uploads hook version** _(sails-hook-uploads)_: n/a
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-disk
**Skipper adap

[2021-04-26 19:12] dacampos1 commented on #4382
Hi @sorgho-daouda,

Could you please give more details about how you configured the file. I am experiencing the same problem.

[2021-04-28 14:20] mikermcneil commented on #7110
@JohnGrisham If you think you'll have the bandwidth to look after the bindings, then it'd be great to have support for Sails added externally in the DefinitivelyTyped repo.  I don't use TypeScript myself for now, but since the bindings can live externally to the Sails repo, and there will be an active user of TypeScript maintaining them, I think this sounds awesome!

[2021-04-28 14:25] JohnGrisham commented on #7110
Thanks for the feedback! I was hoping to also get some feedback from the community but I haven't seen much of a desire to use Typescript with Sails. I may circle back to this when I have time or if interest does arise. I just ask that this issue be left up if nothing else but to track interest.

[2021-04-28 16:19] 0xGREG opened #7115 "Node v16 dependency deprecation warning"
**Node version**: 16.0.0
**Sails version** _(sails)_: 1.4.2
<hr/>

[code]

One of the dependencies throws a warning on latest node

[2021-04-29 20:23] TheAdamGalloway commented on #7110
+1 for adding TypeScript definitions. I'm new to TS myself but enjoy the stability it provides to my code. I can't promise anything but I will try to contribute to any efforts you make @JohnGrisham. This could be an alright starting point (but think it predates v1.0): https://github.com/effervescentia/typed-sails

[2021-04-29 23:56] ChenglongMa commented on #7082
Hi @eashaw , I was wondering if there is a standard way in sails to return the error message to the frontend link `X-Exit-Description`.
Thanks!

[2021-04-30 18:27] mortbauer commented on #6888
one year later still open?

[2021-05-06 22:48] DominusKelvin opened #7116 "Waterline unique attribute not being honoured in staging or production enviroment"
**Node version**: v12.22.1
**Sails version** _(sails)_: ^1.4.2
**ORM hook version** _(sails-hook-orm)_: ^3.0.2
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-mongo@^1.2.0
<hr/>

So basically if you set say an `email` attribute in your model definition for a Mongo database to have the `unique` attribute, thought it will be honoured during development this is not the case in `staging` o

[2021-05-07 05:17] eashaw commented on #7114
Hi @jlimas, would you mind sharing an example of how you're configuring `sails.config.orm.skipProductionWarnings`?

You can check the value to make sure it is being set by lifting with `sails console` entering `sails.config.orm.skipProductionWarnings` in the Sails REPL.

[2021-05-07 05:33] eashaw commented on #7112
Hi @nicolascalev, you can manually remove the error message overlay from parasails if you don't want them showing up in development and staging (they won't show up in production).

In the example you shared we didn't see any unhandled promise rejections other than `_.throttle()`, what happens if you remove `_.throttle()`?
Throwing a string in the front end might lead to some issues with your stack

[2021-05-07 13:23] eashaw commented on #4629
Hi @TheAdamGalloway, `enableExperimentalDeepTargets` is not supported in sails-mysql.

[2021-05-07 14:22] eashaw commented on #7107
@geferon, where are you planning to deploy?

[2021-05-07 22:50] alwaysAn0n commented on #4382
No problem @sorgho-daouda .  Thanks for commenting on this thread so that I could fondly remember the year 2018.  Apparently back then I used the phrase "one wretched bitch".  I gotta start saying that again.

[2021-05-08 11:30] TheAdamGalloway commented on #4629
@eashaw It feels like this should be made more clear, as I have been getting the error mentioned while using the mysql adapter.

[2021-05-08 12:17] 0xGREG commented on #7116
@eashaw https://www.npmjs.com/package/sails-hook-mongo-createindex

[2021-05-08 12:20] DominusKelvin commented on #7116
@eashaw perhaps lifting sails in production or staging env and then creating a record with same value for an attribute set to be unique could help you reproduce

[2021-05-10 23:21] geferon commented on #7107
A linux host which is behind a reverse proxy with multiple domains and websites, thing is, I have another app running which sometimes redirects the requests to sails and behaves the same way as a reverse proxy does, which is why I need to use the trustProxy property as an array, to specify multiple trusted hosts, instead of a wildcard or such.

[2021-05-11 15:41] mactyr commented on #7111
I notice that sails-mongo 2.0.0 was tagged and released to npm on Apr 29, so that answers my first question above, but it would still be helpful to understand the status/roadmap for sails-mongo: are there plans to support MongoDB 4.4? In general, is there appetite on the team to continue to support sails-mongo as a core adapter?

[2021-05-11 18:13] mactyr opened #7117 "Sails incompatible with recent, secure connect-mongo"
**Node version**:
**Sails version** _(sails)_: 1.4.2
**ORM hook version** _(sails-hook-orm)_: 3.0.2
**Sockets hook version** _(sails-hook-sockets)_: N/A
**Organics hook version** _(sails-hook-organics)_: N/A
**Grunt hook version** _(sails-hook-grunt)_: N/A
**Uploads hook version** _(sails-hook-uploads)_: N/A
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-mongo 2.0.0
**Skipper adapter

[2021-05-13 04:38] prudhvichitturi opened #7118 "Is there a way to reload the datastore db config after the sails lifted?"
**Node version**: v14.15.4
**Sails version** _(sails)_: v1.2.4
**ORM hook version** _(sails-hook-orm)_: v2.1.1
**Sockets hook version** _(sails-hook-sockets)_: v2.0.0
**Organics hook version** _(sails-hook-organics)_: -
**Grunt hook version** _(sails-hook-grunt)_: v4.0.0
**Uploads hook version** _(sails-hook-uploads)_: -
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-postgresql@2.0.0

[2021-05-13 17:56] eashaw commented on #7115
Hi @0xGREG, `mpbasic` is not a dependency of Sails or any of our dependencies.

[2021-05-13 19:35] eashaw commented on #4606
Hi @mortbauer, we leave it to the author to close the issue.

[2021-05-13 19:45] eashaw commented on #4632
Hi @jdsapariya18, I believe the comment you're replying to was the author providing their OS information.

You can handle this using an action, or if you have time, you can create the indexes manually.

[2021-05-14 13:31] eashaw commented on #4592
Hi @akira28, there is currently no way to use camelCase filenames for helpers.

[2021-05-15 03:47] #7114 closed

[2021-05-15 22:36] hartatovich opened #7119 "How to subscribe to user events (socket events) without using virtual get (for testing purposes) in sails.js"
**Node version**: 12.19.1
**Sails version** _(sails)_: 1.4.0
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_: 0.16.1
**Grunt hook version** _(sails-hook-grunt)_: 4.0.1

<hr/>
I'm trying to implementing some tests for my socket and I can't find a way to subscribe to User events without using sail

[2021-05-15 22:51] vettloffah opened #7120 "Chaining action 2 format actions"
I cannot get multiple actions to fire from one API call in the actions2 format.

This is what I'm trying to do:

'// config/routes.js

'POST /api/v1/slack/slash': [
      { action: 'slack/slash/action1', csrf: false },
      { action: 'slack/slash/action2', csrf: false }
    ],'

This is giving me a 404

Anyone know how to accomplish this?

[2021-05-16 17:29] justinforlenza commented on #7004
I tried the solution brought up by @mikermcneil, Doesn't seam to be working.

At least what I can decode from the error logs seems like it is still attempting to connect via localhost instead of the socket.

Seems like still waiting on a fix for #6888 and #6880 ....

![Screenshot 2021-05-16 132023](https://user-images.githubusercontent.com/11709872/118406441-2173bb80-b64a-11eb-8300-8aba9fb5110d.pn

[2021-05-19 10:27] Akshay2402 commented on #4578
@raqem, Does this mean for the later versions `sails.controllers` will not be accessible?

[2021-05-20 10:54] coindroid42 commented on #6839
+1

[2021-05-22 21:41] akhor93 commented on #4508
For me, I upgraded to Sails 1.4 and got the above error. Eventually, I discovered that I had the "sails-hook-validation" package installed. Worked after uninstalling "sails-hook-validation"

[2021-05-23 06:32] neilmfrench opened #7121 "RESTful blueprint create action returns "Could not find record after creating!""
``**Node version**: v14.15.1
**Sails version** _(sails)_: 1.4.2
**ORM hook version** _(sails-hook-orm)_: 3.0.2
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_: N/A
**Grunt hook version** _(sails-hook-grunt)_: 1.0.4
**Uploads hook version** _(sails-hook-uploads)_: N/A
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-postgresql@2.0.

[2021-05-23 22:37] neilmfrench commented on #7121
Reinstalled the driver and this started working - no idea why.

[2021-05-23 22:37] #7121 closed

[2021-05-25 12:19] eashaw commented on #7111
Hi @mactyr  and @lfelipeqn, as of sails-mongo v2.0.0 mongodb databases up to 4.2 are fully supported. We do not have any updates about mongodb 4.4 support to share right now, but we would be happy to look at a PR if anyone is willing and has the time.

[2021-05-25 12:35] ImTheDeveloper commented on #5262
Agree the log warnings are so damn annoying

[2021-05-25 12:38] Salablefuzzball commented on #5262
You can set skipRecordVerification to false in query.meta

Took a while to find..

[2021-05-26 21:21] mrtnzagustin commented on #7110
+1 for this, i moved to express with typeORM + joi for some clients projects and this would be an awesome upgrade for the community to make sails more pluggable

[2021-05-26 21:26] mrtnzagustin commented on #7110
Some types i used https://gist.github.com/joeherold/cf10ee8a11e145519a7ff960b3ac96a7, credits to @joeherold

[2021-05-28 02:36] bhargavkn commented on #7095
@eashaw If it's alright, may I attempt a PR for this? Would perhaps need some help, but would love to contribute.

[2021-05-29 22:28] crhoover-maxar commented on #7120
This seems like a completely wrong usage of the framework to me.  A single POST should differentiate the incoming data and "do the needful" base on the input within a controller.  Don't explain in the `code` what you are trying to do, what are you trying to actulally accomplish?

[2021-05-29 23:27] vettloffah commented on #7120
The actual use case is responding to a Slack slash command.

When a post request comes into this endpoint it needs to send a 200
response to let the client know it was received.

Then, it needs to communicate with a couple of other APIs and a database,
then eventually send back some json data to the client from the original
request.

If a 200 response isn’t sent within a certain time frame Slack s

[2021-05-30 13:37] crhoover-maxar commented on #7120
It sounds like the controller for the main action should send the 200 after it calls the service from within the controller instead of by route.  What does `slack/slash/action2` do ?

[2021-05-31 17:52] eashaw commented on #6866
Hi @svenemtell I was looking at the [Heroku Redis docs](https://devcenter.heroku.com/articles/heroku-redis#connecting-in-node-js), and Heroku Redis requires you to add `tls: { rejectUnauthorized: false }`.

Are you able to connect if you use `tls: { rejectUnauthorized: false }`?

[2021-06-01 13:01] eashaw commented on #6977
I was able to reproduce this on the latest version on `sails-postgres`

[2021-06-01 13:45] DominusKelvin opened #7122 "Missing Docs for JSON Websocket Request/Response"
**Node version**: N/A
**Sails version** _(sails)_: N/A
**ORM hook version** _(sails-hook-orm)_: N/A
**Sockets hook version** _(sails-hook-sockets)_: N/A
**Organics hook version** _(sails-hook-organics)_: N/A
**Grunt hook version** _(sails-hook-grunt)_: N/A
**Uploads hook version** _(sails-hook-uploads)_: N/A
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: N/A
**Skipper adapter & version** _(

[2021-06-01 15:56] svenemtell commented on #6866
Thanks @eashaw!

I'm a little confused since I'm sure I've read about it in the heroku redis docs and tested it last time...
...but when I tested it again right now it works!

These are my settings (sails.config) if it can help somebody else:

[code]

[code]

**What would be really great is to have Sails support the 'rediss' scheme in 'session.url' and 'sockets.url' so that an url on the form `red

[2021-06-01 22:20] jorgevrgs opened #7123 "Fail to search with id criteria in sails-mongo"
**Node version**: 12/14
**Sails version** _(sails)_: 1.4.3
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_: 1.1.0
**Grunt hook version** _(sails-hook-grunt)_: 4.0.1
**Uploads hook version** _(sails-hook-uploads)_: 0.4.3
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-mongo 1.2.0
**Sk

[2021-06-02 17:21] eashaw commented on #7123
Hi @jorgevrgs, I wasn't able to reproduce this issue you're seeing on `sails-mongo v1.2.0` or `sails-mongo v2.0.0`. Would you be able to provide some more information so I can look into this more?
What version of MongoDB are you using?
Do you get an error when running `Model.find({id: 'xxxyyyzzz' }).limit(24)`?
If you don't mind me asking, why put a limit if you're querying a unique value like `id

[2021-06-02 17:25] jorgevrgs commented on #7123
No. The error is when I use `Model.find({where: {id}, filter:24})`. It came from an autocomplete component to get the default value with the same searching service.

[2021-06-03 00:09] caylab opened #7124 "Insufficient documentation regarding sockets"
Since I don't know where else to put it, I figured creating an issue might be "least wrong" way.

There are quite some places which I, as a Sails beginner, did not understand and which seem to be nowhere documented. The list below are a few of these things. If I encounter more, I will update it.

undocumented features in [routes.js](https://sailsjs.com/documentation/concepts/routes):
`{ action: '.

[2021-06-04 08:59] prudhvichitturi commented on #7118
@rachaelshaw @mikermcneil - Could you please help me here, if possible?

[2021-06-08 13:04] eashaw commented on #7120
Hi @vettloffah, you can only have one action per route. We recommend using helpers to accomplish what you're trying to do https://sailsjs.com/documentation/concepts/helpers#helpers

[2021-06-08 13:43] eashaw commented on #7095
Of course @bhargavkn! We'd be happy to take a look at your PR.

[2021-06-09 15:26] soumya-1099 commented on #6943
This may occur sometimes due to server issue. Try checking or restart mongo connection.

[2021-06-09 16:00] repantoja opened #7125 "sails-mongo"
**Node version**: 14.20
**Sails version** _(sails)_: 1.2.3
**ORM hook version** _(sails-hook-orm)_: 2.1.11
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:sails-mongo@1.2.0
<hr/>
Unable to configure sails-mongo to use certs when ssl is enable
in my project I have two type of certs one for ssl and another that i need to connect to mongo
I

[2021-06-10 09:29] jiesia opened #7126 "Do you have the intention to translate the document into Chinese?"
**Node version**:
**Sails version** _(sails)_:
**ORM hook version** _(sails-hook-orm)_:
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & version** _(e.g. skipper-s3@5.55.5)_:
<hr/>

[2021-06-11 06:40] #6943 closed

[2021-06-11 18:11] eashaw commented on #7124
Hi @caylab, `hasSocketFeatures` is used by the `rebuild-cloud-sdk` script in the Sails web app template.

[2021-06-11 18:13] eashaw commented on #7123
hi @jorgevrgs, would you be able to create a minimal sails app in a repo that reproduces the issue you're seeing?

[2021-06-11 18:16] eashaw commented on #7118
Hi @prudhvichitturi, Sails does not support changing the db config while the server is running.

[2021-06-12 14:02] #7115 closed

[2021-06-14 03:50] jorgevrgs commented on #7123
You're right. I'm unable to reproduce in a clean installation. I'll try to check if any other issue with my defined settings is generating that. While it happens I'll close the bug report. Thanks.

[2021-06-14 03:50] #7123 closed

[2021-06-14 14:03] urvashiurvi opened #7127 "ReferenceError: Users "Models" is not defined after upgrading from 0.12 to 1.4.3"
**Node version**: 10
**Sails version** _(sails)_: "^1.1.0"
**ORM hook version** _(sails-hook-orm)_: sails-hook-orm@2.1.1
**Sockets hook version** _(sails-hook-sockets)_: sails-hook-sockets@1.5.5
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_: sails-hook-grunt@3.1.1
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails

[2021-06-14 15:37] eashaw commented on #7127
Hi @urvashiurvi, I see that you're using `Users.find()` but your model seems to be called `User`. Does the query run if you use `User.find()`?

[2021-06-15 11:21] kobymolcho opened #7128 "Exposing credentials on error"
On console when receiving an error (connection failure and such), the adapter sails-mysql print out the user + password and all the connection information such as database, host and port

[2021-06-18 13:22] alambertt commented on #6797
I worked for me to. You can close this issue

[2021-06-18 15:07] shreyas-mallya opened #7131 "Issues with importing Vuelidate Library"
**Node version**: v14.17.0
**Sails version** _(sails)_: 1.3.1
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_: 2.2.0
**Grunt hook version** _(sails-hook-grunt)_: 4.0.1
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-mysql@1.0.1
<hr/>

I want to use Vuelidate for Field Validation for

[2021-06-25 08:33] JainiRShah commented on #4623
Does this work?

[2021-06-25 16:59] alxndrsn commented on #7128
Here's a similar bug for the postgres adapter: https://github.com/balderdashy/sails/issues/4595

Fix may be similar also.

[2021-06-25 17:22] andreiwow2 opened #7132 "Request aborted on image upload over 1MB"
**Node version**: v15.11.0
**Sails version** _(sails)_: 1.4.0
**ORM hook version** _(sails-hook-orm)_: 3.0.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_: none
**Grunt hook version** _(sails-hook-grunt)_: 4.0.1
**Uploads hook version** _(sails-hook-uploads)_: none
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: 1.0.1
**Skipper adapt

[2021-06-25 17:23] andreiwow2 commented on #7132
I've been struggling for days, I've searched a lot on internet and I've read a lot of posts, nothing helps with my issue and I have no idea why it is happening.

[2021-06-28 00:56] vettloffah commented on #7120
The service takes too long to wait until after to send the 200 response.

This seems to be the best solution.

Thank you

[2021-06-28 00:56] #7120 closed

[2021-06-28 01:06] vettloffah opened #7133 "How to decrypt Sails data values in non sails app"
**Sails version** _(sails)_:  1.0

I have a Sails app storing data in a mongodb database, and I need to share the data with a non-sails nodejs app.

Some of the values are encrypted using the Sails `secret: true` attribute.

Since I have the encryption keys, I should be able to decrypt it but I'm having trouble finding any details about how the data is actually encrypted / what method.

Fairly sur

[2021-06-28 05:33] alxndrsn commented on #7068
Related: https://github.com/brianc/node-postgres/issues/2561

[2021-06-29 02:49] ksaitor commented on #7110
@mrtnzagustin  did `declare var sails: Sails.GlobalSailsApplication` work for you? I'm trying to reuse the same type definitions and declaring `sails` globally doesn't seem to work. VSCode picks up the definitions, but Sails itself throws an error during runtime, right after start.

[2021-06-29 12:37] eashaw commented on #7125
Hi @repantoja, could you give us a little more information about what you're trying to accomplish? Have you tried passing in your ssl certificate using [the supported MongoDB connection options?](https://mongodb.github.io/node-mongodb-native/3.5/api/MongoClient.html#.connect)

[2021-06-29 12:40] eashaw commented on #7126
Hi @jiesia, thank you for the offer, you can read more about contributing to the Sails docs [here.](https://github.com/balderdashy/sails/tree/d4928254d9bf77fe0d6104cf57f1c56852ce1962/docs#how-can-i-help-translate-the-documentation)

[2021-06-29 12:41] eashaw commented on #7128
Hi @kobymolcho, Are you seeing this error message after lifting the server, and has this been an issue for your team?

[2021-06-29 12:53] eashaw commented on #7131
Hi @shreyas-mallya, The best way for you to add Vuelidate would be downloading and adding `vuelidate.min.js` to `assets/dependencies` and using it with the Vuelidate global

[2021-06-29 13:38] eashaw commented on #4623
@JainiRShah No, MongoDB doesn't use `columnType`.

[2021-06-30 08:21] AlanNggg opened #7136 "Chain .where() to .find() cannot further filter my results"
**Node version**:
**Sails version** _(sails)_:
**ORM hook version** _(sails-hook-orm)_:
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & version** _(e.g. skipper-s3@5.55.5)_:
<hr/>

[2021-07-01 07:38] shreyas-mallya commented on #7131
Tried it out, worked like a charm...

[2021-07-02 15:41] SiyaLab opened #7137 "SailsJs ^1.4.2 does not seem to work well with ParasailsJs."
Hi, first post on here :)

Great framework.

Node : v16.4.0
"dependencies": {
    "sails": "^1.4.2",
    "sails-hook-apianalytics": "^2.0.3",
    "sails-hook-organics": "^2.0.0",
    "sails-hook-orm": "^3.0.2",
    "sails-hook-sockets": "^2.0.0",
    "@sailshq/connect-redis": "^3.2.1",
    "@sailshq/socket.io-redis": "^5.2.0",
    "@sailshq/lodash": "^3.10.3"
  },
  "devDependencies": {
    "eslin

[2021-07-02 18:19] SiyaLab commented on #7137
I seem to be closer to spotting the exact issue.

The site successfully shows on Chrome when I run "sails lift --prod". Previously I tested using Brave and Safari.

Anyone facing the same issues? Any workarounds?

[2021-07-02 20:00] SiyaLab commented on #7137
I have further tested "sails": "^1.2.3", on Chrome, Safari, Brave and all browsers show the same results when I run sails lift --prod

And just like the latest version when I manually remove v-cloak all the content is jumbled up as if there is a missing css stylesheet. When I inspect the css production.min file I see all the relevant code is included.

Is there a step that I am missing that prepar

[2021-07-05 09:12] kobymolcho commented on #7128
Hi, @eashaw we see the error both when we are lifting a new server (might be scaling up the replicas), and when the sql have a problem (like connection exhaustion).
In both cases, we see the full connection info dumped to the log.

An easy solution that i can recommend, is just adding a flag "hideSecrets", which can be by default 'false', and on production systems, users can enable it. This way it

[2021-07-05 09:55] DominusKelvin commented on #2640
Hey! I ran into the same issue from a Flutter/Dart codebase. The passing of the version number in the query string works perfectly as I am using the `sails_io` dart package. Thanks Mike

[2021-07-05 19:17] mike-usa opened #7138 "New project display message converts periods to dashes"
**Node version**: 14.16.1
**Sails version** _(sails)_: 1.4.3
**ORM hook version** _(sails-hook-orm)_:
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & version** _(e.g. skipper-s3@5.

[2021-07-06 01:01] dimascrocco commented on #6810
Hi sailors, any workaround besides downgrading connect-mongo???
This is still broken :B
Save the oceans plz

[2021-07-06 02:59] luisarganaraz commented on #4629
Hi! is there any update about shit bug?
I need to sort a collection by one attribute from the associated model.
I can't figure out this in other way.
Thanks in advance

[2021-07-06 03:04] luisarganaraz commented on #4629
Hi! is there any update about this bug?
I need to sort a collection by one attribute from the associated model and I get the same error.
I would be great to have this working. I can´t figure it out in other way.

[2021-07-06 20:58] eashaw commented on #7133
Hi @vettloffah, You can take a look at where the values are decrypted in waterline [here](https://github.com/balderdashy/waterline/blob/d14b72746c6331579037527198c10b8b1434cee6/lib/waterline/utils/query/process-all-records.js#L577).

[2021-07-06 20:59] eashaw commented on #7132
@andreiwow2 I'll try to reproduce this issue

[2021-07-06 21:10] andreiwow2 commented on #7132
I am sorry, I forgot about this issue.

the problem was because I had the return outside the upload function which refreshed the browser page before the file uploaded which ended with an abort.

[2021-07-07 12:43] eashaw commented on #7117
Thanks you for the heads up @mactyr, we removed connect-mongo from the docs. We'd be happy to take a look at a PR to support more recent versions.

[2021-07-07 13:28] eashaw commented on #7136
Hi @AlanNggg, when you provide criteria in a `where()` it takes precedence over the criteria in the `find()`. You can provide a where clause in the `find()` by passing it in a dictionary e.g. `SupplierShowcase.find({ supplierId: "f91750ab-11b5-425d-89fa-5a4ad4a23eb9", where: {createdAt: { ">": 1624599504485 } }})` or you can provide all the criteria in the `where()` clause.
We'll update the docs t

[2021-07-08 10:17] JainiRShah commented on #4871
how to get metaData?

[2021-07-09 02:53] mactyr commented on #7117
Thanks @eashaw. Coincidentally, we are looking into setting up Redis for other reasons, so I will look into migrating our session store there rather than trying to maintain connect-mongo compatibility.

[2021-07-09 10:42] jayeshagarwal commented on #4711
I'm also facing the same issue on localhost and I'm using skipper 0.8.7 when I set `maxTimeToBuffer: 500000` in sails.config.http

[2021-07-10 06:31] shailesh-kanzariya opened #7140 "Sailsjs gives DeprecationWarnings for timers.* (i.e. timers.enroll, timers.unenroll) APIs"
**Node version**:
v12.19.0
**Sails version** _(sails)_:
1.4.0
**ORM hook version** _(sails-hook-orm)_:
3.0.1
**Sockets hook version** _(sails-hook-sockets)_:
2.0.0
**Organics hook version** _(sails-hook-organics)_:
Not Using
**Grunt hook version** _(sails-hook-grunt)_:
4.0.1
**Uploads hook version** _(sails-hook-uploads)_:
Not Using
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
1.0.1
**Ski

[2021-07-10 06:36] shailesh-kanzariya commented on #7140
There is already one PR raised https://github.com/sailshq/machinepack-mysql/pull/16 related to this issue.
Please review.

[2021-07-11 01:46] shreyas-mallya opened #7141 "Integrating Vuex in Parasails"
**Node version**: v14.17.0
**Sails version** _(sails)_: 1.3.1
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_: 2.2.0
**Grunt hook version** _(sails-hook-grunt)_: 4.0.1
**Uploads hook version** _(sails-hook-uploads)_: N/A
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-mysql@1.0.1
**S

[2021-07-12 11:49] sercanov opened #7142 "Models cant find some ObjectID's ( Starting with 6 )"
**Node version**:  10
**Sails version** _(sails)_:  1.2.4
**ORM hook version** _(sails-hook-orm)_: 3.0.1
**Sockets hook version** _(sails-hook-sockets)_:  -
**Organics hook version** _(sails-hook-organics)_:  -
**Grunt hook version** _(sails-hook-grunt)_:  -
**Uploads hook version** _(sails-hook-uploads)_:  -
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:  sails-mongo@2.0.0
**Skipper adapte

[2021-07-12 20:29] eashaw commented on #7137
Hi @SiyaLab, We do not recommend using an older version of Sails.
Would you mind sharing your browser's console output on one of the pages you're seeing this on? If you create a minimal sails app in a github repo that reproduces this issue, We'd be happy to take a look.

[2021-07-12 20:38] eashaw commented on #4629
Hi @luisarganaraz, this feature is experimental and we recommend using [`sendNativeQuery()`](https://sailsjs.com/documentation/reference/waterline-orm/datastores/send-native-query#-sendnativequery-) instead.

[2021-07-12 20:40] eashaw commented on #7128
Hi @kobymolcho that sounds like a good solution, and we'd be happy to take a look at a PR for this. Have you looked into seeing where in the adapter code the credentials are being logged?

[2021-07-13 14:31] coaperator opened #7143 "TypeError: model.native is not a function"
**Node version**: 12
**Sails version** _(sails)_: -
**ORM hook version** _(sails-hook-orm)_: -
**Sockets hook version** _(sails-hook-sockets)_: -
**Organics hook version** _(sails-hook-organics)_: -
**Grunt hook version** _(sails-hook-grunt)_: -
**Uploads hook version** _(sails-hook-uploads)_: -
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: last
**Skipper adapter & version** _(e.g. skipper

[2021-07-13 16:32] eashaw commented on #7142
Hi @sercanov, thanks for reporting this. I wasn't able to reproduce this on a MongoDB Atlas cluster using MongoDB 4.4.6.

Are you able to query the records with IDs starting with 6 by other criteria?

If you can create a minimal sails app in a github repo that reproduce the issue you're seeing, we'd be happy to take another look.

[2021-07-13 19:08] eashaw commented on #7143
Hi @coaperator, would you mind sharing an example of how you're trying to call the native method in your code?

[2021-07-13 21:25] coaperator commented on #7143
I made middleware, a model instance is passed to it
[code]

[2021-07-14 04:48] HiroyukiNIshimura opened #7144 "Invalid sails.config.hookTimeout setting"
**Node version**: v14.16.1
**Sails version** _(sails)_: 1.4.3
**ORM hook version** _(sails-hook-orm)_: 3.0.2
**Sockets hook version** _(sails-hook-sockets)_: 2.0.1
**Organics hook version** _(sails-hook-organics)_: 2.2.0
**Grunt hook version** _(sails-hook-grunt)_: 4.0.1
**Uploads hook version** _(sails-hook-uploads)_: 0.4.3
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-postgresql@2.

[2021-07-14 04:53] HiroyukiNIshimura opened #7145 "npm Warning uuid@3.0.1"
**Node version**: v14.16.1
**Sails version** _(sails)_: 1.4.3
<hr/>

[code]

[2021-07-15 02:33] shreyas-mallya commented on #7141
Any developments on this issue?

[2021-07-18 07:39] SiyaLab commented on #7137
Hi @eashaw , thank you for your response.

Please see screenshots below.

As mentioned above, even with the default template app that is generated I run into the same problem.

<img width="1085" alt="Screenshot 2021-07-18 at 09 37 20" src="https://user-images.githubusercontent.com/20535990/126059609-77f2787c-0a77-4c8b-96df-68fa5b914f66.png">

<img width="1438" alt="Screenshot 2021-07-18 at 09 36 1

[2021-07-18 07:46] #7137 closed

[2021-07-18 10:08] bhargavkn commented on #7095
@eashaw may I please have a review on the above PR? 🙇
https://github.com/balderdashy/sails-postgresql/pull/290

[2021-07-19 18:53] RcrsvRyan opened #7149 "Sails-Redis Adapter - More direction/information around upgrading"
**Node version**: In process of upgrading to 14, but seeing it on 6-12.
**Sails version** _(sails)_: In process of upgrading from Sails 0.12 to Sails 1.x
**ORM hook version** _(sails-hook-orm)_: In process of upgrading from Sails 0.12 to Sails 1.x
**Sockets hook version** _(sails-hook-sockets)_: In process of upgrading from Sails 0.12 to Sails 1.x
**Organics hook version** _(sails-hook-organics)_:

[2021-07-19 19:40] eashaw commented on #7004
Hi @justinforlenza, have you tried using the workaround posted in #6888?

[2021-07-19 20:12] eashaw commented on #6977
A workaround for this issue is wrapping the criteria in an array (e.g. `Address.find({city: 'Portland' , state: ['OR']})` will return the expected results.)

[2021-07-20 12:55] eashaw commented on #4711
Hi @jayeshagarwal, would you be able to make a minimal Sails app that reproduces this issue in a Github repo?

[2021-07-20 23:39] Revadike opened #7150 "Implement i18n localization in boilerplate"
Sails.js can generate a great boilerplate already. Though, I saw it has support for i18n by default, I was disappointed to learn that the text in the boilerplate views are not using i18n. It would be nice, if the generated boilerplate implements i18n localization by default.

[2021-07-22 10:26] Mitch-i opened #7152 "How to use unsigned data type"
**Node version**:
**Sails version** _(sails)_:
**ORM hook version** _(sails-hook-orm)_:
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & version** _(e.g. skipper-s3@5.55.5)_:
<hr/>

[2021-07-22 10:30] Mitch-i opened #7153 "DefaultsTo not have effect on table structure (It work only in js? If so how to make normal behavior)"
**Node version**:
**Sails version** _(sails)_:
**ORM hook version** _(sails-hook-orm)_:
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & version** _(e.g. skipper-s3@5.55.5)_:
<hr/>

[2021-07-22 13:02] Mitch-i opened #7154 "When add Associations the foreign keys are not created"
**Node version**:
**Sails version** _(sails)_:
**ORM hook version** _(sails-hook-orm)_:
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & version** _(e.g. skipper-s3@5.55.5)_:
<hr/>

[2021-07-22 13:25] Mitch-i opened #7155 "WTF no Foreign key at SQL level? You are crazy?"
**Node version**:
**Sails version** _(sails)_:
**ORM hook version** _(sails-hook-orm)_:
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & version** _(e.g. skipper-s3@5.55.5)_:
<hr/>

[2021-07-22 13:50] Mitch-i opened #7156 "How to ad id index if The `primaryKey` property can no longer be specified on an attribute in Sails 1.0."
**Node version**:
**Sails version** _(sails)_:
**ORM hook version** _(sails-hook-orm)_:
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & version** _(e.g. skipper-s3@5.55.5)_:
<hr/>

[2021-07-22 13:53] Mitch-i commented on #7156
Or is not need

primary key is automatically indexed in MySQL because primary key, index, etc gets stored into B-trees. All engines including InnoDB as well as MyISAM automatically supports the primary key to be indexed.

[2021-07-24 20:24] SETTER2000 opened #7157 "TypeError: res.getHeaders is not a function"
**Node version**: v16.5.0
**Sails version** _(sails)_: 1.4.3
**ORM hook version** _(sails-hook-orm)_: 3.0.2
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_: 2.0.0
**Grunt hook version** _(sails-hook-grunt)_: 4.0.0
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & versio

[2021-07-26 19:50] MarcosAtApprentice commented on #4613
If `unique` is supposed to go into `autoMigrations` why is it still documented as a root level property? https://sailsjs.com/documentation/concepts/models-and-orm/attributes#?unique

I'm getting the same issue.

[2021-07-26 19:59] MarcosAtApprentice commented on #4613
If unique is supposed to go into autoMigrations why is it still documented as a root level property? https://sailsjs.com/documentation/concepts/models-and-orm/attributes#?unique

I'm getting the same issue.

[2021-07-27 01:16] shreyas-mallya commented on #7141
Is it not possible to do the above?

[2021-07-27 01:47] shreyas-mallya commented on #7141
This can be solved...Refer this link - https://vuex.vuejs.org/installation.html#direct-download-cdn

[2021-07-27 01:47] #7141 closed

[2021-07-27 11:39] MarcosAtApprentice commented on #5249
Documentation is still not up to date apparently, documenting `unique`, `isIn`, and `columnType` as root level fields

[2021-07-27 12:40] eashaw commented on #7157
Hi @SETTER2000, Thanks for letting us know about this issue. This has been resolved in `sails-hook-apianalytics v2.0.5`. You can run `npm install sails-hook-apianalytics` to update.

[2021-07-27 12:51] eashaw commented on #7152
Hi @Mitch-i, you can use the specify a data type for an attribute to use with `columnType` e.g.
[code]
you can read more about this in our [docs](https://sailsjs.com/documentation/concepts/models-and-orm/attributes#?columntype).

[2021-07-27 13:02] eashaw commented on #4613
Hi @MarcosAtApprentice, what version of MongoDB are you seeing this on? and what version of `sails-mongo` are you using?

[2021-07-27 13:28] MarcosAtApprentice commented on #4613
Hi @eashaw ! I'm using MongoDB's docker image with tag `mongo:4`, which corresponds to version `4.4.7`.  The versions of `sails-mongo` and `waterline` in `package.json` are:

[code]

I followed [this guide](https://sailsjs.com/documentation/concepts/models-and-orm/standalone-waterline-usage) to set up Waterline with Express. These issues were not happening before, but that might be because schema

[2021-07-27 14:11] #7157 closed

[2021-07-27 14:39] #7107 closed

[2021-07-28 19:46] kobymolcho commented on #7128
Hi @eashaw
I'm guessing the url have it in the 'register-data-store.js', or the runner.js at the config url.
than this line can be the reason:
return exits.error(new Error('There was an error creating a new manager for the connection with a url of: ' + inputs.config.url + '\n\n' + e.stack));

i would have replace the throw inputs.config.url  with a throw input.config.safe which output the url or t

[2021-07-29 08:12] jmelich opened #7159 "Weird behavior on table initialization/mapping"
**Node version**: node@14.15.4
**Sails version** sails@1.4.4 and 1.4.0
**ORM hook version** sails-hook-orm@3.0.2
**Grunt hook version** grunt@1.0.4
**DB adapter & version** sails-mysql@1.0.2
<hr/>

I've found that on table initialization Sails or Waterline is creating relationship tables with different naming pattern based on entity name.

In our case, we have some entities, each one contains an a

[2021-08-01 14:40] Revadike commented on #4749
Doing so requires me to manually set the id each time I want to insert data in the db, instead of it being generated for me.

[2021-08-01 15:48] Revadike commented on #4749
The workaround that works for me is doing this:
[code]

[2021-08-02 01:52] vettloffah commented on #7011
This is still an issue. I've dug into it more here are the details:

1. I'm running a heroku pipeline so the CI test has its own config variables setting (environment variables) in the UI. They are not copied from production automatically.
2. I have copied all of the config variables from production to the test variables.
3. The base env variables load like NODE_ENV specified in the UI but the sai

[2021-08-02 02:00] vettloffah commented on #7133
Thanks @eashaw that answers my question.

[2021-08-02 16:27] eashaw commented on #7149
Hi @RcrsvRyan,
You can use `sails.getDatastore('redisDatastoreName')` to get the reference to the Redis `db` and then use `.sendNativeQuery()` to access the `.create(), .find(), .update(), etc` methods.

You can read more about this in the [`sails-redis` readme](https://github.com/balderdashy/sails-redis/blob/master/README.md)

[2021-08-02 16:30] eashaw commented on #7150
Hi @Revadike,
That's a good point, thank you for the suggestion!
Because Sails uses a dependency to handle this, it might make more sense looking into that first.

[2021-08-02 16:33] eashaw commented on #7156
Hi @Mitch-i, You can specify a `primaryKey` by setting `primaryKey: 'someAttribute',` at the top level of the model.

https://sailsjs.com/documentation/concepts/models-and-orm/model-settings#?primarykey

[2021-08-02 16:34] eashaw commented on #7155
Hi @Mitch-i,
If you want to add foreign keys to the physical layer, you can add them manually.

[2021-08-02 16:54] Revadike commented on #7150
What exactly do you mean?

[2021-08-02 20:34] eashaw commented on #7154
Hi @Mitch-i, foreign keys are not created when you associate records. If you need them, you can add foreign key to the physical layer manually.

[2021-08-02 20:36] eashaw commented on #7143
Hi @coaperator, Would you be able to create a github repo of a minimal sails app that reproduces the issue you're having?

[2021-08-02 20:42] eashaw commented on #7144
Hi @HiroyukiNIshimura, We'd love to take a closer look at this issue you're seeing. Would you be able to create a github repo with a minimal sails app that reproduces this?

[2021-08-03 13:05] eashaw opened #7160 "Unexpected result using .stream() in sails-postgresql"
**Node version**: 14.17.0
**Sails version** _(sails)_: 1.4.4
**ORM hook version** _(sails-hook-orm)_: ^3.0.2
**Sockets hook version** _(sails-hook-sockets)_: ^2.0.0
**Organics hook version** _(sails-hook-organics)_: ^2.0.0
**Grunt hook version** _(sails-hook-grunt)_: 1.0.4
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-postgresql 2.0.0

[2021-08-04 15:08] shailesh-kanzariya commented on #7140
This issue is fixed in `machinepack-mysql@3.1.0`.
`machinepack-mysql@3.1.0` has now `mysql` updated to `2.18.0`
Thank you very much @eashaw

[2021-08-04 15:33] #7140 closed

[2021-08-05 11:33] RcrsvRyan commented on #7149
Thank you so much for your reply.

I am verifying if that works.

However, based on the sails documentation found [here](https://sailsjs.com/documentation/reference/waterline-orm/datastores/send-native-query), doesn't that simply allow for us to write a MySQL query against the database? I'm not seeing anything in the documentation about how that would expose the `create(), update(), etc` methods f

[2021-08-06 06:54] schandramo commented on #7115
Try changing node version to 10..It works

[2021-08-08 20:01] oom- opened #7162 "Multiple questions regarding sails and it's future"
Hello,

I started to look into sails a few weeks ago to see if it could fit my needs and replace Loopback.
I watched the 54 videos on [platzi.com](platzi.com) and started a new project (an empty one).

There is the description of my journey:

1. I create two models, "User" and "Product"
2. I create an action named "login" and a custom policy to restrict access to another action called "whoami"
3.

[2021-08-09 07:29] bhoomiagrawal commented on #6886
you can set locale by
`req.setLocale("fr");
`after that, you can get your string in your selected language by using
`req.i18n.__("welcome");`
method.

[2021-08-10 12:22] AlanNggg opened #7163 "Dose sails has any middleware or any callbacks to do some extra actions before or after certain model methods, e.g. Logging project create"
**Node version**: v14.16.1
**Sails version**: 1.4.2
**ORM hook version**: 3.0.2
**Sockets hook version**: 2.0.0
**Organics hook version**: N/A
**Grunt hook version**: 4.0.0
**Uploads hook version**: N/A
**DB adapter & version**: sails-mysql@1.0.1
**Skipper adapter & version**: N/A
<hr/>
Hi I am developing a Sails app and I want to store all users' actions in a Log model. Such as logging the action

[2021-08-11 07:47] AlanNggg commented on #7136
thx

[2021-08-11 13:13] 0xGREG opened #7164 "sails-mongo 2.0 not working"
**Node version**: 16.4.0
**Sails version** _(sails)_: 1.4.3
**ORM hook version** _(sails-hook-orm)_: 3.0.2
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-mongo@2.0
<hr/>

When i try to use sails-mongo 2.0 it doesn't work

error: A hook (`orm`) failed to load!
error: Could not tear down the ORM hook.  Error details: Error: Consistency violation: Attempting to tear down a datastore (`de

[2021-08-11 20:26] eashaw commented on #7159
Hi @jmelich, That naming pattern is expected behavior.
Thank you for all the information, it may help others with similar concerns.

[2021-08-13 12:12] eashaw commented on #7163
Hi @AlanNggg, You might want to create a helper that creates logs and call it in your controllers instead. you can read about helpers in our docs https://sailsjs.com/documentation/concepts/helpers#helpers

[2021-08-13 12:17] eashaw commented on #7164
Hi @0xGREG, would you be able to share an example (with all sensitive information redacted) of how you're registering your datastore?

[2021-08-13 12:22] eashaw commented on #7128
Hi @kobymolcho, I was reminded that we have a solution for this in [`sails-postgresql`](https://github.com/balderdashy/sails-postgresql/blob/fb9aaf2604a2603a4cec95e90e6df55bfd50221b/lib/private/redact-passwords.js). I'll test adding that to `sails-mysql`, Thank you for looking into this.

[2021-08-13 12:24] eashaw commented on #6886
Thank you @bhoomiagrawal.

[2021-08-13 12:48] eashaw commented on #7153
Hi @Mitch-i, this is expected behaviour in Sails and Waterline. Defaults are applied on the logical layer but not the physical layer because not all databases have a defaultsTo in the physical layer.

[2021-08-13 23:23] 0xGREG commented on #7164
Hi @eashaw

This is my datastore config

[code]

[2021-08-16 10:59] AlanNggg commented on #7163
Hi @eashaw, I also wonder what should I use if I want to check whether something exists in many controllers.  Such as c checking whether a project exists as below:

[code]
Should I use helper or is there a better way?
Thanks

[2021-08-17 00:37] HiroyukiNIshimura commented on #7144
It is the project in this repository that is symptomatic.
https://github.com/HiroyukiNIshimura/lycaon-ce

[2021-08-17 06:02] jmelich commented on #7159
Thanks for your reply @eashaw just for curiosity what does this naming pattern solve or what motivates doing this way?

I close the issue anyway.

[2021-08-17 06:02] #7159 closed

[2021-08-17 13:42] himankpathak opened #7165 "Model.update() converts object keys passed in set() from attributes name to SQL columnName"
**Node version**: 16.6.1
**Sails version** _(sails)_: 1.4.4
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_: 1.5.5
**Organics hook version** _(sails-hook-organics)_: NA
**Grunt hook version** _(sails-hook-grunt)_: 1.0.8
**Uploads hook version** _(sails-hook-uploads)_: NA
**DB adapter & version** : sails-postgresql@2.0.0
**Skipper adapter & version** :

[2021-08-18 09:27] MrYbo opened #7166 "How to use 'INNER JOIN'"
**Node version**:
14
**Sails version** _(sails)_:
1.4.3
**ORM hook version** _(sails-hook-orm)_:
"sails-mysql": "^1.0.1",
<hr/>

I have two table.

event
[code]

organization
[code]

The `organization` field of the Event table is the ID of the table organization, one organization corresponds to multiple events。

now, I want to implement the following SQL query, What should I do？and  How should I c

[2021-08-18 11:53] sksbtps opened #7167 "Sails model is not populating columns with __c in case of Join."
**Node version**: v12.18.4
**Sails version** _(sails)_: 1.4.0
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:  sails-postgresql@2.0.0
<hr/>

I have 3 models. In the first model, I am associating the other 2 models. This all works perfectly and I am able to get the data from the other 2 model

[2021-08-18 13:49] ochicf commented on #7160
I also noted some repeated records being returned when using `stream` and fixed that with the `sort` clause.

Now I just realised that when checking for `null` values in the query criteria some records are skipped, and the `sort` clause does not seem to have any effect.

For example:

[code]

In the above example, `userCount` is greater than `userStreamCount`. I've tested with a dataset of 159, th

[2021-08-18 23:53] ElizabethForest opened #7168 "Latest version of connect-mongo not supported by session hook"
**Node version**: v10.6.0
**Sails version** _(sails)_: v1.4.4
**ORM hook version** _(sails-hook-orm)_: v3.0.2
**Sockets hook version** _(sails-hook-sockets)_: v2.0.1
**Organics hook version** _(sails-hook-organics)_: -
**Grunt hook version** _(sails-hook-grunt)_: v4.0.1
**Uploads hook version** _(sails-hook-uploads)_: -
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: -
**Skipper adapter & ve

[2021-08-19 21:03] Flam3rboy opened #7169 "Accessibility of the documentation"
Who thought that it would be a good idea to write the whole docs using this hairline font width?
It might be nice design for headlines, but not for all paragraphs.
I have no bad eye vision and even I need to concentrate to be able to read it.
![image](https://user-images.githubusercontent.com/34555296/130143149-52706e2b-d681-4b61-b51d-43be208af8a6.png)
Please increase the font width of the text, t

[2021-08-23 05:46] deepthiv029 opened #7170 "sails-postgresql "AdapterError: Invalid connection name specified""
**Node version**: 6.9.0
**Sails version** _(sails)_: 0.12.14
**ORM hook version** _(sails-hook-orm)_: 1.0.9
**DB adapter & version** _(e.g. sails-postgresql@5.55.5)_: .sails-postgresql@0.11.4

Their is an error getting populated while running database query in any API. This error is happening occasionally to all database queries if I restart the server this error will not appear, if I reload the s

[2021-08-23 11:33] smitit173 opened #7171 "Add documentation about `autosubscribe` field in models"
Need more documentation on `autosubscribe` field in models. Didn't find any relevant documentation around it

[2021-08-24 12:54] eashaw commented on #7164
Hi @0xGREG have you taken a look at our [`sails.config.datastore` docs](https://sailsjs.com/documentation/reference/configuration/sails-config-datastores#?the-connection-url)? Are you setting the password for your datastore somewhere else?

[2021-08-24 12:56] 0xGREG commented on #7164
Hi @eashaw , I don't have a password for the datastore.

[2021-08-29 09:02] kobymolcho commented on #7128
great @eashaw !
any updates on this one?

[2021-09-03 20:22] eashaw commented on #7164
@0xGREG if you don't have a password for the datastore, it might be throwing an error because you are specifying a user in the url.
Have you tried omitting the `root` user from the connection url? e.g. `url: "mongodb://localhost/<redacted>"`

[2021-09-03 20:35] eashaw commented on #7169
Hi @Flam3rboy, thanks for the feedback! If you want to view a more accessible and mobile friendly version of our docs you can view them on github in the [Sails repo](https://github.com/balderdashy/sails/tree/master/docs).

[2021-09-03 20:44] eashaw commented on #7171
Hi @smitit173, `autosubscribe` is an undocumented feature that we don't recommend using.

Resourceful pubsub was added to Sails to provide low-code real time functionality out of the box specifically via the blueprint API.
As Sails matured and supported larger and higher stakes productions apps, we separated RPS from the blueprint API as a way of easing people making the transition from blueprints

[2021-09-03 20:47] eashaw commented on #7160
Hi @ochicf, I wasn't able to reproduce the results you were seeing. If you want to reproduce it in a github repo, I'd be happy to take a look.

[2021-09-03 21:00] Flam3rboy commented on #7169
Thank you I'll use it instead, tho it would be nice if you update documentation style thank you. 👍

[2021-09-03 21:01] eashaw commented on #7163
@AlanNggg, In projects we've worked on, we've found it best to keep validations like your example in the controller in case you need other validations.

[2021-09-03 23:13] mikermcneil commented on #7166
@MrYbo Thank you for the feedback.  I think the answer above addresses the intended behavior of Sails, and `sendNativeQuery()` provides sufficient flexibility.

[2021-09-03 23:27] eashaw commented on #7165
Hey @himankpathak, I wasn't able to reproduce this behavior you're seeing. Would you be willing to create a github repo with a minimal sails app that reproduces this issue?

[2021-09-04 22:59] AlanNggg commented on #7163
Thx

[2021-09-04 22:59] #7163 closed

[2021-09-06 07:26] deepthiv029 opened #7173 "sails database connection error after upgrading the sails when using complex db password."
**Node version**: 12.18.4
**Sails version** _(sails)_: 1.4.3
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-postgresql@1.0.2
<hr/>

@DominusKelvin

Getting this error while connecting to postgresql database

error: URIError: Provided value (`postgresql://user:1ndjsjk%jbhvgj_nn@somehost:5432/database`) is not a valid Postgres connection string. Error details: URI malformed.

when the p

[2021-09-06 07:59] MrYbo commented on #7166
@mikermcneil As for the use of sql statements, because there are more query conditions, it is not easy to write sql statements to query, And in some scenarios, we need to use the `populate()` function.

[2021-09-10 17:18] eashaw commented on #7173
Hi @deepthiv029, You can try passing in your password outside of the connection url e.g.
[code]
You might be able to use `encodeURIComponent()` in the connection string e.g. `url: 'postgres://user:'+encodeURIComponent('1ndjsjk%jbhvgj_nn')+'@somehost:5432/database'`

I've connected successfully to my local PostgreSQL 13 database with`sails-postgresql V2.0.0` using those methods. If those methods do

[2021-09-10 17:36] eashaw commented on #7167
Hi @sksbtps, I was able to reproduce this issue, I'll bring this up with the team and see what they think.

[2021-09-10 17:43] eashaw commented on #7144
Hi @HiroyukiNIshimura, We have removed Grunt's default `_hookTimeout` setting in `sails-hook-grunt V5.0.0`.
Thank you for bringing behavior this to our attention.

[2021-09-13 09:34] deepthiv029 commented on #7173
Hi @eashaw i tried it and its working now thank you so much

[2021-09-13 09:34] #7173 closed

[2021-09-13 19:25] eashaw commented on #7122
Hey @DominusKelvin, We've updated the docs to remove the link to PAGE_NEEDED and added a short explanation of a JSON Websocket Response. It is a JSON object that contains a `header` `body` and `statusCode`.

[2021-09-13 19:49] eashaw commented on #7162
Hi @oom-

Thanks for your detailed feedback and sharing your journey with Sails
in regards to your questions:

One is not planned at this time, there is a [community option](https://github.com/theoomoregbee/sails-hook-swagger-generator) that I found on google. It might also be helpful to take a look at /scripts/rebuild-cloud-sdk

Mind if we ask more about your use case for this? You can handle thi

[2021-09-15 04:58] DefCon-007 opened #7177 "Invalid URL redirect in documentation"
The URL https://sailsjs.com/config/sails-config-custom is being redirected to https://sailsjs.com/documentation/reference/configuration/sails-config-sails-config-custom which is not valid URL and should be https://sailsjs.com/documentation/reference/configuration/sails-config-custom.

The specific link is present at https://sailsjs.com/documentation/concepts/configuration#?environmentspecific-file

[2021-09-16 20:14] #7168 closed

[2021-09-17 19:12] eashaw commented on #7128
Hey @kobymolcho, We just published a new version of `sails-mysql` that redacts passwords in error messages.

[2021-09-17 19:30] eashaw commented on #7149
Sorry @RcrsvRyan,  I think I misunderstood your original question. You can use `sails.getDatastore('redisDatastoreName').leaseConnection` to get access to the Redis `db` that you can use like you would use it normally with Redis in node.

Here's an example of this usage from the `sails-redis` README that has been updated to use await

[code]

[2021-09-17 19:31] eashaw commented on #7177
Thanks for the heads up @DefCon-007, we'll get that link fixed.

[2021-09-17 20:21] eashaw commented on #7145
Hi @HiroyukiNIshimura, Thank you for bringing this to attention. We've upgraded the `uuid` dependency and resolved this deprecation warning in `skipper v0.9.1`.

[2021-09-17 20:46] eashaw commented on #7119
Hi @hartatovich, We recommend writing an action to subscribe to the socket that recreates a [JSON websocket response object](https://github.com/balderdashy/sails.io.js/blob/88b96ea019db4a03a1fb5fff0600dc7fd23f7862/dist/sails.io.js#L540). We also recommend taking a look at how sockets emit in the [sails.io.js source code
](https://github.com/balderdashy/sails.io.js/blob/88b96ea019db4a03a1fb5fff0600

[2021-09-17 20:54] eashaw commented on #7113
Hi @sivo1981, Do you think you can go into more details about what this accomplishes and your usecase?

[2021-09-17 21:06] mactyr opened #7178 "captains_log requirements for custom loggers are unclear"
**Node version**: 14.16.0
**Sails version** _(sails)_: 1.4.2
**ORM hook version** _(sails-hook-orm)_: N/A
**Sockets hook version** _(sails-hook-sockets)_: N/A
**Organics hook version** _(sails-hook-organics)_: N/A
**Grunt hook version** _(sails-hook-grunt)_: N/A
**Uploads hook version** _(sails-hook-uploads)_: N/A
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: N/A
**Skipper adapter & versio

[2021-09-17 21:07] eashaw commented on #7087
Hi @crhoover-maxar, thank you for all the detail.
What you're seeing is expected behavior, validations run before lifecycle callbacks in Waterline. You can read more about this and see some of our recommendations [in this github comment](https://github.com/balderdashy/sails/issues/6890#issuecomment-572687971).

[2021-09-18 00:02] crhoover-maxar commented on #7087
Thanks for the reply, we have left SailsJS and rolled our own architecture due to the lack of community and project support in a timely fashion.

[2021-09-18 00:02] #7087 closed

[2021-09-19 10:50] himankpathak commented on #4639
@mikermcneil @raqem This is a very big change and any repos migrating from 0.12  to 1.0 could completely miss this and have major issues with the database. There is no mention of this issue in 1.0 Migration Docs.
Please add this in the migration docs.

[2021-09-20 11:37] RcrsvRyan commented on #7149
Okay, I think I understand.

Basically, there is no longer any direct connection between sails-redis and models that can be defined in sails. So, for instance with the Redis connector, I cannot do
`CachedProduct.create(), CachedProduct.update(), etc.`
as I could in the previous version.

Instead, I have to created the `CachedProduct` somewhere else in the code and then write code to directly acces

[2021-09-21 20:30] praveenlv commented on #6887
what is the resolution for this issue

[2021-09-24 19:24] eashaw commented on #7178
Hi @mactyr,
What's provided to you in Sails as `sails.log` is a Javascript object, and when you call `sails.log()` as a function, it's the same as calling `sails.log.debug()`.

Here's a quote from our docs about custom logger usage

[2021-09-24 19:40] mactyr commented on #7178
@eashaw, thanks, I'm setting up a custom logger because I'd like to override the default logger's behavior of having `debug()` go to STDERR; I'd like it to go to STDOUT instead. If there's a simpler way of doing that, I'd be happy to know!

Meanwhile, it sounds like you're saying that a custom logger with a `debug()` method but no `log()` method should work? If so, it seems that the test on line 5

[2021-09-24 21:46] eashaw commented on #6887
Hey @praveenlv, would you mind creating a new issue that explains what you're seeing with steps to reproduce in a new Sails app?

[2021-09-24 21:48] eashaw commented on #7170
Hey @deepthiv029, Do you think you would be able to reproduce this in an empty Sails v1 app and share it with us?

[2021-09-30 08:23] TimofeyBiryukov commented on #6359
It's 7 years. This would still be a good feature to add.

[2021-09-30 08:24] HannaNguyen-new commented on #4160
@sgress454
I also store the same datetime format (YYYY-MM-DDT... Z ) in postgre. As you've shown, I tried type:'ref' but it does not allow 'allowNull:true'. However, I want my record to have null values because I need to clear the record based on certain conditions. For now, I set 'type:string' so there are alerts from sails. Is there a workaround for this?

[2021-09-30 09:25] HannaNguyen-new opened #7179 "Populate method not working well with 2 schemas in postgresql"
**Node version**: v14.15.0
**Sails version** _(sails)_:  1.4.0
**ORM hook version** _(sails-hook-orm)_: 3.0.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_: 2.2.0
**Grunt hook version** _(sails-hook-grunt)_: 4.0.0
**Uploads hook version** _(sails-hook-uploads)_:  not using
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-postgre

[2021-09-30 12:08] jainatech commented on #6934
@toriqvoxel  However your solution is fine for dynamic connection after sails lift but when there are concurrent 500 api calls at that time PROTOCOL_SEQUENCE_TIMEOUT issue with handshake inactivity is coming.

Are you aware about why can this happen ?

[2021-09-30 14:21] tunicwriter commented on #6977
I'm still experiencing this issue with `sails-postgresql@2.0.0`, which should include the linked fix (correct me if I'm wrong). Specifically, we are experiencing this with `IN`; I have not tested with `AND`, `OR`, etc.

[2021-10-03 08:39] kobymol commented on #7128
looks great! thanks!!

[2021-10-04 18:00] eashaw commented on #7178
You're right @mactyr, that error does seem out of date.
If anyone has time to fix this in a backwards compatible way, we'd be happy to take a look!

[2021-10-04 18:05] eashaw commented on #7150
Hey @Revadike, I'm not quite sure what I meant either.
There are a lot of internationalization options available, a good place to start with this would to be to add a tutorial about using them to https://github.com/balderdashy/sails/tree/master/docs/tutorials

[2021-10-04 18:09] eashaw commented on #7011
Hi @vettloffah, We couldn't find anything in heroku's docs about this, I asked the team and we can't think of any reason why they wouldn't be picked up.

[2021-10-04 18:11] eashaw commented on #4613
Hi @MarcosAtApprentice, would you be able to reproduce what you're seeing in a sails app so we can take a closer look?

[2021-10-04 18:21] Revadike commented on #7150
I think there may be a misunderstanding. This issue isn't about supporting i18n, which obviously, it already does. This issue is about **utilizing** the hook in the boilerplate code. That means have one config with all the English labels used in the boilerplate code (e.g. the FAQ page, error codes, etc).

[2021-10-04 18:43] eashaw commented on #7179
Hi @HannaNguyen-new, would you be able to reproduce this in a new Sails app in a github repo so we can take a closer look?

[2021-10-12 09:49] arontsang opened #7180 "Module loader does not support yarn pnp"
`hooks/moduleloader/index.js` searches for modules in node_modules, which does not exist in yarn pnp style linker.

[2021-10-14 06:22] #7170 closed

[2021-10-15 18:59] eashaw commented on #7180
Thanks for bringing this to our attention @arontsang, would using npm or yarn without pnp work for your app?

[2021-10-15 20:59] eashaw commented on #4639
Thanks for the heads up @himankpathak, we've updated our migration docs to include this information.

[2021-10-15 21:05] eashaw commented on #7167
Hey @sksbtps, I have a PR open for this if you would like to test it https://github.com/balderdashy/sails-postgresql/pull/293

[2021-10-16 01:23] grantbi opened #7182 "Asynchronous actions2 functions are being implemented as type: 'classical' preventing exits."
**Node version**: 12.16.2
**Sails version** _(sails)_:  1.5.0
**ORM hook version** _(sails-hook-orm)_: ^3.0.2
**Sockets hook version** _(sails-hook-sockets)_: ^2.0.1
**Organics hook version** _(sails-hook-organics)_: ^2.2.0
**Grunt hook version** _(sails-hook-grunt)_: ^2.2.0
**Uploads hook version** _(sails-hook-uploads)_: N/A
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-mongo@2.0.0

[2021-10-22 12:11] sujayvenaik opened #7183 "Outdated Changelog.md in the sails repository"
Where do i refer to the Changelog for Sails JS? Is there some alternate source/some other location.

I am upgrading from v1.0.2 to v1.5.0 (which is the latest version as i write this).

Referred this: https://github.com/balderdashy/sails/blob/master/CHANGELOG.md Seems to be out dated

cc: @mikermcneil

[2021-10-26 20:41] jerryphe88 opened #7184 "package sails-disk dependence on nedb with high severity security issue"
It seems sails-disk depends on nedb, which has high severity security issue and is no long maintained

https://www.npmjs.com/advisories/1002590

Any plan to remove nedb?

[2021-10-27 07:31] shreys7 opened #7185 "How to use custom error response when input validation fails"
**Node version**: 14.16.1
**Sails version** _(sails)_:  1.2.3
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: 0.12.2
**Skipper adapter & version** _(e.g. skipper-s3@5.55.5)_: 0.8.4
<hr/>

I am using the actionsV2 of sails v1, and have defined an action as follows
[code]
Now, when the validation fails for one of the fields mentioned in the inputs, Sails returns a 400 with the following body
[

[2021-10-29 20:29] eashaw commented on #7182
Hi @grantbi, here is @mikermcneil's response to your questions:

[code]

The best way is to use classical.  This is what @mikermcneil recommends and how sails actions are generated.

[code]

Versus  “composite” which was the Treeline word for “circuit”.  The JSON representation of a simplified abstract syntax tree that you manipulated in the browser

Composite (which I called “analog”) is the alte

[2021-10-29 20:41] eashaw commented on #6934
Hey @mukk85 and @jainatech, Are you sure `destroyManager()` is being called after every time it is created?

[2021-10-29 20:45] eashaw commented on #7179
@HannaNguyen-new Thank you for the repo, I will try to look at this closer and try to debug this when I get some time.

In the meantime, I noticed that you're using schemas to combine staging and production data in a single database.
Most Sails apps instead use two different databases for this purpose. Would that work for you?

[2021-10-29 20:54] eashaw commented on #6977
Hi @tunicwriter, the changes in linked pull request are in `sails-postgresql@v3.0.0`.

[2021-10-29 20:59] eashaw commented on #7183
Hi @sujayvenaik, Thank you for bringing this to our attention, I'll try to put aside some time to update the changelog.
In the meantime, we recommend comparing tags in the releases page.

[2021-11-01 00:40] HannaNguyen-new commented on #7179
@eashaw Thank you! please have a look when you can. Yes, we have decided to use 2 databases instead. Using 1 db did save us the cost a little bit so...

[2021-11-03 14:15] mactyr opened #7187 "Sails include-all breaks node's module cache (require.cache)"
**Node version**: 14.16.0
**Sails version** _(sails)_: 1.4.2
**ORM hook version** _(sails-hook-orm)_: N/A
**Sockets hook version** _(sails-hook-sockets)_: N/A
**Organics hook version** _(sails-hook-organics)_: N/A
**Grunt hook version** _(sails-hook-grunt)_: N/A
**Uploads hook version** _(sails-hook-uploads)_: N/A
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: N/A
**Skipper adapter & versio

[2021-11-04 13:11] tunicwriter commented on #6977
@eashaw Looks like the issue has been corrected via testing on our end. Thank you!

[2021-11-08 21:40] eashaw commented on #7185
Hey @shreys7, we recommend using `machine-as-action` for this. Take a look at the [`machine-as-action`](https://github.com/sailshq/machine-as-action#readme) readme and let us know what you think.

[2021-11-08 22:12] eashaw commented on #7187
Hey @mactyr, thank you for all the info. Do you have any thoughts about where we could document this behavior, that would have made it easier to debug?

[2021-11-10 11:33] parthg-wysa commented on #4326
Hi. this is currently failing on Sails 0.12.14 due to the same issue. I believe updating that to use Skipper 0.8.0 should fix it according to: https://github.com/pillarjs/multiparty/issues/164#issuecomment-279394122

[2021-11-11 07:48] himankpathak commented on #7165
Hey @eashaw ,
I have created a repo on which this bug is very easily reproducible. [https://github.com/himankpathak/sails-obj-bug](https://github.com/himankpathak/sails-obj-bug)

Migrations to run the app are mentioned in Readme.

Output:
[code]

[2021-11-12 14:37] Fritouz12 opened #7189 "macOS Monterey M1 sails-mongo ORM issue"
**Node version**: 16.13.0
**Sails version** _(sails)_: 1.5.0
**ORM hook version** _(sails-hook-orm)_: ^4.0.0
**Sockets hook version** _(sails-hook-sockets)_: ^2.0.0
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_: 1.0.4
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-mongo@2.0.0
**Skipper ad

[2021-11-12 17:42] eashaw commented on #7189
Hey @Fritouz12,
The error you're seeing looks to be related to the datastore connection, would you mind sharing an example of how you're passing in your datastore connection url?

If you're seeing this error when providing your datastore username and password in the url
(e.g. `url: 'mongodb://user:password@localhost/datastore'` ) you can try providing parts of the connection url separately. e.g.
[

[2021-11-12 21:22] mactyr commented on #7187
@eashaw, fair question. Really what I think is that sails should not remove anything from the require cache; then there's no surprising behavior to document!

So, first I'd ask, is it absolutely necessary that the cache be bypassed/edited in the contexts where sails uses include-all in the first place? Or is it just default behavior that's never been questioned because no one's noticed it causing

[2021-11-12 23:13] eashaw commented on #7187
Hey @mactyr, I'm sitting with @mikermcneil and going over the history of this decision.

Here's what I learned:

- Module loader was added in 2013 in Sails 0.9 as part of the new (at that time) hooks system.
Initially, we did not clear the require cache because we had the same thoughts about this (and it's the default behavior)
- By 2014, various folks in the community have built hooks at this poi

[2021-11-14 18:02] DominusKelvin commented on #7182
@eashaw sorry I just get to see this. I should look out for GitHub notifications more often! @grantbi I go with Mike on this as I find the classical way more easy to reason about as it feels like returning in a normal function as opposed to calling `exits`. Wrote a bit about it here https://blog.sailscasts.com/return-or-throw-your-response/

[2021-11-14 18:08] #7122 closed

[2021-11-14 21:12] Informatic opened #7190 "Global csrf enable causes session creation on all GET requests"
**Node version**: 12.16.1
**Sails version** _(sails)_: 1.4.0 (still applies to `master`)
**Session driver**: `connect-redis` 3.2.0
<hr/>

When CSRF protection is enabled globally (`security.csrf === true` and `session.saveUnitialized === false`) all `GET` requests are passed through `csurf` middleware, which causes [new session creation](https://github.com/expressjs/csurf/blob/e30be3700f50fb481a55

[2021-11-14 21:28] Informatic commented on #7190
Another workaround I just found is declaring a route in `config/routes` without specifying its method.
[code]

[2021-11-15 19:39] mactyr commented on #7187
Ok, thanks for looking into it. A couple of clarifying questions:

1. Is "module loader" the same thing as "include-all"? Because the problem I noticed seems to be specific to include-all.
2. Your third bullet makes it sound like the last change was to _stop_ clearing the require cache, but the problem that I'm reporting is that sails (more specifically, include-all) _is_ clearing the require cach

[2021-11-19 17:17] eashaw commented on #7187
1. Module loader is a hook in Sails
2. Yes, the stop was supposed to be start(edited, thank you)

[2021-11-30 10:18] GauravSharma47 opened #7191 "How to use sockets in sailsjs?"
**Node version**:  v14.17.1
**Sails version** _(sails)_:  1.4.3
**ORM hook version** _(sails-hook-orm)_:
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & version** _(e.g. skipper-s3

[2021-12-01 05:20] yashraut362 commented on #7189
Hey, @Fritouz12 I have faced the same issue but not on the M1 chip MacBook but older MacBook running on Monterey. and it turned out to be an issue with the router's DNS setting which does not let sails connect with MongoDB, so look into routers setting or use VPN, Hope this works!

[2021-12-01 10:38] benoitbzl opened #7192 "Waterline/sails 1.x does not allow anymore an attribute name like 'class'"
With sails version 0.12, it was possible to create records (mongo adapter) with waterline that contained javascript reserved keywords like 'class'. This is not the case anymore with sails 1.x (at least 1.4+). It reports the error:

  { UsageError: Invalid new record.
   Details:
     Could not use specified `class`.  This is not a valid name for an attribute.
  ....
}

This is an issue for upgradi

[2021-12-01 21:47] PABCon commented on #4228
Is there any update on the http/2?

[2021-12-03 17:05] shackbarth commented on #4606
I can confirm that the latest sails-postgresql has fixed this password leak issue. Thanks @alxndrsn and the balderdash team!

[2021-12-03 17:05] #4606 closed

[2021-12-06 18:17] eashaw commented on #7190
Hi @Informatic,
Thank you for bringing this issue to our attention and posting your workaround. We'll take a closer look when time allows.

Has anyone else encountered this behavior?

[2021-12-10 22:53] LouisCharlesVO2 opened #7194 "Unable to run multiple tests in parallel with Jest"
**Node version**: 14.17.3
**Sails version** _(sails)_: 1.4.0
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_: 4.0.0
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: postgresql 2.0.0
**Skipper adapt

[2021-12-11 05:54] HiroyukiNIshimura opened #7195 "I sometimes get an error with this.$el undefined in parasail.js (on registerComponent)"
**Node version**: v14.17.6
**Sails version** _(sails)_: 1.5.0
**ORM hook version** _(sails-hook-orm)_: 4.0.0
**Sockets hook version** _(sails-hook-sockets)_: 2.0.1
**Organics hook version** _(sails-hook-organics)_: 2.2.0
<hr/>

parasails.js

[code]

If the component template is as follows, an error will occur because there is no this.$el 😅

[code]

[code]

I will report the error because the cause

[2021-12-14 16:56] eashaw commented on #7191
Hi @GauravSharma47, would you be able to share a more detailed error message? (try lifting with `sails lift --silly`)
You may also want to check the value of `sails.config.sockets.onlyAllowOrigins` and test using it without the beforeConnect function.

[2021-12-16 04:37] dmitrye opened #7196 "Invalid body in fake POST API calls potential security vulnerability"
**Node version**: 14
**Sails version** _(sails)_: 1.4.4 and 1.5.0
**ORM hook version** _(sails-hook-orm)_:  4.0.0
**Sockets hook version** _(sails-hook-sockets)_: 2.0.1
**Organics hook version** _(sails-hook-organics)_:  n/a
**Grunt hook version** _(sails-hook-grunt)_:  n/a - not using
**Uploads hook version** _(sails-hook-uploads)_:  n/a - not using
**DB adapter & version** _(e.g. sails-mysql@5.5

[2021-12-16 22:28] LajosCseppento opened #7197 "Sails - Which Oracle Adapter to start with?"
Hello,

I am new to sails.js, but I already need to set it up with a legacy Oracle Database. I see that there were many adapters created over the decade - which one would you recommend to start with trying? If none of them works, how can I extend Waterline with an Oracle adapter (found a 8 years old template repo in this group, is that still up to date)? Or if I need Oracle, maybe it is better if

[2021-12-17 09:58] xziy commented on #7110
+1

[2021-12-17 20:59] eashaw commented on #7192
Hi @benoitbzl, This restriction was added as a potential safeguard from confusion and prototype attacks.

[2021-12-21 09:27] triplonetienne commented on #7110
+1 It would be great to have Typings support for Sails!

[2021-12-22 10:56] muhammadnasr commented on #7197
I have the same problem and tried many sails oracle adapters but non of them works.
is they any solution for this?

I tried TypeORM and it works OK with Oracle. Can I use TypeORM with Sails.js?

[2021-12-22 10:57] muhammadnasr opened #7198 "Alternative ORM?"
Can I use TypeORM with Sails.js?

[2021-12-23 00:51] ejtrevinoo commented on #7198
Yes you can. In the company where I work we use the stack: Sailsjs, typeorm and class-validator. Personally, I really like it. But you can't use the existing models folder, you can create a new one as entities. Greetings!

[2021-12-23 09:03] muhammadnasr commented on #7198
@ejtrevinoo thanks.
How can I glue them together? did you use a hook for typeorm or what?

[2021-12-25 04:23] ejtrevinoo commented on #7198
Yes, I did not do the integration so I'm not sure if it requires something else, but yes, hook is used

I give you an example:

[code]

[2021-12-26 11:22] muhammadnasr commented on #7198
@ejtrevinoo really appreciate your help.

It would be great if you give me the rest of example to link it to sails if you can.

Thanks in advance

[2021-12-29 22:39] G0x209C opened #7199 "Suggestion: Model Convention"
**Node version**: 17.0.4
**Sails version** _(sails)_: 1.5.0
**ORM hook version** _(sails-hook-orm)_: 4.0.0
**Sockets hook version** _(sails-hook-sockets)_: 2.0.1
**Organics hook version** _(sails-hook-organics)_: n/a
**Grunt hook version** _(sails-hook-grunt)_: 5.0.0
**Uploads hook version** _(sails-hook-uploads)_: n/a
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-mysql@2.0.0
**Skipp

[2022-01-04 10:26] vjrj commented on #2917
To deploy files like this `NOTICES`:
https://docs.flutter.dev/deployment/web#building-the-app-for-release

I use:

[code]

[2022-01-05 18:25] shiva2021 commented on #4508
But then don't you think 'await Something.create(data).fetch()' should work rather than sails.models.something.create(data)` which seems rather an unsettling approach? The documentation on the Waterline query page suggests that this is indeed the correct way to go about it but somehow it doesn't work. This doesn't make sense to me at all.

![image](https://user-images.githubusercontent.com/4609121

[2022-01-06 15:27] Nielio commented on #5254
I got it! Thank you @sgress454

[code]

[2022-01-07 16:17] ValentinSteiner opened #7200 "Shell script not waiting for stream events"
**Node version**: v16.13.1
**Sails version** _(sails)_: 1.4.2
**ORM hook version** _(sails-hook-orm)_: sails-hook-orm@3.0.2
**Sockets hook version** _(sails-hook-sockets)_: sails-hook-sockets@2.0.1
**Organics hook version** _(sails-hook-organics)_: sails-hook-organics@2.2.0
**Grunt hook version** _(sails-hook-grunt)_: sails-hook-grunt@4.0.1
**Uploads hook version** _(sails-hook-uploads)_: n/a
**DB

[2022-01-08 19:37] HarsheetKakar commented on #6839
+1

[2022-01-10 14:24] dhwaneetbhatt opened #7201 "Upgrade version of prompt to 1.2.1 to get rid of rogue colors package"
**Node version**: 10.14.1
**Sails version** _(sails)_: 1.5.0
**ORM hook version** _(sails-hook-orm)_: 3.0.2
**Sockets hook version** _(sails-hook-sockets)_: N.A.
**Organics hook version** _(sails-hook-organics)_: N.A.
**Grunt hook version** _(sails-hook-grunt)_: N.A.
**Uploads hook version** _(sails-hook-uploads)_: N.A.
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: N.A
**Skipper adapter &

[2022-01-12 09:59] benoitbzl commented on #7192
Hello @eashaw. Thanks for the answer. Could there be a per model option that would disable this restriction? This may ease in some cases the use of sails 1.x with existing database collection.

[2022-01-14 21:36] eashaw commented on #7201
Thank you @dhwaneetbhatt!

[2022-01-14 23:26] eashaw commented on #7196
Hi @dmitrye, Thank you for bringing this to our attention.

The error you're seeing is from the default `onBodyParserError()` function in the [HTTP hook](https://github.com/balderdashy/sails/blob/c5e98c2775a5a4d17f545be80aedcf222f82b345/lib/hooks/http/get-configured-http-middleware-fns.js#L155-L165)
In production environments, this logs an error in the console and returns a 400 status code.

If yo

[2022-01-15 10:18] LajosCseppento commented on #7197
@muhammadnasr in the end for us Django and SQLAlchemy seems to be the way to go

[2022-01-20 00:36] eashaw commented on #7199
Hi @G0x209C, Thanks for the suggestion.

If your IDE uses ESLint, you can add your models to the `.eslintrc`.
You can see an example of this in the `.eslintrc` file from the Ration.io repo [here](https://github.com/mikermcneil/ration/blob/598cf3b9658f7b6d1a82f2c072c0268f840168c7/.eslintrc#L36-L50)

[2022-01-28 22:46] eashaw commented on #7195
Hi @HiroyukiNIshimura, Thanks for posting this, I'm sure it will help others who encounter this error in the future.

Conditional rendering on top-level elements of component templates causes issues with the way Parasails links `.less` stylesheets.

[2022-01-28 23:43] eashaw commented on #7192
@benoitbzl Thank you for the constructive feedback.
Unfortunately, we can’t take on the maintenance of that at this time.

[2022-01-29 00:02] eashaw commented on #7200
Hi @ValentinSteiner, The workaround you posted is how we recommend handling asynchronous scripts.
You can look at the [Parley readme](https://github.com/mikermcneil/parley#readme) to learn more about this.

[2022-01-29 00:29] #7138 closed

[2022-01-31 07:05] G0x209C commented on #7199
Oh thank you, that answers it :)

[2022-01-31 07:05] #7199 closed

[2022-01-31 20:09] xemuj commented on #7044
For those who are looking for timers DeprecationWarning error, here is a solution:

https://github.com/balderdashy/sails/issues/7140

[2022-02-02 15:41] vrajasekhar1 commented on #6258
Hi, is this issue resolved? I want to do a case insensitive search with postgresql, but it does not work. Appreciate any pointers how to get this working.

[2022-02-04 18:00] G0x209C opened #7206 "res.cookie is not a function?"
**Node version**: 17.0.4
**Sails version** _(sails)_: 1.5.2
**ORM hook version** _(sails-hook-orm)_: n/a
**Sockets hook version** _(sails-hook-sockets)_: 2.0.1
**Organics hook version** _(sails-hook-organics)_:  n/a
**Grunt hook version** _(sails-hook-grunt)_:  n/a
**Uploads hook version** _(sails-hook-uploads)_: n/a
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:  sails-mysql@2.0.0
**Skippe

[2022-02-06 08:53] G0x209C commented on #7206
A somewhat helpful workaround is setting cookies on the front-end side.

However, this does not work optimally with SPAs.
If you want to use the freshly set-cookies with your SPA,
you have to re-set them by retrieving them.

In my vue spa with vue3-cookies
I set them on login like this
[code]

then on the next page:
[code]
This seems to live-update them on the next route.
Otherwise you will have t

[2022-02-06 11:21] G0x209C commented on #7206
Another useful workaround is allowing the secret cookie as ```javascript
{required:false}
[code]

[2022-02-06 11:32] G0x209C commented on #7206
I also figure you could use the sails.sid with your model as the session secret, however the persistence of the sails.sid cookie resets every re-launch of the server, making it difficult to use with development testing.
Having to create a new user on every small code change and losing your live test data kind of slows things down.

Then again, it is possible to bootstrap that data, but then I'd ha

[2022-02-11 23:58] eashaw commented on #7194
Hi @LouisCharlesVO2, It looks like you aren't setting a port when you are lifting Sails.

We recommend running tests in parallel on a single Sails server after only calling `sails lift` once.

[2022-02-12 01:12] eashaw commented on #7206
Hi @G0x209C,

Thank you for all the detail.

You don't need to pass in `env` and `exits` to a controller using the actions2 format.
We recommend that you take a look at this actions2 controller from our [Ration example app](https://github.com/mikermcneil/ration/blob/598cf3b9658f7b6d1a82f2c072c0268f840168c7/api/controllers/entrance/login.js) and our [actions2 documentation](https://sailsjs.com/docu

[2022-02-13 12:59] Srinath-R395 commented on #4590
It worked for me after changing the versions to the below:

1.nodejs - 14.15.1

2.sails - ^1.5.2

3.sails-mongo - ^2.0.0

[2022-02-18 22:31] eashaw commented on #7197
@LajosCseppento Glad you found a solution that works for you!

@muhammadnasr We recommend taking a look at [sails-hook-mongoose](https://github.com/mikermcneil/sails-hook-orm-mongoose) to see how to override the `orm` hook.

[2022-02-21 16:27] benoitbzl opened #7207 "Model configuration `schema` is not taken into account by the the populate() query."
Hello,
I set my model config file with `schema: false` to prevent attributes filtering of the documents retrieved from mongo DB (for different reasons, the models in sails are not always defining all attributes of a document).
But the join document retrieved by a populate() query does not follow that `schema: false` configuration, and the attributes of the joined documented **are** filtered accord

[2022-03-15 03:02] Marynk opened #7209 "Prototype pollution in LoadActionModules() CVE-2021-44908"
**Node version**: 12.13.0
**Sails version** _(sails)_: 1.4.0

else-if statement in lines 134-165 https://github.com/balderdashy/sails/blob/master/lib/app/private/controller/load-action-modules.js#L163) is vulnerable to prototype pollution.
The object assignment on line 163 may lead to denial of service or property injection if SailsJS based application dynamically controls the value of variable “f

[2022-03-18 22:07] #7209 closed

[2022-03-18 22:07] mikermcneil commented on #7209
Hi @Marynk, thanks for reading through the code!

I took a look at your .zip file and video.  Here is the provided code that demonstrates how it is possible for a developer to code a Sails.js request handler that creates a javascript string, compiling in untrusted, unescaped data from the request, then deliberately overwrites an action file in the `api/controllers/` folder.  If a developer was to

[2022-03-19 13:21] himankpathak commented on #7165
Hey @eashaw,
I found this to be an unexpected behavior as this issue does not occur in `v0.12`.
There is no mention of this behavior either in method docs or in migration to `v1` docs.

It does make sense to use `.fetch()` method to get the updated record. But the `valuesToSet` passed to an ORM in some of my use cases are used to drive additional logic.
Also to note that I have never seen such beh

[2022-03-20 14:14] mike-usa commented on #7209
@Marynk could you unzip the contents of your code here into your repository https://github.com/Marynk/JavaScript-vulnerability-detection/blob/main/sailsJS_PoC/sailsJS%20PoC.zip?

Your readme says there is screen capture video and commentary, which I don't see.  I can only assume it is in the _zip_.  It doesn't make sense to compress already compressed video and I don't trust your account enough to

[2022-03-24 01:33] cincodenada opened #7211 "Sailsbot references guideslines that don't exist"
When I open a PR, sailsbot lightly scolds me for not formatting my PR title according to the guidelines, but the guidelines it links to don't mention PR titles at all as far as I can tell.

It seems to me that either the contribution guidelines should be updated to mention PR title formatting, or that check should be removed from sailsbot.

[2022-03-30 07:14] barshan23 opened #7212 "Sails's v1.5.1 routeTargetFnWrapper middleware consuming upwards of 7 seconds when number of request suddenly increases"
We're running Sail.js(v1.5.1) app. We're seeing a recent uptick in time consumptions by the `routeTargetFnWrapper` middleware whenever there is a sudden 2x or 3x ( from 50rpm to 100 or 150rpm) increase in number of requests.

We're getting this data via New Relic. Is it something known

**Node version**: 10.14
**Sails version** sails: 1.5.1
**ORM hook version** sails-hook-orm: 4.0.1
**Sockets hook

[2022-04-04 22:27] eashaw commented on #7211
Hi @cincodenada, Thanks for the feedback!

We've updated Sailsbot to remove this check.

[2022-04-07 16:16] rcpelisco commented on #3687
Have you make it work?

[2022-04-07 16:41] MaNi4 opened #7217 "How to change sails.sid after login"
Hi, how to change sails.sid after login, please? Thanks.

**Node version**:  v17.7.1
**Sails version** _(sails)_: 1.5.2
**ORM hook version** _(sails-hook-orm)_: 3.0.1
**Sockets hook version** _(sails-hook-sockets)_:  2.0.0
**Organics hook version** _(sails-hook-organics)_:  2.2.0
**Grunt hook version** _(sails-hook-grunt)_: 4.0.0
**Uploads hook version** _(sails-hook-uploads)_:  0.4.3
**DB adapter

[2022-04-12 21:58] eashaw commented on #7217
Hi @MaNi4, Is your question how to destroy or change the session contents, the session cookie value, or the cookie name after login?

[2022-04-13 07:51] MaNi4 commented on #7217
Hi @eashaw, after login need change session id. I already found the solution.

[code]

[2022-04-13 07:51] #7217 closed

[2022-04-13 14:20] medchkir commented on #6779
Can you please merge this pull-request ? https://github.com/balderdashy/waterline/pull/1623
thank you

[2022-04-15 06:46] Lucifer2205 commented on #6958
I have one requirement suppose say I have a dropdown country and then on that particular dropdown I'm getting a dependent dropdown of state in that and on selecting the state I'm getting another dropdown for phone number now, here how can I apply validation rules such that if I select India then ill get +91 as in format of Indian number and if I select other country then I get format accordingly.

[2022-04-16 11:13] jgjay commented on #7067
I'm in a similar position as @jspark-gigworks, I'd like to run some code before and after all routes (but not for static assets, for example). I haven't been able to figure out a way to accomplish this.

I don't think custom responses really work for my use case, in particular it doesn't seem like that approach will work for routes that route directly to a view.

Appreciate it might be case that t

[2022-04-19 09:54] refaatgamal opened #7218 "hook ('sequalize') faild to load"
**Node version**: 10.16
**Sails version** _(sails)_: 1.2.3
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_: 1.5.5
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_: 3.1.0
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & version** _(e.

[2022-04-19 20:12] cincodenada commented on #7218
Can you copy and paste the full error message that you're getting? It should have more information. You can use the Code button ("<>") to put it in a nice code box.

[2022-04-22 01:06] cincodenada commented on #7211
@eashaw Thanks! That takes care of the issue as far as I'm concerned 👍

[2022-04-22 01:06] #7211 closed

[2022-04-22 01:11] cincodenada commented on #7192
Hello @benoitbzl, I'm not sure if this is helpful or not, but can you use the [`columnName`](https://sailsjs.com/documentation/concepts/models-and-orm/attributes#?columnname) to avoid having to change the existing database? You should be able to use `class` as the internal column name while using something else that isn't a reserved keyword as the attribute name.

You'd still have to change anywhe

[2022-04-22 06:59] benoitbzl commented on #7192
Hello @cincodenada . Yes indeed it would have ease the transition, I just forgot about this possible option. This may help other users who will have to deal with such a case. Thanks.

[2022-04-29 17:33] akhor93 opened #7220 ""IN" as an equality match gets converted to SQL "IN""
**Node version**: 12.18.3
**Sails version** _(sails)_: 1.4.3
**ORM hook version** _(sails-hook-orm)_: 3.0.2
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_: N/A
**Grunt hook version** _(sails-hook-grunt)_: N/A
**Uploads hook version** _(sails-hook-uploads)_: N/A
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_: sails-postgresql@2.0.0
**S

[2022-04-29 21:03] eashaw commented on #6958
@Lucifer2205 it sounds like the best way to accomplish that would be to validate on the frontend.

[2022-04-29 21:07] eashaw commented on #7218
@refaatgamal can you share how you're configuration for that hook?
https://github.com/KSDaemon/sails-hook-sequelize/tree/d49c653362323ff305cfc69809d7c3c090f172e6#configuration

[2022-04-29 21:23] eashaw commented on #7192
Thank you @cincodenada!

[2022-04-29 21:31] eashaw commented on #7212
Hi @barshan23, We recommend you analyze the action that is being called by the route.

You can start the server with`DEBUG=true sails lift` for more detail in your stack trace.

[2022-04-29 22:04] eashaw commented on #7207
@benoitbzl This is the intended behavior today https://github.com/balderdashy/waterline/blob/98e4b7cf2f16611c56a2542ddb2b92a56928ad94/lib/waterline/utils/query/process-all-records.js#L131-L149

Have you seen this information in our documentation?

I discussed this with @mikermcneil and he recommends using `schema: true`

[2022-04-29 22:10] eashaw commented on #7165
Hi @himankpathak, I was looking at this with @mikermcneil. We realized that there was a gap in the upgrade guide here.

Here's some background on why this is happening:
- https://github.com/balderdashy/sails/issues/6862#issuecomment-535080667
- https://github.com/balderdashy/sails/issues/4414#issuecomment-485955184

Are you seeing this behavior on `sails-postgresql@4.0.0`?

[2022-04-29 22:24] eashaw commented on #7220
Hi @akhor93,

This issue has been brought up before (#6977), and was fixed in `sails-postgresql@3.0.0`.

Can you upgrade your adapter and let us know if you're still having this issue?

[2022-04-29 22:27] eashaw commented on #7067
@jgjay Can you tell us about what you're trying to accomplish?

Would you be able to make a response type that serves a view and use that instead?

[2022-04-29 23:20] akhor93 commented on #7220
Thanks for the help. Upgrading versions does fix my issue with "IN".

[2022-04-29 23:20] #7220 closed

[2022-04-30 21:59] MattGarnettWelsh commented on #5549
Do the limitations in Waterline currently stand at:

- We can only use **select** sub criteria in populates for one-to-many relationships.
- There is no support with this feature for many-to-many.
- The current version (although written as supported in `lib/waterline/utils/query/forge-stage-two-query.js`) doesn't work as per comments above for one-to-one relationships?

[2022-05-01 08:58] himankpathak commented on #7165
Thanks @eashaw for providing the background on this issue.
and yes, this behaviour is occurring with `sails-postgresql@4.0.0`.

[2022-05-01 18:26] tanishqdaiya opened #7221 "[[Documentation]] Minor readme link"
I was having a look at the main [README.md](https://github.com/balderdashy/sails#contribute), and I found in the line

The page the [website link refers to](https://github.com/balderdashy/www.sailsjs.com/issues) is simply not available.

[2022-05-02 10:34] Clm-Roig opened #7222 "[Route Hook] Route hook after not triggered with some res methods"
## What I want to do?

I want to create a custom hook called after some routes on a large REST web API, in order to conditionally remove sensible data on everything we send back to the user. I'm using this page as a reference: https://sailsjs.com/documentation/concepts/extending-sails/hooks/hook-specification/routes

## What's the issue?

The `after` part of the hook is not called (the `before` is

[2022-05-06 17:54] mutaebalqahtani opened #7223 "15 vulnerabilities"
~ % sudo npm install sails -g

changed 229 packages, and audited 230 packages in 1s

1 package is looking for funding
  run `npm fund` for details

15 vulnerabilities (1 low, 7 moderate, 6 high, 1 critical)

To address all issues possible (including breaking changes), run:
  npm audit fix --force

Some issues need review, and may require choosing
a different dependency.

Run `npm audit` for detail

[2022-05-06 19:59] eashaw commented on #7221
Thanks, @tanishqdaiya! We'll get that link updated.

[2022-05-06 21:33] eashaw commented on #7223
Thank you @mutaebalqahtani, we are looking into these.

[2022-05-15 08:58] Clm-Roig commented on #7222
Hi, any update on this please ? :slightly_smiling_face: I will really appreciate a feedback, even a small one, in order to know if I should do a workaround or wait a little.

[2022-05-16 16:18] alexandregyn commented on #2744
Obrigado! isso funcionou para meu projeto mesmo usando o yarn.

[2022-05-17 12:12] latifasaee commented on #4639
@eashaw I'm also facing this error with mysql db, any help
`code: 'E_INVALID_CRITERIA',
    details: 'Cannot `updateOne()` without specifying a more specific `where` clause (the provided `where` clause, `{}`, is too broad).'
  },`

[2022-05-17 14:37] didsome1justdie opened #7224 "Node app not available on localhost after successful lift"
**Node version**:
**Sails version** _(sails)_: 1.2.3
**ORM hook version** _(sails-hook-orm)_: 2.1.1
**Sockets hook version** _(sails-hook-sockets)_: 2.0.0
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:
**Skipper adapter & version** _(e.g. skipper-s

[2022-05-19 10:09] benoitbzl commented on #7207
Hello. For different reasons we cannot use the `schema: true` configuration in our case. We must disable the schema verification and result filtering. This works for the parent documents (attributes are not filtered), but it does not for the populated (child) documents (some attributes are filtered). If this is the intended behavior, it should be clearly stated in the documentation that the  `sche

[2022-05-19 10:26] benoitbzl opened #7225 "sails-mongo: errors using two collections with the same name in two databases"
**Node version**:  14.x
**Sails version** _(sails)_: 1.5.2
**ORM hook version** _(sails-hook-orm)_: 4.0.1
**Sockets hook version** _(sails-hook-sockets)_:
**Organics hook version** _(sails-hook-organics)_:
**Grunt hook version** _(sails-hook-grunt)_:
**Uploads hook version** _(sails-hook-uploads)_:
**DB adapter & version** _(e.g. sails-mysql@5.55.5)_:  sails-mongo@2.0.0
**Skipper adapter & version